<!-- main.html for qualify stage -->
<div class="overlay primary col">
  <h1>Time to schedule a site survey.
    <br><small>What day works for you?</small>
  </h1>
  <div ng-controller="ScheduleCtrl as schedule" ng-init="schedule.init()">
    <fln-calendar config="schedule.config"
     select-fn="schedule.selectDate(date)"
     available-times="schedule.availableTimes">
    </fln-calendar>
  </div>
  <button class="std white tiny center" ng-click="stages.jumpToStep('congrats')">Schedule this later</button>
</div>

<aside class="overlay secondary col sml-full med-full lrg-full full-height">
  <div>
    <strong>What's next?</strong>
  </div>
  <ul>
    <li>Schedule your site survey.</li>
    <li>A site surveyor will come to your house. Someone over 18 must be home to open the door and answer any questions.</li>
    <li>The site surveyor will study your roof as well as your current energy consumption. This will take 1-2 hours, but you only need to be there to answer the door.</li>
    <li>In a few days you'll receive your final system design from our experts.</li>
    <li>Review your professional design, final proposal and contract.</li>
    <li>Sign up and schedule your install.</li>
    <li>Turn it on.</li>
  </ul>
</aside>
