<!-- main.html for qualify stage -->
<div class="overlay primary col" ng-controller="ScheduleCtrl as schedule">
  <div ng-if="schedule.prospect().scheduledTime">
    <div class="col fourth three center">
      <div class="contain">
        <h1>We'll see you then.<br><small>Our solar consultant will be in touch with you to confirm your appointment and answer any questions you may&nbsp;have.</small></h1>
      </div>
      <div class="contain narrow col full center">
        <div class="icon icon-calendar"></div>
        <h1 class="caps">{{form.prospect().scheduledTime.month}} {{form.prospect().scheduledTime.day}}</h1>
        <p>
          {{form.prospect().scheduledTime.weekday}} arrival between {{form.prospect().scheduledTime.start}} to {{form.prospect().scheduledTime.end}}.<br>
          Survey may take 1 &mdash; 2 hours.
        </p>
        <div class="calendar-links caps">
          <span class="display-inline">Add to Calendar</span>
          <a class="display-inline aqua" fln-add-google-event="schedule.eventDetails()">Google</a>
          <a class="display-inline aqua" fln-download-ics="schedule.eventDetails()">Outlook</a>
          <a class="display-inline aqua" fln-download-ics="schedule.eventDetails()">iCal</a>
        </div>
        <div class="icon icon-paper-airplane"></div>
      </div>
    </div>
  </div>

  <div class="col center">
    <div class="contain" ng-if="!schedule.prospect().scheduledTime">
      <h1 ng-if="schedule.prospect().skipped && schedule.prospect().qualified">Congratulations - you qualified!<br><small>A solar consultant will be in touch with you soon to review your custom solar proposal and schedule your solar site&nbsp;survey.</small></h1>
      <h1 ng-if="!schedule.prospect().skipped || !schedule.prospect().qualified">You're one step closer to going&nbsp;solar.<br><small>Our solar consultant will be in touch with you soon to schedule your site survey, then review a final system design for your&nbsp;rooftop.</small></h1>
    </div>
    <div class="contain narrow video-mysc">
      <figure class="video-tray framed">
        <iframe frameborder="0" allowfullscreen src="//www.youtube.com/embed/MXZiwI_0UrM?controls=0&amp;showinfo=0&amp;wmode=transparent"></iframe>
      </figure>
      <p class="small">In the meantime, please visit <a href="https://mysolarcity.com" ng-click="app.notifyTrackerAboutClick('jump_to_mysolarcity')">mysolarcity.com</a> to create an account so that you can stay up to date on the progress of your&nbsp;project.</p>
      <h4><a href="https://mysolarcity.com" ng-click="app.notifyTrackerAboutClick('jump_to_mysolarcity')">Go to MySolarCity</a></h4>
    </div>
    <!-- <p>Did you enjoy this experience? <a>Give us some feedback.</a></p> -->
  </div>
</div>

<aside class="overlay secondary col sml-full med-full lrg-full full-height" ng-controller="ScheduleCtrl as schedule">
  <div class="drop-top">
    <p><strong>How this works:</strong></p>
    <ul class="connect-the-dots">
      <li ng-if="!schedule.prospect().scheduledTime">Schedule your site survey.</li>
      <li>A site surveyor will come to your house. We'll need someone over 18 present for the entirety of the survey, which should last 1-2 hours.</li>
      <li>The site surveyor will study your roof as well as your current energy consumption. The surveyor will need access to the top of your roof as well as your attic to take measurements.</li>
      <li>A few days after your site survey, you'll receive your final system design from our experts.</li>
      <li>Review your professional design, final proposal and sign your contract.</li>
      <li>Sign up and schedule your install.</li>
      <li>Turn it on.</li>
    </ul>
  </div>
</aside>
