<!-- main.html for qualify stage -->
<div class="overlay primary col fourth three"
 ng-init="event = { 
 subject: 'SolarCity site survey',
 location: '',
 begin: '02/09/2015 1:00:00 PM',
 end: '02/09/2015 3:00:00 PM',
 description: 'A site surveyor will come to your house. Someone over 18 must be home to open the door and answer any questions.\nThe site surveyor will study your roof as well as your current energy consumption. This will take 1-2 hours, but you only need to be there to answer the door.'
 }">
  <h1>We'll see you then.</h1>
  <p>Hey. You've taken a big step forward. Give yourself a hand. Seriously. We're happy to have you as part of our solar family.</p>
  <div class="proposal col fifth three">
    <div class="block row center">
      <div class="col full center">
        <div class="icon icon-calendar"></div>
        <!-- <label for="">Your Appointment</label> -->
        <h5>Thursday, 8am to 10am</h5>
        <h1>JAN 16</h1>
        <span class="text tiny caps display-inline">Add to Calendar</span>
        <a class="text tiny caps display-inline aqua" fln-add-google-event="event">Google</a>
        <a class="text tiny caps display-inline aqua" fln-download-ics="event">Outlook</a>
        <a class="text tiny caps display-inline aqua" fln-download-ics="event">iCal</a>
        <div class="icon icon-paper-airplane"></div>
      </div>
    </div>
  </div>

  <div><!-- ODA row -->
      <div><!-- ODA card -->
        <div>(ODA image)</div>
        <div>(ODA name)</div>
        <div>Online Design Assistant</div>
        <div>Call  Chat</div>
      </div>

      <div><!-- ODA message -->
        <p>I’ll be in touch if we need to make any changes to your system design. See you then!</p>
      </div>
  </div>

  <div>(Video here)</div>

</div>
<!-- <div class="overlay secondary col fourth sml-full med-full">
  <p>See what's in store for you at <a>MySolarCity.com</a></p>
  <figure><video src=""></video></figure>
</div> -->
