<!-- main.html for qualify stage -->
<div class="overlay primary col fourth three" ng-controller="CalendarCtrl as calendar">
  <h1>We'll see you then.</h1>
  <p>Hey. You've taken a big step forward. Give yourself a hand. Seriously. We're happy to have you as part of our solar family.</p>
  <div class="proposal col fifth three">
    <div class="block row center">
      <div class="col full center">
        <div class="icon icon-calendar"></div>
        <!-- <label for="">Your Appointment</label> -->
        <h5>Thursday, 8am to 10am</h5>
        <h1>JAN 16</h1>
        <span class="text tiny caps display-inline">Add to Calendar</span>
        <a class="text tiny caps display-inline aqua" fln-add-google-event="calendar.eventDetails()">Google</a>
        <a class="text tiny caps display-inline aqua" fln-download-ics="calendar.eventDetails()">Outlook</a>
        <a class="text tiny caps display-inline aqua" fln-download-ics="calendar.eventDetails()">iCal</a>
        <div class="icon icon-paper-airplane"></div>
      </div>
    </div>
  </div>

  <div><!-- ODA row -->
      <div><!-- ODA card -->
        <div>(ODA image)</div>
        <div>(ODA name)</div>
        <div>Online Design Assistant</div>
        <div>Call  Chat</div>
      </div>

      <div><!-- ODA message -->
        <p>I’ll be in touch if we need to make any changes to your system design. See you then!</p>
      </div>
  </div>

  <div>(Video here)</div>

</div>
<!-- <div class="overlay secondary col fourth sml-full med-full">
  <p>See what's in store for you at <a>MySolarCity.com</a></p>
  <figure><video src=""></video></figure>
</div> -->
