<!-- main.html for qualify stage -->
<div class="overlay primary col" ng-controller="FormCtrl as form">
  <h1 ng-if="form.prospect.qualified !== false">Welcome to the SolarCity family.<br><small>Enter your information to get set up with a solar site survey for your home.</small></h1>
  <h1 ng-if="form.prospect.qualified === false">Hey Waldo, we couldn't find you!<br><small>We could not match the information you submitted. Please check your entries and try again.</small></h1>
  <form name="prospectForm" novalidate>
    <div class="row">
      <div class="col half padded">
        <label for="" class="caps">First name</label>
        <fln-input-first-name hint="First" form="prospectForm"></fln-input-full-name>
      </div>
       <div class="col half padded">
        <label for="" class="caps">Last name</label>
        <fln-input-last-name hint="Last" form="prospectForm"></fln-input-full-name>
      </div>
    </div>
    <div class="row">
      <div class="col half padded">
        <label for="" class="caps">Email address</label>
        <fln-input-email hint="you@domain.com" form="prospectForm"></fln-input-email>
      </div>
      <div class="col half padded">
        <label for="" class="caps">Phone number</label>
        <fln-input-phone hint="(---) --- ----" form="prospectForm"></fln-input-phone>
      </div>
    </div>
    <div class="row center">
      <div class="col half padded center">
        <button class="ib gold" ng-click="form.createContact()" ng-disabled="prospectForm.$invalid">Submit</button>
      </div>
    </div>
  </form>
</div>

<aside class="overlay secondary col sml-full med-full lrg-full full-height">
  <div>
    <strong>What's next?</strong>
  </div>
  <ul>
    <li>Schedule your site survey.</li>
    <li>A site surveyor will come to your house. Someone over 18 must be home to open the door and answer any questions.</li>
    <li>The site surveyor will study your roof as well as your current energy consumption. This will take 1-2 hours, but you only need to be there to answer the door.</li>
    <li>In a few days you'll receive your final system design from our experts.</li>
    <li>Review your professional design, final proposal and contract.</li>
    <li>Sign up and schedule your install.</li>
    <li>Turn it on.</li>
  </ul>
</aside>
