<!-- main.html for qualify stage -->
<div class="overlay primary col fourth three center">
  <h1>You are good to go.</h1>
  <h3>Check out all the awesome that comes with going solar.</h3>
  <div class="proposal col third two">
    <div class="block row top">
      <div class="col third left"></div>
      <div class="col third two right">
        <h4>Your Design</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, veniam laudantium ut</p>
      </div>
    </div>
    <div class="block row">
      <div class="col third left">
        <div class="number cents">9.9</div>
        <div class="unit">Cost per kWh</div>
      </div>
      <div class="col third two right">
        <h4>With Solar</h4>
        <p>Your cost is lower than your current average utility rate of 11.4¢ per kWh.</p>
      </div>
      <hr>
    </div>
    <div class="block row">
      <div class="col third left">
        <div class="number dollars">0</div>
        <div class="unit">Down payment</div>
      </div>
      <div class="col third two right">
        <h4>Free Installation</h4>
        <p>No upfront cost. Pay only for the power your system produces.</p>
      </div>
      <hr>
    </div>
    <div class="block row">
      <div class="col third left">
        <div class="number">24/7</div>
        <div class="unit">Monitoring</div>
      </div>
      <div class="col third two right">
        <h4>We're On It</h4>
        <p>Our system monitoring solution helps ensure your system is running smoothly. It will even alert us if problems arise.</p>
      </div>
      <hr>
    </div>
    <div class="block row">
      <div class="col third left">
        <div class="number cents">0</div>
        <div class="unit">Effort required</div>
      </div>
      <div class="col third two right">
        <h4>On Us</h4>
        <p>We cover everything—design, permits, and repairs for the life of the system.</p>
      </div>
    </div>
    <div class="row right">
      <div class="col third right">
        <button class="text float right tiny">Download PDF</button>
      </div>
    </div>
    <button class="aqua" ng-click="stages.next()">Continue</button>
  </div>
</div>
<div class="overlay secondary col fourth sml-full med-full">
  <p>So what now?</p>
  <p>Learn more about the SolarCity process to give you abundant, clean energy.</p>
  <figure><video src=""></video></figure>
  <div fln-help class="fln-help"></div>
</div>
