<!-- main.html for qualify stage -->
<div ng-controller="ScheduleCtrl as schedule" class="overlay">
  <div class="spinner-tray" ng-show="schedule.isSubmitting">
    <fln-spinner></fln-spinner>
  </div>
  <div class="row center">
  <div class="overlay only primary col fourth three center contain" ng-if="!schedule.prospect.qualified">
    <div class="row padded">
      <div class="col full center" ng-if="!schedule.prospect.invalidTerritory">
        <h1>Sorry, we can't approve your request for financing at this time.
          <br><small>But you can give us a call at (888) 765-2489 to discuss your options, which include adding a co-signer or purchasing the system outright.</small>
        </h1>

        <p>We're always looking to expand our financing options to a broader audience. We'll be in touch if our requirements change. Plus, there are lots of other great ways you can get involved with the solar movement.</p>
      </div>
      <div class="col full center" ng-if="schedule.prospect.invalidTerritory">
        <h1>We haven't made it to {{schedule.prospect.zip}} yet.</h1>

        <p>But you can still get involved with the solar movement, today. Here are some ways to join the SolarCity family.</p>
      </div>
    </div>
    <div class="row padded">
      <div class="col half padded">
        <figure class="video-tray">
          <iframe src="https://player.vimeo.com/video/92755265" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="col half padded">
        <h4><a>Become a Solar Ambassador</a></h4>
        <p>Spread the word about clean more affordable energy from SolarCity and you could earn up to $250 for every referral that installs.</p>
      </div>
    </div>
    <div class="row padded">
      <div class="col half padded">
        <figure class="video-tray framed">
          <iframe frameborder="0" allowfullscreen src="http://www.youtube.com/embed/remJeBMSptE?controls=0&amp;showinfo=0"></iframe>
        </figure>
      </div>
      <div class="col half padded">
        <h4><a>Invest in Solar Bonds</a></h4>
        <p>Help support the growth of solar energy and earn attractive returns. Solar Bonds are open to everyone.</p>
      </div>
    </div>
  </div>

  <div class="overlay primary col"  ng-if="schedule.prospect.qualified">
    <h1>Congratulations &mdash; you qualified!
      <br><small>Now it's time to schedule a visit from one of our in-house site surveyors so we can design a customized system and proposal just for you.</small>
    </h1>
    <button class="std gold" ng-click="schedule.check()">Schedule site survey</button>
    <button class="std white tiny" ng-click="stages.jumpToStep('congrats')">Schedule this later</button>
  </div>

  <aside class="overlay secondary col sml-full med-full lrg-full full-height" ng-if="schedule.prospect.qualified">
    <div class="connect-the-dots-title drop-top">
      <strong>What's next?</strong>
    </div>
    <ul class="connect-the-dots">
      <li>Schedule your site survey.</li>
      <li>A site surveyor will come to your house. Someone over 18 must be home to open the door and answer any questions.</li>
      <li>The site surveyor will study your roof as well as your current energy consumption. This will take 1-2 hours, but you only need to be there to answer the door.</li>
      <li>In a few days you'll receive your final system design from our experts.</li>
      <li>Review your professional design, final proposal and contract.</li>
      <li>Sign up and schedule your install.</li>
      <li>Turn it on.</li>
    </ul>
  </aside>
