<div fln-select></div>
<div fln-modify></div>
<div class="siderail right">
  <div ui-view name="instructions" class="instructions">
    <h3>Edit the shape if needed.</h3>
    <p>You've completed the shape.</p>
    <ul>
      <li>Drag to move any points that are misaligned.</li>
      <li>Click on a point to modify it.</li>
      <li>Add a point by clicking on the line.</li>
    </ul>
    <figure>
      <img src="" alt="">
    </figure>
    <p>You can <a href="#erase">erase this shape</a> to start over, or just <a href="#save">save it for now</a>.</p>
    <button class="ib" ng-click="stages.next()">Next</button>

    <span>areas = {{map.areas}}</span>
    <button ng-click="stages.areaone()">dev select 1</button>
    <button ng-click="stages.areatwo()">dev select 2</button>
  </div>
</div>
<div fln-help></div>
