<div>
  <div ui-view name="instructions" class="instructions">
    <h3>Area one is done.</h3>
    <p>You can choose to trace another sunny area of your roof or click finished to submit this to our design advisors for review.</p>
    <p>Remember: solar panels harvest a lot of energy, so there's no need to overdo it.</p>
    <p>If you want, you can <a>erase this shape</a> to start over, or <a>save it for later</a>.</p>
    <figure><img src="" alt=""></figure>
    <button class="ib gold">Another area</button>
    <button class="ib aqua" ng-click="stages.next()">Finished</button>
  </div>
</div>
