<div>
  <div ui-view name="instructions" class="instructions">
    <h4>Success! Your system design is complete.</h4>
    <p>Bet you never thought you'd be designing solar systems in your spare time.</p>
    <p>Now let's see if you qualify for our solar financing and then generate your customized solar proposal.</p>
    <!-- <figure><img src="" alt=""></figure> -->
    <!-- <button class="ib gold">Another area</button> -->
    <button class="ib aqua" ng-click="stages.next()">Finished</button>
  </div>
</div>
