<fln-roofpeak></fln-roofpeak>

<fln-expander>
  <div ui-view name="instructions" class="instructions">
    <h4>Select a line or point to identify the peak of your&nbsp;roof.</h4>
    <figure class="no-mobile">
      <img src="../img/config_example_peak-01.svg" alt="Indicate the highest point or side of the shape.">
    </figure>
    <p>This will help us determine what direction your panels will face. If your roof is flat, select the (top) northernmost line.</p>
    <div class="actionbar">
      <button class="gold" ng-disabled="!roof_peak_chosen" ng-click="stages.next() && app.notifyTrackerAboutClick('roof_alignment_determined')" ng-hide="">Next</button>
      <button class="tiny white" fln-omap-clear-poly>Redo</button>
    </div>
  </div>
</fln-expander>
