<fln-roofpeak></fln-roofpeak>

<div class="position-relative">
  <div ui-view name="instructions" class="instructions">
    <h4>Now, identify the peak of your roof.</h4>
    <p>We need to determine the direction your panels will face. Select the highest point or line of this area of your roof.</p>
    <figure>
      <img src="img/highpoint.gif" alt="Indicate the highest point or side of the shape" loop=infinite>
    </figure>
    <button class="gold" ng-click="stages.next()" ng-hide="">Next</button>
  </div>
</div>
