<fln-roofpeak></fln-roofpeak>

<fln-expander>
  <div ui-view name="instructions" class="instructions">
    <h4>Select a point or line to identify the peak of your&nbsp;roof.</h4>
    <figure class="no-mobile">
      <img src="../img/config_example_peak-01.svg" alt="Indicate the highest point or side of the shape." loop=infinite>
    </figure>
    <p>This will help us determine what direction your panels will face.</p>

    <button class="gold" ng-hide="!roof_peak_chosen" ng-click="stages.next()" ng-hide="">Next</button>
  </div>
</fln-expander>
