<fln-modify></fln-modify>

<fln-expander>
  <div ui-view name="instructions" class="instructions sml-center lrg-left">
    <h4 class="no-mobile">Drag any point to adjust your&nbsp;design as needed.</h4>
    <h4 class="only-mobile">Drag any point to adjust your&nbsp;design as needed.</h4>
    <!-- <p>Tap and drag any line to adjust your design. If you'd like to start over, tap the redo button below.</p> -->
    <figure class="no-mobile">
      <img src="../img/config_example_edit-01.svg" alt="Tweak the shape to fit your roof.">
    </figure>
    <p class="no-mobile">If you'd like to start over, tap the redo button below.</p>
    <div class="row">
      <div class="col sml-half lrg-full">
        <button class="tiny white" fln-omap-clear-poly ng-click="app.notifyTrackerAboutClick('redoing_design')">Redo</button>
      </div>
      <div class="col sml-half lrg-full">
        <button class="gold" ng-click="stages.next()">Next</button>
      </div>
    </div>
  </div>
</fln-expander>
