<fln-draw>
  <fln-follow-tip tip=""></fln-follow-tip>
</fln-draw>
<!-- <fln-control-zoom></fln-control-zoom> -->
<!-- <fln-control-pan></fln-control-pan> -->
<fln-expander>
  <div ui-view name="instructions" class="instructions">
    <h4 class="no-mobile">Click to outline a sunny section of your&nbsp;roof.</h4>
    <h4 class="only-mobile sml-left">Tap the corners of a single, sunny section of&nbsp;your&nbsp;roof.</h4>
    <figure class="no-mobile">
      <img src="../img/config_example_trace-01.svg" alt="Trace the sunny part of your roof.">
    </figure>
    <p class="no-mobile">Trace a single section of your roof for your panel placement. Start by clicking at one corner, then click another corner until you complete the&nbsp;shape.</p>

    <!-- TO DO: There should not be any button here. The user completes the trace and gets automatically taken to the edit step. -->
    <button class="gold" ng-disabled="!traced" ng-click="stages.jumpToStep('edit-area')">Next</button>
  </div>
</fln-expander>
