<fln-draw>
  <fln-follow-tip tip=""></fln-follow-tip>
</fln-draw>
<fln-control-zoom></fln-control-zoom>
<fln-control-pan></fln-control-pan>
<div class="position-relative">
  <div ui-view name="instructions" class="instructions">
    <h4>Trace one flat section of your roof for your panel placement.</h4>
    <p>Start by clicking at one corner of the section, then click another corner. Each click will place points. The tool will connect the dots for you. You can always adjust them later if you want.</p>
    <figure><img src="../img/config_example_trace.svg" alt="Trace the sunny part of your roof." loop=infinite></figure>
    <p>Remember to choose the section that gets the best sunlight from the south.</p><br><br>

    <!-- TO DO: THere should not be any button here. The user completes the trace and gets automatically taken to the edit step. -->
    <button class="gold" ng-hide="!traced" ng-click="stages.jumpToStep('edit-area')">Next</button>
  </div>
</div>
