<div class="controls dragpan" fln-dragpan></div>
<div class="controls zoom" fln-control-zoom></div>
<div class="siderail right">
  <div ui-view name="instructions" class="instructions">
    <h3>Locate the sunny spot.</h3>
    <p>Typically, the southern-facing area of your roof will get the most sunlight. Imagine the sunlight coming from the bottom part of your screen.</p>
    <p>Make sure your house is pictured here and in the center. Zoom out to make sure this area of your roof is not cut off.</p>

    <p><a href="#save">Save for now</a> or click next to trace the sunny area.</p>
    <button class="ib" ng-click="stages.next()">Next</button>
  </div>
</div>
