$serif: Georgia, serif;
$sans-serif: "gudea-sans", "Helvetica Neue", serif;
$geometric: "soleil", "Helvetica Neue", sans-serif;
$helvetica: "Helvetica Neue", sans-serif;

$font-body: $sans-serif;
$font-headline: $geometric;
$font-interface: $geometric;
