$height-line: 1.375em;

$width-em: 16px;
$width-page: 60em;       // 960px/16

$width-min-sml: 15em;    // 240px/16
$width-min-med: 33.5em;  // 536px/16
$width-min-lrg: 48em;    // 768px/16
$width-min-xlg: 64em;    // 1024px/16
$width-min-xxl: 80em;    // 1280px/16
$width-min-hd: 120em;    // 1280px/16