<!-- main.html for qualify stage -->
<div fln-share class="overlay only col full center step-proposal">
  <div class="contain row padded">
    <div class="col full center">
      <h1>You may be eligible to go solar for $0 down.<br><small>Based on the system you designed and your average monthly bill of <span id="current_bill" class="dollars">{{ share.numbers.bill | number: 0 }}</span>, here is your custom solar proposal.</small></h1>
    </div>
  </div>
  <div class="contain proposal row">
    <div fln-panelfill class="col fifth two">
      <!-- TODO: render the design here instead of this placeholder -->
    </div>
    <div class="col fifth three">
      <div class="row">
        <div class="col third center padded utes">
          <label for="current_rate">Current Utility Cost</label>
          <figure>
            <span id="current_rate" class="cents">{{ 100* share.numbers.utilityRate | number: 1 }}</span>
          </figure>
          <label class="units">per kwh average in<br>your zip code</label>
        </div>
        <div class="col third center padded">
          <label for="scty_rate">SolarCity Cost</label>
          <figure>
            <span id="scty_rate" class="cents">{{ 100 * share.numbers.sctyRate | number: 1 }}</span>
          </figure>
          <label class="units">per kWh with our recommended financing plan</label>
        </div>
        <div class="col third center padded">
          <label for="est_savings">Estimated Savings</label>
          <figure>
            <span id="est_savings" class="dollars">{{ share.numbers.firstYearSavings | number: 0 }}</span>
          </figure>
          <label class="units">year one</label>
        </div>
        <div class="col third center padded utes">
          <label for="ppa_plan">Current Electricity Bill</label>
          <figure>
            <span id="monthly_bill" class="dollars">{{share.numbers.bill}}</span>
          </figure>
          <label class="units">in a typical month</label>
        </div>
        <div class="col third center padded">
          <label for="ppa_plan">No Upfront Cost</label>
          <figure>
            <span id="ppa_plan" class="dollars">{{share.numbers.upfrontCost}}</span>
          </figure>
          <label class="units">with our recommended<br>financing plan</label>
        </div>
        <div class="col third center padded">
          <label for="power_ratio_chart">Estimated Energy Mix</label>
          <figure class="chart-tray">
            <canvas id="power_ratio_chart" width="48" height="48" class="pie"></canvas>
          </figure>
          <label class="units">{{ share.numbers.percentSolar | number: 0 }}%  solar power<br>{{ share.numbers.percentUtility | number: 0 }}% utility power</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row padded-less proposal-button-tray" ng-controller="ModalCtrl as modal">
    <div class="col full center">
      <div class="financing-options-bar">After completing your site survey, we will send you your final system design and proposal with available <a ng-click="modal.showDialog({dialog: 'financing', data: ''})">financing options</a>.</div>
    </div>
  </div>

  <!-- <hr class="jump-down"> -->
  <div class="contain row">
    <div class="col full center">
      <div class="down-blk"></div>
    </div>
  </div>

  <div class="contain row padded benefits">
    <div class="col full center">
      <h1><small>Signing up with America's #1 full-service solar provider means premium service every step of the&nbsp;way.</small></h1>
    </div>
    <br>
    <div class="col half padded">
      <div class="row">
        <div class="col fifth center">
          <span class="icon house"></span>
        </div>
        <div class="col fifth four">
          <strong>Unmatched aesthetics</strong>
          <p>Reducing your home’s energy costs shouldn’t reduce its curb appeal. Our industry leading mounting system seamlessly integrates with your roof for a low-profile design that gives your home a sleek look.</p>
        </div>
      </div>
    </div>
    <div class="col half padded">
      <div class="row">
        <div class="col fifth center">
          <span class="icon coin"></span>
        </div>
        <div class="col fifth four">
          <strong>Ongoing rewards</strong>
          <p>We make sharing the benefits of clean energy easy and fun. Our Solar Ambassador program rewards you for every referral who signs up with SolarCity. You can build a business and help the environment!</p>
        </div>
      </div>
    </div>
    <div class="col half padded">
      <div class="row">
        <div class="col fifth center">
          <span class="icon document"></span>
        </div>
        <div class="col fifth four">
          <strong>Lifetime system protection</strong>
          <dl class="horizontal">
            <dt>System monitoring</dt>
            <dd>Our exclusive 24-7 monitoring ensures your system is always working. It'll even alert us if problems arise.</dd>
            <dt>Complete coverage</dt>
            <dd>We cover any damage and take care of repairs for the life of our agreement.</dd>
            <dt>Performance guarantee</dt>
            <dd>We make sure the system is protected and performing as promised. It's clean energy with no worries!</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col half padded">
      <div class="row">
        <div class="col fifth center">
          <span class="icon bulb"></span>
        </div>
        <div class="col fifth four">
          <strong>Environmental</strong>
          <p>The average SolarCity solar power system will offset 30 tons of carbon dioxide over 30 years*, saving the equivalent of:</p>
          <ul>
            <li>Avoiding 60,000 miles driven</li>
            <li>Planting 2,400 trees</li>
            <li>Avoiding 80,000 gallons of water used in electricity production</li>
            <li>Avoiding 16 tons of burned coal</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col half padded">
      <div class="row">
        <div class="col fifth center">
          <span class="icon graph"></span>
        </div>
        <div class="col fifth four">
          <strong>Cutting-edge insights</strong>
          <p>Our custom app lets you see everything from system production to home energy consumption to when your site surveyor is scheduled to arrive. It's a one-stop shop to keep everything you need to know about your system in the palm of your hand.</p>
        </div>
      </div>
    </div>
    <div class="col half padded">
      <div class="row">
        <div class="col fifth center">
          <span class="icon palm"></span>
        </div>
        <div class="col fifth four">
          <strong>GivePower</strong>
          <p>Your choice can have an impact beyond borders. Each megawatt of residential solar energy installed by SolarCity allows our GivePower program to bring sustainable light to a school without electricity. Our customers have helped provide solar energy and light to over 400 schools and counting.</p>
        </div>
      </div>
    </div>
  </div>
  <fln-fine-print>
    <p>The figures on this page are only estimates, subject to change after review from a solar consultant. System size and production may be affected by shading, roof type, compliance fire codes and other factors.</p>
    <p>*Based on SolarCity average system size of 6.7 kW and 1403 kWh average first year production degraded by .5% annually over 30 years. Environmental benefits based on data collected from: Environmental Protection Agency, September 2014, Calculations and References, US Energy Administration, January 2014, National Renewable Energy Laboratory, December 2003, “Consumptive Water Use for US Power Production”, and EPA eGRID GHG Annual Output Emissions Rates 2009.</p>
  </fln-fine-print>
</div>
