<div class="style-guide-page">
  <h1>Flannel Style Guide <small>How to write markup that leverages Flannel's CSS</small></h1>
  <section>
    <h2>The Fractional Grid</h2>
    <div class="row">
      <div class="col half">
        <h3>Fractions</h3>
        <p><strong>The Fractional Grid</strong> is<aside>surprise, surprise</aside>built upon the concept of fractions. In it you'll layer <code>.row</code>'s containing fractional <code>.col</code>'s like:
          <ul>
            <li><code>.col.full</code></li>
            <li><code>.col.sixth.fifth</code></li>
            <li><code>.col.fifth.four</code></li>
            <li><code>.col.fourth.three</code></li>
            <li><code>.col.third.two</code></li>
            <li><code>.col.fifth.three</code></li>
            <li><code>.col.half</code></li>
            <li><code>.col.fifth.two</code></li>
            <li><code>.col.third</code></li>
            <li><code>.col.fourth</code></li>
            <li><code>.col.fifth</code></li>
            <li><code>.col.sixth</code></li>
          </ul>
        </p>
      </div>
      <div class="col half">
        <h3>Responsiveness</h3>
        <p>The other main benefit of the fractional grid is how it responds to <a href="https://css-tricks.com/snippets/css/media-queries-for-standard-devices/">an infinite variety of screen widths</a>. Flannel CSS is sensitive to screen widths, allowing you the content/markup author to dial in the layout for just about any screen without writing a lick of CSS.
          <ul>
            <dt>XSM</dt>
            <dd>&lt;240px - Remember flip phones?</dd>
            <dt>SML</dt>
            <dd>&lt;360px - Most modern smartphones</dd>
            <dt>MED</dt>
            <dd>&lt;536px - Phablets, Plusses, Notes, VGA</dd>
            <dt>LRG</dt>
            <dd>&lt;768px - Tablets, iPads, SVGA</dd>
            <dt>XLG</dt>
            <dd>&lt;1024px - Laptops, XGA</dd>
            <dt>XXL</dt>
            <dd>&lt;1280px - Big laptops</dd>
            <dt>UHD</dt>
            <dd>&lt;1920px - Big desktop displays, HDTVs</dd>
          </ul>
        </p>

      </div>
    </div>
  </section>
</div>
