@import "colors";
@import "fonts";
@import "motion";
@import "functions";
@import "typography";

@mixin btn($color: $color-button-bkgd, $size: 0.9rem, $corners: #{1.5em/50%}, $pad: #{1em 2em 1em}) {

  @include apercu-medium;
  @include caps;
  font-size: $size;
  text-align: center;
  line-height: 1;

  display: block;
  width: auto;
  min-width: 7.5em;
  height: auto;
  margin: 1em auto;

  color: $white;
  background-color: $color;

  padding: $pad;

  outline: none;
  border-width: 0;
  border-radius: $corners;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;

  vertical-align: middle;
  white-space: no-wrap;

  transition: all .075s $easing-quick;
  transition: background-color .1s $easing-quick;

  @if $color == $white {
    // @include apercu-light;
    color: $grey-dark;
    background-color: $color;
  }

  @if $color == $tint-80 {
    // @include apercu-light;
    color: $aqua-dark;
    border: 3px solid $aqua-dark;
    background-color: $color;
  }

  @if trim-unit($size) < 1 {
    letter-spacing: 1px;
  }

  &:hover {
    color: $white;
    background-color: lighten($color, 3%);

    @if $color == $white {
      color: $grey-darker;
      background-color: darken($color, 3%);
    }
  }

  &:active:not(:disabled) {
    color: $white;
    background-color: lighten($color, 3%);

    @if $color == $white {
      color: $grey-darker;
      background-color: darken($color, 3%);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $grey-mid;
    border-color: darken($grey-mid, 25%);
    color: $grey-lightest;
  }

  &.doubledecker {
    border-radius: 2.125em/50%;
  }
}
