@import "colors";
@import "fonts";
@import "motion";
@import "functions";
@import "typography";

@mixin btn($color: $color-button-bkgd, $corners: #{1.8em/50%}, $pad: #{1.3em 2.6em 1.3em}) {

  @include apercu-medium;
  @include caps;
  font-size: .83rem;
  text-align: center;
  line-height: 1;

  display: block;
  width: auto;
  min-width: 7.5em;
  height: auto;
  margin: 1em auto;
  padding: $pad;

  color: $white;
  background-color: $color;

  outline: none;
  border-width: 0;
  border-radius: $corners;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;

  vertical-align: middle;
  white-space: no-wrap;

  transition: all .075s $easing-quick;
  transition: background-color .1s $easing-quick;

  @if $color == $white {
    color: $grey-mid;
    background-color: $color;
    border: 1px solid $grey-light;
  }

  @if $color == tint(.8) {
    color: darken($teal, 0.3);
    border: 3px solid darken($teal, 0.3);
    background-color: $color;
  }

  &:hover {
    color: $white;
    background-color: lighten($color, 3%);
    box-shadow: none;

    @if $color == $white {
      color: $grey-dark;
      border-color: $grey-mid;
      background-color: darken($color, 1%);
    }
  }

  &:active:not(:disabled) {
    color: $white;
    background-color: lighten($color, 3%);
    box-shadow: none;

    @if $color == $white {
      color: $grey-darker;
      background-color: darken($color, 3%);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $grey-medium;
    border-color: darken($grey-mid, 25%);
    color: $white;
  }

  &.doubledecker {
    border-radius: 2.125em/50%;
  }
}
