@import "functions";

// COLOR FUNCTIONS
@function grey($light: 50%) {
  @return lighten(black, 100% - $light);
}

@function shade($opacity: .5) {
  @return transparentize($black, 1 - $opacity);
}

@function tint($opacity: .5) {
  @return transparentize($white, 1 - $opacity);
}

@function glass($hue: $grey-medium) {
  @return transparentize($hue, 0.07);
}

@function bright($hue: $gold) {
  @return saturate(lighten($hue, 20%), 10%);
}

@function dark($hue: $blue) {
  @return desaturate(darken($hue, 40%), 10%);
}

// TODO: find a place for these in the above spectra
// these are being used below for error states
$ginger:           #d94a26;  // rgb(217, 074, 038)  hsl(12.1, 70.2%, 50%)
$orange:           #ed8022;  // rgb(237, 128, 034)  hsl(27.8, 84.9%, 53.1%)
$orange:           #ed8022;  // rgb(237, 128, 034)  hsl(27.8, 84.9%, 53.1%)
$flesh:            #f1d0b3;  // rgb(241, 208, 179)  hsl(28.1, 68.9%, 82.4%)
$cream:            #fcf4e6;  // rgb(252, 242, 232)  hsl(30, 76.9%, 94.9%)

// TODO: tune the new greyscale to fit these greys
// obsolete with the new grey/gray functions
$white:            #ffffff;  // rgb(255, 255, 255)  hsl(0, 0%, 100%)
$white-off:        #f7f7f7;  // rgb(255, 255, 255)  hsl(0, 0%, 100%)
$white-dark:       #f4f5f5;  // rgb(244, 245, 245)
$grey-lightest:    #f0f2f3;  // rgb(234, 239, 236)
$grey-lighter:     #d9d9d9;  // rgb(217, 217, 217)  hsl(0, 0%, 85%)
$grey-light:       #c0c2c3;  // rgb(179, 179, 179)  hsl(0, 0%, 70%)
$grey-medium:      #cccccc;  // rgb(204, 204, 204)
$grey-mid:         #999999;  // rgb(153, 153, 153)
$grey-dark:        #5f5f5f;  // rgb(095, 095, 095)  hsl(0, 0%, 37%)
$grey-darker:      #333333;  // rgb(051, 051, 051)  hsl(0, 0%, 20%)
$grey-darkest:     #171717;  // rgb(023, 023, 023)  hsl(0, 0%, 9%)
$black:            #000000;  // rgb(000, 000, 000)  hsl(0, 0%, 0%)

//////////////////////////////////////////////////
// SCTY BRAND PALETTE
$brand-logo:       #00B675;  // rgb(023, 193, 136)
$brand-flora:      #00D797;  // rgb(000, 215, 151)
$brand-cerulean:   #1EDFE6;  // rgb(030, 223, 230)
$brand-rain:       #4887FF;  // rgb(072, 135, 255)
$brand-atmosphere: #AD3EF5;  // rgb(173, 062, 245)
$brand-fire:       #E04E39;  // rgb(240, 105, 083)
$brand-sun:        #FFC003;  // rgb(255, 189, 072)

// BASE HUE SPECTRUM
$red:              $brand-fire;
/* $orange: */
$gold:             $brand-sun;
$green:            $brand-logo;
$teal:             $brand-cerulean;
$blue:             $brand-rain;
/* $indigo: */
$violet:           $brand-atmosphere;

// BRIGHTENED SPECTRUM
$red-bright:       lighten($red, 20%);
$gold-bright:      lighten($gold, 20%);
$green-bright:     $brand-flora;
$teal-bright:      lighten($teal, 20%);
$blue-bright:      lighten($blue, 20%);
$violet-bright:    lighten($violet, 20%);

// DARKENED SPECTRUM
$red-dark:         dark($red);
$gold-dark:        dark($gold);
$green-dark:       dark($green);
$teal-dark:        dark($teal);
$blue-dark:        dark($blue);
$violet-dark:      dark($violet);

// BURNT SPECTRUM
$red-ash:          desaturate(darken($red, 30%), 55%);
$gold-ash:         desaturate(darken($gold, 30%), 55%);
$green-ash:        desaturate(darken($green, 30%), 55%);
$teal-ash:         desaturate(darken($teal, 30%), 55%);
$blue-ash:         desaturate(darken($blue, 30%), 70%);
$violet-ash:       desaturate(darken($violet, 30%), 55%);

// PALED SPECTRUM
$red-pale:         desaturate(lighten($red, 20%), 20%);
$gold-pale:        desaturate(lighten($gold, 40%), 35%);
$green-pale:       desaturate(lighten($green, 20%), 20%);
$teal-pale:        desaturate(lighten($teal, 20%), 20%);
$blue-pale:        desaturate(lighten($blue, 40%), 20%);
$violet-pale:      desaturate(lighten($violet, 20%), 20%);

// GRÆYSCALE
$white:            grey(0%);
$white-off:        grey(1%);
$white-dark:       grey(2%);
// $grey-lightest:    grey(5%); This is already defined above.
$grey-lighter:     grey(15%);
// $grey-light:       grey(30%); This is already defined above.
$grey-medium:      grey(40%);
$grey:             grey(50%);
$grey-mid:         grey(50%);
$grey-dark:        grey(63%);
$grey-darker:      grey(80%);
$grey-darkest:     grey(91%);
$black:            grey(100%);

// light effects based on our spectrum
// default interface colors
$color-text-main:            $grey-darker;
$color-border-main:          $grey-lighter;
$color-bkgd-main:            $white;
$color-bkgd-footer:          $grey-lightest;
$color-bkgd-primary:         $white;

$color-link-main:            $green;
$color-link-visited-main:    $green;

$color-selection:            $white;
$color-selection-bkgd:       darken($green, 0.2);

$color-input-text:           $grey-darker;
$color-input-bkgd:           $white-dark;
$color-input-bkgd-focus:     $white;
$color-headline-text:        $grey-darker;

$color-text-inverse:         $white;
$color-border-inverse:       $white;
$color-bkgd-inverse:         $grey-darkest;
$color-link-inverse:         $green;
$color-link-visited-inverse: $green-bright;

$color-error-text:           $red;
$color-error-bkgd:           $gold-pale;
$color-input-invalid-text:   $grey-darker;
$color-input-invalid-bkgd:   lighten($gold, 42%);

$color-button-bkgd:          $grey-medium;

$color-header-text:          $white;
$color-header-bkgd:          $grey-darker;
$color-header-shadow:        transparentize($grey-darker, 0.5);

$color-chat-trigger:         $blue-ash;

$color-dev-tools:            glass($grey-darkest);
$color-oda-tools:            glass($blue-dark);

$shadow-input: 0px 0px 4px rgba(0,0,0,0.15);
