@mixin icon($icon) {
  height: 1.5em;
  width: 1.5em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/#{$icon}.svg');
}
