<div class="chat-buttons">
  <button id="liveagent_button_online_57319000000CaTc" class="btn tiny green toggle-help liveagent-online">Agent available</button>
  <button id="liveagent_button_offline_57319000000CaTc" class="btn tiny green toggle-help liveagent-offline" ng-show="chat.offline">Contact us</button>
</div>
<!--Chat box will be generated in this container-->

<div id="chat-tray" class="chat-tray" ng-show="chat.shown">
  <iframe id="live_agent_chat" name="live_agent_chat"></iframe>
</div>
