<div class="dev-controls">
  <h2>dev tools</h2>
  <a class="btn orange" ng-click="dev.resetForm()">Reset form</a>
  <a class="btn red" ng-click="dev.reloadApp()">Reset &amp; Reload</a>
  <!-- <a class="btn red" ui-sref="home">Reload app</a> -->

  <div>
    <h4 for="stageSelector">Jump to a stage</h4>
    <select id="stageSelector"
            multiple
            size="14"
            ng-model="stages.partial"
            ng-options="s for s in stages.partials"
            ng-init="stages.partial = stages.partials[0]">
      </select>
  </div>

  <div class="row">
    <div class="col half">
      <button class="tiny gold" ng-click="stages.prev()">Back</button>
    </div>
    <div class="col half">
      <button class="tiny gold" ng-click="stages.next()">Next</button>
    </div>
  </div>

  <div>
    <h4>Current prospect info:</h4>
    <label class="inline" for="dev_zip">
      <span>zip</span>
      <input type="tel" id="dev_zip" ng-model="dev.prospect.zip">
    </label>
    <label class="inline" for="dev_city">
      <span>city</span>
      <input type="text" id="dev_city" ng-model="dev.prospect.city">
    </label>
    <label class="inline" for="dev_state">
      <span>state</span>
      <input type="text" id="dev_state" ng-model="dev.prospect.state">
    </label>
    <label class="inline" for="dev_street">
      <span>street address</span>
      <input type="text" id="dev_street" ng-model="dev.prospect.street">
    </label>
    <label class="inline" for="dev_bill">
      <span>bill</span>
      <input type="tel" id="dev_bill" ng-model="dev.prospect.bill">
    </label>
    <label class="inline" for="dev_utilityRate">
      <span>utility rate</span>
      <input type="tel" id="dev_utilityRate" ng-model="dev.prospect.utilityRate">
    </label>
    <label class="inline" for="dev_sctyRate">
      <span>scty rate</span>
      <input type="tel" id="dev_sctyRate" ng-model="dev.prospect.sctyRate">
    </label>
    <label class="inline" for="dev_warehouseId">
      <span>warehouse ID</span>
      <input type="tel" id="dev_warehouseId" ng-model="dev.prospect.warehouseId">
    </label>
    <label class="inline" for="dev_utilityId">
      <span>utility ID</span>
      <input type="tel" id="dev_utilityId" ng-model="dev.prospect.utilityId">
    </label>
    <label class="inline" for="dev_annualConsumption">
      <span>annual consumption</span>
      <input type="tel" id="dev_annualConsumption" ng-model="dev.prospect.annualConsumption">
    </label>
    <label class="inline" for="dev_annualProduction">
      <span>annual production</span>
      <input type="tel" id="dev_annualProduction" ng-model="dev.prospect.annualProduction">
    </label>
    <label class="inline" for="dev_kwhPerKw">
      <span>kWh per kW</span>
      <input type="tel" id="dev_kwhPerKw" ng-model="dev.prospect.kwhPerKw">
    </label>
    <label class="inline" for="dev_firstYearSavings">
      <span>first year savings</span>
      <input type="tel" id="dev_firstYearSavings" ng-model="dev.prospect.firstYearSavings">
    </label>
    <label class="inline" for="dev_percentSolar">
      <span>percent solar</span>
      <input type="tel" id="dev_percentSolar" ng-model="dev.prospect.percentSolar">
    </label>
    <label class="inline" for="dev_percentUtility">
      <span>percent utility</span>
      <input type="tel" id="dev_percentUtility" ng-model="dev.prospect.percentUtility">
    </label>
    <label class="inline" for="dev_firstName">
      <span>first name</span>
      <input type="text" id="dev_firstName" ng-model="dev.prospect.firstName">
    </label>
    <label class="inline" for="dev_lastName">
      <span>last name</span>
      <input type="text" id="dev_lastName" ng-model="dev.prospect.lastName">
    </label>
    <label class="inline" for="dev_email">
      <span>email</span>
      <input type="email" id="dev_email" ng-model="dev.prospect.email">
    </label>
    <label class="inline" for="dev_phone">
      <span>phone</span>
      <input type="tel" id="dev_phone" ng-model="dev.prospect.phone">
    </label>
    <label class="inline" for="dev_dob">
      <span>dob</span>
      <input type="text" id="dev_dob" ng-model="dev.prospect.dob">
    </label>
  </div>

  <h4>App status</h4>
  <ul>
    <li ng-show="{{view_sync}}">View synced</li>
    <li ng-hide="{{view_sync}}">View not synced</li>
  </ul>

</div>

<a class="dev-trigger" ng-click="toggleDevPanel()">{{panelShownTriggerText}}</a>
