<button
  id="liveagent_button_online_573180000008OIF"
  class="trigger-bar toggle-help liveagent-online"
  ng-click="toggleShown()">
  Contact us for help
  <span class="icon up" ng-hide="shown"></span>
  <span class="icon down" ng-show="shown"></span>
</button>
<button
  id="liveagent_button_offline_573180000008OIF"
  class="trigger-bar toggle-help liveagent-offline" ng-show="chat.offline">
  Contact us
  <span class="icon up" ng-hide="shown"></span>
  <span class="icon down" ng-show="shown"></span>
</button>
<div class="row">
  <div class="col full center" ng-controller="ModalCtrl as modal">
    <!--Chat box will be generated in this container-->
    <div id="chat-tray" class="chat-tray" ng-show="chat.shown">
      <iframe id="live_agent_chat" name="live_agent_chat" class="chatframe"></iframe>
    </div>
  </div>
</div>
