<div class="dev-controls">
  <h2>ODA Toolbox</h2>
  <ul>
    <h4>Jump to:</h4>
    <a class="btn blue" ng-click="oda.jumpToHome()">Find Home</a>
    <a class="btn blue" ng-click="oda.jumpToConfigurator()">Start Configurator</a>
    <a class="btn blue" ng-click="oda.jumpToProposal()">View Proposal</a>
    <a class="btn blue" ng-click="oda.jumpToSchedule()">Schedule Survey</a>
  </ul>
  <dl class="row" ng-show="dev.prospect().utilityRate">
    <div class="col half">
      <dt>percent utility</dt>
      <dd>{{ dev.prospect().percentUtility }}%</dd>
      <dt>utility rate</dt>
      <dd class="cents">{{ dev.prospect().utilityRate | number: 2 }}</dd>
      <dt>utility ID</dt>
      <dd>{{ dev.prospect().utilityId }}</dd>
      <dt>warehouse ID</dt>
      <dd>{{ dev.prospect().warehouseId }}</dd>
      <dt>average yield</dt>
      <dd>{{ dev.prospect().averageYield }} kWh/kW/year</dd>
      <dt>panels</dt>
      <dd>{{ dev.prospect().panelCount }} panels @ {{ dev.prospect().panelCapacity }} kW/panel</dd>
    </div>
    <div class="col half">
      <dt>percent solar</dt>
      <dd>{{ dev.prospect().percentSolar }}%</dd>
      <dt>scty rate</dt>
      <dd class="cents">{{ dev.prospect().sctyRate | number: 2 }}</dd>
      <dt>annual consumption</dt>
      <dd>{{ dev.prospect().annualConsumption | number: 0 }} kWh</dd>
      <dt>system size</dt>
      <dd>{{ dev.prospect().systemSize | number: 2 }} kW</dd>
      <dt>annual production</dt>
      <dd>{{ dev.prospect().annualProduction}} kWh/year</dd>
      <dt>first year savings</dt>
      <dd class="dollars">{{ dev.prospect().firstYearSavings | number: 2}}</dd>
    </div>
  </dl>
  <hr>
  <div>
    <h4>Top Down View of Customer's Rooftop</h4>
    <div id="odapindrop" style="height: 300px; width: 300px;"></div>
  </div>
  <div>
    <h4>Current prospect info:</h4>
    <label class="inline" for="dev_zip">
      <span>zip</span>
      <input type="tel" id="dev_zip" ng-model="dev.prospect().zip">
    </label>
    <label class="inline" for="dev_city">
      <span>city</span>
      <input type="text" id="dev_city" ng-model="dev.prospect().city">
    </label>
    <label class="inline" for="dev_state">
      <span>state</span>
      <input type="text" id="dev_state" ng-model="dev.prospect().state">
    </label>
    <label class="inline" for="dev_street">
      <span>street address</span>
      <input type="text" id="dev_street" ng-model="dev.prospect().street">
    </label>
    <label class="inline" for="dev_bill">
      <span>bill</span>
      <input type="tel" id="dev_bill" ng-model="dev.prospect().bill">
    </label>
    <label class="inline" for="dev_firstName">
      <span>first name</span>
      <input type="text" id="dev_firstName" ng-model="dev.prospect().firstName">
    </label>
    <label class="inline" for="dev_lastName">
      <span>last name</span>
      <input type="text" id="dev_lastName" ng-model="dev.prospect().lastName">
    </label>
    <label class="inline" for="dev_email">
      <span>email</span>
      <input type="email" id="dev_email" ng-model="dev.prospect().email">
    </label>
    <label class="inline" for="dev_phone">
      <span>phone</span>
      <input type="tel" id="dev_phone" ng-model="dev.prospect().phone">
    </label>
    <label class="inline" for="dev_dob">
      <span>dob</span>
      <input type="text" id="dev_dob" ng-model="dev.prospect().dob">
    </label>
  </div>
</div>

<a class="oda-trigger" ng-click="toggleOdaPanel()">{{odaPanelShownTriggerText}}</a>
