<div class="row">
  <div class="col half padded">
    <div class="row">
      <a href="https://www.pinterest.com/solarcity/" target="_blank" alt="Pinterest" class="col float right social-link icon pinterest"></a>
      <a href="https://plus.google.com/+solarcity/" target="_blank" alt="Google" class="col float right social-link icon googleplus"></a>
      <a href="https://twitter.com/solarcity" target="_blank" alt="Twitter" class="col float right social-link icon twitter"></a>
      <a href="https://www.facebook.com/solarcity" target="_blank" alt="Facebook" class="col float right social-link icon facebook"></a>
    </div>
  </div>
  <div class="col half padded">
    <p class="small">Help us get the word out. Follow us online and spread the SolarCity love.</p>
  </div>
</div>
