<div class="contain narrow row center">
  <div class="col">
    <p class="center"><strong>Help us get the word out. Follow us online and spread the SolarCity&nbsp;love.</strong></p>
    <div class="row center">
      <a href="https://www.pinterest.com/solarcity/" target="_blank" alt="Pinterest" class="col social-link icon pinterest"></a>
      <a href="https://plus.google.com/+solarcity/posts" target="_blank" alt="Google" class="col social-link icon googleplus"></a>
      <!-- <a href="https://www.youtube.com/solarcity" target="_blank" alt="YouTube" class="col social-link icon youtube"></a> -->
      <a href="https://twitter.com/solarcity" target="_blank" alt="Twitter" class="col social-link icon twitter"></a>
      <a href="https://www.facebook.com/solarcity" target="_blank" alt="Facebook" class="col social-link icon facebook"></a>
    </div>
  </div>
</div>
