<div class="col full" ng-show="stages.callActivated">
  <p class="call-sales-rep">If you prefer to speak with a sales representative, <br class="only-mobile">call <strong><a href="tel:18887652489">(888)&nbsp;765-2489</a></strong>.</p>
</div>
<div class="col full">
  <p class="caps boilerplate">
    <span>&copy; 2015 <a href="//www.solarcity.com">SolarCity Corporation</a></span>
    <span><a href="http://www.solarcity.com/company/privacy-policy" target="_blank">Privacy Policy</a></span>
    <span><a href="http://www.solarcity.com/company/terms-of-use" target="_blank">Terms of Service</a></span>
    <span><a href="http://www.solarcity.com/company/contractor-licenses" target="_blank">Contractor Licenses</a></span>
    <span class="only-mobile"><a href="tel:18887652489">Call us for help</a></span>
  </p>
</div>
