<nav>
  <a ui-sref="home.initial" class="logo">SolarCity</a>
  <div class="tray">
    <div fln-header-address></div>
<!-- ericson hiding this for now
    <ul class="stage-nav">
      <li class="active"><a class="white" ui-sref="configure.initial">&rsaquo;&nbsp;Configure</a></li>
      <li><a class="white" ui-sref="qualify.initial">&rsaquo;&nbsp;Qualify</a></li>
      <li><a class="white" ui-sref="schedule.initial">&rsaquo;&nbsp;Schedule</a></li>
    </ul> -->

    <ul class="stage-nav">
      <li class="active">&rsaquo;&nbsp;Configure</li>
      <li>&rsaquo;&nbsp;Qualify</li>
      <li>&rsaquo;&nbsp;Schedule</li>
    </ul>
  </div>
</nav>
