<nav>
  <!-- TODO: employ .primary and .secondary to match this to the body columns -->
  <ul class="stage-nav float row">
    <li class="float left logo">
      <a ng-click="stages.checkAndJump('flannel.home.zip-nearme')">SolarCity</a>
    </li>
    <li class="chevron right caps col" ng-class="{ active: nav.onActiveStage('home') }">
      <span>&#62;&nbsp;&nbsp;Your Home</span>
      <span class="header-detail" ng-show="nav.prospect().zip">
        <span>&bull;</span>
        <span ng-bind="nav.prospect().street" class="header-street"></span>
        <span ng-bind="nav.prospect().zip" class="header-zip"></span>
        <span class="icon edit"></span>
      </span>
    </li>
    <li class="chevron right caps col" ng-class="{ active: nav.onActiveStage('configure') }">&nbsp;&nbsp;&#62;&nbsp;&nbsp;Configure</li>
    <li class="chevron right caps col" ng-class="{ active: nav.onActiveStage('signup') }">&nbsp;&nbsp;&#62;&nbsp;&nbsp;Sign up</li>
    <li ng-controller="ModalCtrl as modal" class="col float right top-five">
      <a class="questions" ng-click="modal.showDialog({dialog:'faq', data: ''} && app.notifyTrackerAboutClick('faq_viewed'))">Top 5 <span class="questions-extended">Questions</span>&nbsp;&nbsp;<span class="icon question"></span></a>
    </li>
  </ul>
</nav>
