@import "../imports/colors";
@import "../imports/fonts";
@import "../imports/motion";

.help {
  margin: auto;
  padding-top: 2em;

  ul {
    width: 100%;
    margin: auto;
  }

  li {
    text-align: left;
    padding: 0 0 0 0;
    transition: background-color .15s $easing-quick;

    &:first-of-type {
      // border-left: none;
    }
  }

  a {
    @include apercu-regular;
    // background: $white;
    padding: 1em;
    padding-left: 4.25em;
    width: 100%;
    display: block;
    color: inherit;
    font-size: .75em;
    line-height: 2.5;
    text-transform: none;
    letter-spacing: 1;
    margin: 0;
    border: 0;
    border-radius: .25em;
    background-position: 1em center;
    background-repeat: no-repeat;
    background-size: auto 70%;

    &:hover {
      background-color: $shade-05;
      // color: $white;
      border: 0;
    }

    &.icon-call {
      background-image: url('../img/help-call.svg');
    }

    &.icon-chat {
      background-image: url('../img/help-chat.svg');
    }
  }
}

.short .help {
  margin-top: 8em;
}
