@import "../imports/colors";

.calendar {
  $box-width: 100px;
  $box-border: 2px;

  width: 7 * $box-width;
  margin: 0 auto;

  .day-header {
    border-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    color: $grey-mid;
  }

  .date {
    height: $box-width - (2 * $box-border);
    border: $box-border solid $white;
    color: $white;
    position: relative;

    &.available {
      background: $gold;
    }

    &.unavailable {
      background: $grey-lighter;
    }
  }

  .day {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}