// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  FORMS (app-specific)
//
//  styles for forms, form fields, labels, inputs, and
//  other user interface controls
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/functions";

// Address fields
input[type=tel].zipcode {
  font-size: 2.7em;
  color: $color-input-text;
  text-align: center;
  width: 12em;
  max-width: 8em;
  padding: 0.5em 1em;
  border: 2px solid $grey-lightest;
  border-radius: 4px;
  margin: .75em auto -.25em;
  background-color: #fafafa;
}

input[type=text].street {
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
  background-color: #fafafa;
  // padding: 12px 1em;
}

input[type=text].street,
.combo-input {
  border: 2px solid $grey-lightest;
  border-radius: 4px;
}

input[type=text].street,
input[type=text].city,
input[type=text].state,
input[type=text].zipcode {
  color: $color-input-text;
}

.combo-input {
  padding: 12px 1em;
  text-align: justify;
  max-width: 27em;
  background-color: #fafafa;
}

.combo-input input[type=text],
.combo-input input[type=tel] {
  font-size: 1.5em;
  border: 0;
  padding: 0;
  display: inline;
  margin-bottom: 0;
}

.combo-input input[type=text].city {
  width: 7em;
}

.combo-input input[type=text].state {
  width: 1.5em;
  // text-transform: uppercase;
}

.combo-input input[type=tel].zipcode {
  width: 3em;
  text-align: left;
  margin: 0;
}

.combo-input input[type=text].month {
  width: 1.5em;
}

.combo-input input[type=text].day {
  width: 1.5em;
}

.combo-input input[type=text].year {
  width: 3em;
}

@media screen and (min-width: $width-min-med) {
  input[type=text].street,
  .combo-input input[type=text],
  .combo-input input[type=tel] {
    // font-size: em($font-size*1.25);
  }
}

@media screen and (min-width: $width-min-lrg) {
  input[type=text].street,
  .combo-input input[type=text],
  .combo-input input[type=tel] {
    // font-size: em($font-size*1.375);
  }
}

@media screen and (min-width: $width-min-xlg) {
  input[type=text].street,
  .combo-input input[type=text],
  .combo-input input[type=tel] {
    // font-size: em($font-size*1.5);
  }
}

@media screen and (min-width: $width-min-xxl) {
  input[type=text].street,
  .combo-input input[type=text],
  .combo-input input[type=tel] {
    // font-size: em($font-size*1.75);
  }
}

@media screen and (min-width: $width-min-uhd) {
  input[type=text].street,
  .combo-input input[type=text],
  .combo-input input[type=tel] {
    font-size: em($font-size*1.25);
  }
}
