// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  FORMS (app-specific)
//
//  styles for forms, form fields, labels, inputs, and
//  other user interface controls
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/functions";

form {
  margin-bottom: 0;
}

label + button {
  margin-top: 2em !important;
}

// Address fields
input.street,
input.city,
input.state,
input.zipcode,
input.name,
input.email,
input.birthdate,
input.phone {
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
  background-color: $white-dark;
}

input.street,
input.city,
input.state,
input.zipcode,
input.name,
input.email,
input.birthdate,
input.phone {
  color: $color-input-text;
}

input.zipcode {
  text-transform: uppercase;
  color: $color-input-text;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  background-color: $white-dark;
}

.step-zip {
  input.zipcode {
    text-align: center;
    font-size: 2.25em;
    width: 6.75em;
    padding: .6em .75em;
    margin: .25em auto 1.5em;
  }
  p {
      font-size: .75em;
  }
}


input.street {
  width: 12em;
}

input.city,
.combo-input input.city {
  width: 9em;
}

input.state,
.combo-input input.state {
  width: 4em;
}

input.zipcode,
.combo-input input.zipcode {
  width: 4.5em;
  text-align: left;
  margin: 0;
  background-color: $white;
}

.combo-input input.month {
  width: 2em;
}

.combo-input input.day {
  width: 2em;
}

.combo-input input.year {
  width: 4em;
}

span.autolocate-icon {
  display: inline-block;
  opacity: 1;
  background: url('../img/autolocate-icon.svg') no-repeat center center;
  background-size: 20px 20px;
  background-color: none;
  width: 20px;
  height: 20px;
}

.combo-input {
  border: 1px solid $grey-medium;
  border-radius: 4px;
  padding: .75em 1em;
  text-align: justify;
  position: relative;
  background-color: $white;

  input {
    font-size: 1.5rem;
    border: 0;
    box-shadow: 0;
    padding: 0;
    display: inline;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $width-min-med) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.25);
  }
}

@media screen and (min-width: $width-min-lrg) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.375);
  }
}

@media screen and (min-width: $width-min-xlg) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.5);
  }
}

@media screen and (min-width: $width-min-xxl) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.75);
  }
}

@media screen and (min-width: $width-min-uhd) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.25);
  }
}
