// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  FORMS (app-specific)
//
//  styles for forms, form fields, labels, inputs, and
//  other user interface controls
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/functions";

label + button {
  margin-top: 2em !important;
}

// Address fields
input.zipcode {
  font-size: 2em;
  text-transform: uppercase;
  color: $color-input-text;
  text-align: center;
  max-width: 7em;
  padding: 0.6em 1em;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  margin: 1em auto;
  background-color: $white-dark;
}

span.autolocate-icon {
  display: inline-block;
  opacity: 1;
  background: url('../img/autolocate-icon.svg') no-repeat center center;
  background-size: 20px 20px;
  background-color: none;
  width: 20px;
  height: 20px;
}

input.street,
input.name,
input.email,
input.birthdate,
input.phone {
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
  background-color: $white-dark;
}

.combo-input {
  border: 1px solid $grey-medium;
  border-radius: 4px;
}

input.street,
input.city,
input.state,
input.zipcode,
input.name,
input.email,
input.birthdate,
input.phone {
  color: $color-input-text;
}

.combo-input {
  padding: .75em 1em;
  text-align: justify;
  position: relative;
  // max-width: 27em;

  // border-color: $grey-mid;
  background-color: $white;
  // -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
  //    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
  //         box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

.combo-input input {
  font-size: 1.5rem;
  border: 0;
  box-shadow: 0;
  padding: 0;
  display: inline;
  margin-bottom: 0;
}

.combo-input input.city {
  width: 7em;
}

.combo-input input.state {
  width: 1.5em;
  // text-transform: uppercase;
}

.combo-input input.zipcode {
  width: 3em;
  text-align: left;
  margin: 0;
  background-color: $white;
}

.combo-input input.month {
  width: 2em;
}

.combo-input input.day {
  width: 2em;
}

.combo-input input.year {
  width: 4em;
}

button.address-search {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  background: url('../img/address-search.svg') no-repeat center center;
  background-size: 40px 40px;
  background-color: none;
  width: 40px;
  height: 40px;
  margin: 0.5em;
  padding: 0em;
  border-radius: 0em; 
  border: 0;
}

.answer-container {
}
.answer-container h3 {
  display: inline-block;
  margin: 1em 1em 0 0;
}
button.answer-yes,
button.answer-no {
  display: inline-block;
  opacity: 1;
  margin: 0.15em;
  padding: 0.75em 1.25em;
  min-width: 5em;
  border-radius:50% / 100%;
}

@media screen and (min-width: $width-min-med) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.25);
  }
}

@media screen and (min-width: $width-min-lrg) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.375);
  }
}

@media screen and (min-width: $width-min-xlg) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.5);
  }
}

@media screen and (min-width: $width-min-xxl) {
  input.street,
  .combo-input input {
    // font-size: em($font-size*1.75);
  }
}

@media screen and (min-width: $width-min-uhd) {
  input.street,
  .combo-input input {
    font-size: em($font-size*1.25);
  }
}
