@import '../imports/icons';

.icon {
  &.top-five, &.question {
    @include icon("question-mark-white");
    margin-bottom: -.25em;
  }
  &.call {
    @include icon('help-call');
  }
  &.call.large {
    @include icon('help-call');
    background-position: center -.75em;
    width: 4em;
    height: 4em;
  }
  &.chat {
    @include icon('help-chat');
  }
  &.facebook {
    @include icon("facebook", $type: "png");
  }
  &.twitter {
    @include icon("twitter", $type: "png");
  }
  &.googleplus {
    @include icon("googleplus", $type: "png");
  }
  &.pinterest {
    @include icon("pinterest", $type: "png");
  }
}
