@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";
@import "../imports/sizes";
@import "../imports/button";

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: opacity 150ms $easing-quick;
}

.omap {
  position: relative;
  height: 100%;
  z-index: 1;
  background: $grey-dark;
}

.instructions {
  padding: 5em 1.5em;
}

.area-detail {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  background: $tint-60;
}

.ol-viewport {
  position: relative;
  // background: $grey-mid;

  .ol-overlaycontainer-stopevent {
    position: absolute;
    top: .75em;
    left: .75em;
    background-color: $tint-40;
    border-radius: .35em;
    // background: rgba(255,255,255,0.3);
    // padding: .125em;
    // width: 2.25em;
    // height: 7em;
  }

  .ol-control {
    padding: .25em;
    position: static;
    border-radius: .5em;
  }

  .fln-zoom,
  .fln-zoom:hover {
    background: none;
  }

  .fln-zoom {

    .fln-zoom-in,
    .fln-zoom-out {
      // position: relative;
      color: transparent;
      height: 2em;
      width: 2em;
      padding: 0;
      border-radius: .25em;
      background: $white no-repeat center center;
      background-size: 90% auto;
      // @include apercu-bold;
      // font-size: 1.25em;
      // padding: .375em .75em;
      // box-shadow: 0px 2px 4px -2px $shade-40;
      // border: 3px solid;
      // line-height: inherit;
      // min-width: 0;
      // margin-bottom: .25em;

      &:hover {
        // color: $grey-mid;
        // background: $white;
      }

      & + .fln-zoom-out {
        margin-top: .3025em;
      }

      span {
        // position: absolute;
        // right: 100%;
        display: none;
      }
    }

    .fln-zoom-in {
      background-image: url('../img/zoom-in.svg');
    }

    .fln-zoom-out {
      background-image: url('../img/zoom-out.svg');
    }
  }
}

.fln-control-pan {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  // background: $shade;
  text-align: center;
  height: 100%;

  button {
    @include btn($white, .75em);
    pointer-events: auto;
    position: absolute;
    margin: auto;
    width: 2.5em;
    height: 2.5em;
    overflow: auto;
    // opacity: .5;
    padding: 0;
    min-width: 0;
    border-radius: 7px;
    background-color: none;

    &.pan-up {
      top: 1em;
      right: 0;
      left: 0;
      background: url('../img/arrow-up.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-20;
    }
    &.pan-down {
      right: 0;
      bottom: 1em;
      left: 0;
      background: url('../img/arrow-down.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-20;
    }
    &.pan-right {
      top: 0;
      bottom: 0;
      right: 1em;
      background: url('../img/arrow-right.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-20;
    }
    &.pan-left {
      top: 0;
      left: 1em;
      bottom: 0;
      background: url('../img/arrow-left.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-20;
    }
    &:hover,
    &:active {
      // opacity: 1;
      background-color: $tint-40;
    }
  }
}
