@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";
@import "../imports/sizes";
@import "../imports/button";

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: opacity 150ms $easing-quick;
}

.omap {
  position: relative;
  height: 100%;
  z-index: 1;
  background: $grey-dark;
}

.instructions {
  padding: 5em 1.5em;
}

.area-detail {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  background: $tintier;
}

.ol-viewport {
  // background: $grey-mid;

  .ol-overlaycontainer-stopevent {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  .fln-zoom,
  .fln-zoom:hover {
    background: none;
  }

  .fln-zoom {

    .fln-zoom-in,
    .fln-zoom-out {
      @include apercu-bold;
      font-size: 1.25em;
      position: relative;
      background: $tinty;
      color: $shady;
      padding: .375em .75em;
      box-shadow: 0px 2px 4px -2px $shady;
      height: auto;
      width: auto;
      border: 3px solid;
      border-radius: 50%;
      line-height: inherit;
      min-width: 0;
      margin-bottom: .25em;

      &:hover {
        color: $grey-mid;
        background: $white;
      }
      span {
        position: absolute;
        right: 100%;
      }
    }
  }
}

.fln-control-pan {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  // background: $shade;
  text-align: center;
  height: 100%;

  button {
    @include btn($white, .75em);
    pointer-events: auto;
    position: absolute;
    margin: auto;
    width: 7em;
    height: 3em;
    overflow: auto;
    opacity: .5;

    &.pan-up {
      top: 1.5em;
      right: 0;
      left: 0;
    }
    &.pan-down {
      right: 0;
      bottom: 4.5em;
      left: 0;
    }
    &.pan-right {
      top: 0;
      bottom: 0;
      right: 1em;
    }
    &.pan-left {
      top: 0;
      left: 1em;
      bottom: 0;
    }
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
