<div class="bar bar-header bar-light">
  <button class="button button-clear button-icon edl-icons edl-home" ui-sref="home"></button>
  <h1 class="title">Home</h1>
</div>
<ion-view title="Home" >
  <ion-content>
    <div class="fill calm-bg">
      <h1 style="text-align: center"> EdLiteR </h1>
      <button class="button button-light" ui-sref="search" >Get Started</button>
      <div >
        <h2>known issues:</h2>
        <ul class="issues">
          <li>the image users get after pressing the camera will likely not take the full screen. Needs Google Maps APIkey</li>
          <li>if you're located at /#/plan, and refresh the page, you won’t be able to use the fill with panels feature. This is not going to be fixed, as that location is developer specific. </li>
          <li>There’s a problem with elastic scrolling on iOS that’s a real pain, and may make it difficult to adjust radius size for obstructions and to use the side menu on small screens. </li>
          <li></li>
        </ul>
        <p>You can send feedback to jlarue@ ... com </p>
      </div>
    </div>
  </ion-content>
</ion-view>
