<!-- main.html for qualify stage -->
<div ui-view name="credit-check">
  <div class="overlay primary">
    <h1>It takes just a few seconds to see if you qualify.</h1>
    <h3>Your credit rating will help us determine the best plan for you.</h3>
    <form name="prospectForm">
      <div class="row">
        <div class="col half">
          <label for="">Your name</label>
          <input type="text" name="name" placeholder="first and last please">
        </div>
        <div class="col half">
          <label for="">Your email</label>
          <input type="text" name="email" placeholder="you@domain.com">
        </div>
      </div>
      <div class="row">
        <div class="col half">
          <label for="">Your phone</label>
          <input type="text" name="phone" placeholder="(___) ___-____">
        </div>
        <div class="col half">
          <label for="">Your email</label>
          <input type="text" name="name" placeholder="you@domain.com">
        </div>
      </div>
    </form>
  </div>
  <div class="overlay secondary">

  </div>
</div>
