<button ng-click="modal.close()" class="close red tiny">Close</button>
<h1>We'll let you know when things change</h1>
<p>We're constantly growing our service area and will keep you updated when we get to your neighborhood. In the meantime, there are other ways to get involved with the solar movement today.</p>
<div class="row padded">
  <div class="col half padded">
    <figure><img src="" alt=""></figure>
  </div>
  <div class="col half padded">
    <h3><a>Become a Solar Ambassador</a></h3>
    <p>Build a successful business that makes a difference by sharing the benefits of clean, affordable energy with family and friends.</p>
  </div>
</div>
<div class="row padded">
  <div class="col half padded">
    <figure><img src="" alt=""></figure>
  </div>
  <div class="col half padded">
    <h3><a>Invest in Solar Bonds</a></h3>
    <p>Help support the growth of solar energy and earn attractive returns. Solar Bonds are open to everyone.</p>
  </div>
</div>
<div fln-social></div>
<div fln-alternav alternatives="false"></div>
</div>
