<div class="fln-control-pan col fourth three">
  <button fln-map-pan class="pan-up" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="up">up</button>
  <button fln-map-pan class="pan-down" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="down">down</button>
  <button fln-map-pan class="pan-right" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="right">right</button>
  <button fln-map-pan class="pan-left" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="left">left</button>
</div>
