<div class="calendar">
  <table>
    <tr>
      <td class="day-header" ng-repeat="day in days">{{day}}</td>
    </tr>
    <tr ng-repeat="row in rows">
      <td class="date"
       title="{{ getTooltip(date) }}"
       ng-repeat="date in dates | limitTo: (row * 7) | limitTo: -7"
       ng-class="{ available: isAvailable(date), unavailable: !isAvailable(date), 'tooltip top': date.isClicked }"
       ng-click="selectFn({ date: date })">
        <div class="month" ng-if="date.day <= 1 || ($index <= 0 && row <= 1)">{{date.month}}</div>
        <div class="day">{{date.day}}</div>
     </td>
    </tr>
  </table>

  <div class="legend">
    <span class="label">
      <span class="key available"></span> 
      Available
    </span>
    <span class="label">
      <span class="key unavailable"></span>
      Unavailable
    </span>
  </div>
</div>