<div class="row">
  <div class="col full">
    <h5>
      <div class="icon call"></div>Call
    </h5>
    <p>Monday-Friday<br>8 am to 5 pm PT</p>
    <a href="tel:18005551212">1-800-555-1212</a>
  </div>
</div>
<div class="row">
  <div class="col full">
    <h5>
      <div class="icon chat"></div>Chat
    </h5>
    <p>24/7 non-stop</p>
    <a ng-controller="ChatCtrl as chat" ng-click="chat.open()">Chat now</a>
  </div>
</div>
<div class="row">
  <div class="col full">
    <h5>
      <div class="icon email"></div>Email
    </h5>
    <p>We'll get back to you as soon as we can.</p>
    <a href="mailto:help@solarcity.com">help@solarcity.com</a>
  </div>
</div>
