<button fln-map-pan class="fln-control-pan pan-up" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="up">up</button>
<button fln-map-pan class="fln-control-pan pan-down" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="down">down</button>
<button fln-map-pan class="fln-control-pan pan-right" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="right">right</button>
<button fln-map-pan class="fln-control-pan pan-left" map-view="PanCtrl.view" map-size="PanCtrl.size" pan-direction="left">left</button>
