<button ng-click="modal.close()" class="close red tiny">Close</button>
<h1>Top 5 Questions</h1>
<div class="row">
  <div class="col fourth three padded">
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3><a>What happens if I sell my solar home?</a></h3>
        <p>Everyone wins when they switch to solar. That's why homes with solar tend to sell easier than without. When you're ready to move, just give us a call. We'll make all the arrangements to transfer your system's contract to the new owner. All you have to do is sign a few documents, and we'll take care of the rest.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3><a>How much does solar cost?</a></h3>
        <p>We’ve worked diligently to make solar the most affordable energy option in history, and installation is always on us. You can choose to finance the system at a low monthly rate, or simply pay for the power at a locked-in cost. Different regions lend to different options. Rest assure, as long as we’re in your area, you can have the lowest rate locked-in for years of savings.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3><a>What is the system going to look like on my roof?</a></h3>
        <p>Your system will look like a work of art. We’ve focused a tremendous amount of time and resources on bringing your home the most visually appetizing solar array ever crafted. Your panels will look stellar while they cut costs and sustain the environment.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3><a>Will the panels damage my roof?</a></h3>
        <p>With Zep technology, we provide the most refined and advanced sleek mount system in the industry. What does that mean? That means your roof will be treated with care and will maintain all of its original dexterity and charm. We will only leave your roof in better shape than we found it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3><a>How long does the installation process take?</a></h3>
        <p>The sooner we get your system installed, the sooner you can start saving. We’ve honed our install method to the point that most projects take less than a single day. We work with precision and efficiency so you can enjoy clean energy as quickly as possible.</p>
      </div>
    </div>
  </div>
  <div fln-contact class="border-left col fourth padded"></div>
</div>
