<button ng-click="modal.close()" class="close tiny">Close</button>
<h1>Top 5 Questions</h1>
<div class="row">
  <div class="col fourth three padded">
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3>What happens if I sell my solar home?</h3>
        <p>We understand that many customers don’t expect to live in their homes for 20-30 years. That's Okay! Solar is a huge plus when it’s time to sell. When you’re ready to move, just give us a call. We’ll make all the arrangements to transfer your system’s contract to the new owner. All you have to do is sign a transfer document, and we’ll take care of the rest. </p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3>How much does solar energy cost?</h3>
        <p>Today, solar energy costs less than traditional power in many markets. We can even install a solar power system on your home with little to no upfront costs. Chances are we have a solar energy financing option that works for you. You can pay only for the electricity your system produces with the SolarPPA, lock in fixed monthly payments with the Solar Lease, or own for $0 down with MyPower, our new financing option. All our financing options are accompanied by the best warranty and monitoring package in the industry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3>What is the system going to look like on my roof?</h3>
        <p>Your system will look like a work of art. SolarCity uses our proprietary mounting system technology to blend solar panels right into your roof. It features a low-profile design and premium front trim for a sleek look. We’ll size your system based on available roof space and your home’s totally energy consumption. Our solar panels complement your home aesthetically while making it more efficient.</p>
        <p>In addition to its visual elegance, our proprietary system combines all of its components into one modular solar panel system that minimizes the impact on your rooftop. It uses fewer contact points than other solar panel roof mounts and significantly reduces installation time.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3>What is the environmental impact of going solar?</h3>
        <p>Over 20 years, the average 5 kW solar power system keeps 50 tons of CO2 our of our atmosphere through our GivePower program. That’s the equivalent of:
        •  Driving a car 125,000 miles
        •  CO2 absorbed by 60 trees
        •  40,000 gallons of water used to make electricity
        Your decision to go solar also helps bring the gift of power to the developing world.  For every solar system we install, we donate a clean energy system to a school in need through our GivePower program.</p>
      </div>
    </div>
    <div class="row">
      <div class="col third">
        <figure><img src="" alt=""></figure>
      </div>
      <div class="col third two padded">
        <h3>How does solar power work?</h3>
        <p>Here’s an overview of the process and equipment that can help you generate your own clean, more affordable energy.
        1. Solar Panels — The panels are made up of photovoltaic (PV) cells, which convert sunlight into direct current (DC) electricity throughout the day.
        2. Inverter — This device converts the DC electricity generated by the solar panels into the alternating current (AC) electricity. It can be installed on an exterior wall or in your garage.
        3. Electrical Panel — The AC electricity is sent from the inverter to your electrical panel and then into your home to power your lights and appliances. The electrical panel is often called a "breaker box."
        4. Utility Meter — The utility meter measures your energy use. It actually goes backward when your system generates more power than you immediately need. This excess energy offsets the energy you use at night.
        5. Utility Grid — Your home is still connected to the grid. You’ll need that power from the utility company at night, but don’t worry. The cost is offset by any excess clean energy you put into the grid during the day.
        6. PowerGuide Monitoring System — Our exclusive PowerGuide monitoring system continuously tracks your energy production and ensures that your system is running smoothly. It will even alert our repair crews in the rare event that problems arise.</p>
      </div>
    </div>
  </div>
  <!-- <div fln-contact class="border-left col fourth padded"></div> -->
</div>
