<button ng-model="selected" value="{{slope_options[0]}}" type="radio" class="blue" on-click="setslope">{{slope_options[0]}}</button>
<button ng-model="selected" value="{{slope_options[1]}}" type="radio" class="blue" on-click="setslope">{{slope_options[1]}}</button>
<button ng-model="selected" value="{{slope_options[2]}}" type="radio" class="blue" on-click="setslope">{{slope_options[2]}}</button>
<button ng-model="selected" value="{{slope_options[3]}}" type="radio" class="blue" on-click="setslope">{{slope_options[3]}}</button>
