<div class="row">
  <div class="col half padded">
    <div class="row">
      <a alt="Pinterest" class="col float right social-link icon pinterest"></a>
      <a alt="Google" class="col float right social-link icon googleplus"></a>
      <a alt="Twitter" class="col float right social-link icon twitter"></a>
      <a alt="Facebook" class="col float right social-link icon facebook"></a>
    </div>
  </div>
  <div class="col half padded">
    <p>Help us get the word out. Follow us online and spread the SolarCity love.</p>
  </div>
</div>
