footer.footer {
  padding: 2em 4em;
  // font-size: .75em;
  text-align: center;
}

footer.footer p {
	padding-bottom: 0.75em;
}

footer.footer p small {
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

footer.footer p small a {
	color: #333333;
}
