@import "../variables/colors";
@import "../variables/buttons";

input[type=tel].zipcode {
  font-size: 3em;
  text-transform: uppercase;
  color: $color-input-text;
  text-align: center;
  max-width: 9em;
  padding: 0.5em 2em;
  border: 2px solid $grey-lightest;
  border-radius: 4px;
  margin: auto;
}

input::placeholder {
  color: $grey-lighter;
}

button,
input[type='submit'],
input[type='button'] {
  @include btn;
}

button.text {
  background: none;
  border: none;
  color: inherit;
}

fieldset {
  background: $white-off;
  border: 1px solid $grey-lighter;
  margin: 0 0 0.5em 0;
  padding: 1em;
}

input, label, select {
  display: block;
  font-family: inherit;
  font-size: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 0.25em;
}

label.required:after {
  content: "*";
}
