@import "../variables/motion";
@import "../variables/sizes";

.omap {
  position: relative;
  height: 100%;
  z-index: 1;
}

.instructions {
  padding: 2em;
}

.controls {
  position: absolute;
  top: 1em;
  left: 1em;
  background: pink;
  width: 3em;
  height: 3em;
}

.ol-viewport {
  background: green;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: opacity 150ms $easing-quick;
}
