@import "../variables/colors";
@import "../variables/fonts";

header {
  background: $color-header-bkgd;
  color: $white;
  position: relative;
  z-index: 10;
}

nav {
  overflow: hidden;
  // width: 75%;
}

nav li {
  // border-right: 2px solid $tinter;
  display: table-cell;
  position: relative;
  opacity: 0.6;
}

header nav li.active,
header nav li:hover {
  opacity: 1;
}

header nav li.active a,
header nav li.active span {
  font-weight: bold;
}

header .logo {
  float: left;
  text-indent: -9999px;
  background: url('../img/logo-white.svg') no-repeat center center;
  background-size: 80% auto;
  width: 240px;
}

nav ul {
  float: right;
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
}

header nav li span {
  border-radius: 100%;
  background: $shade;
  text-align: left;
  padding: .375em .75em;
  margin: 0 .5em 0 1em;
  font-style: italic;
}

header nav a {
  display: inline-block;
  padding: 2em 2em 1.625em 0;
  color: white;
  font-size: .875em;
}

header nav a:hover {
  color: $white;
}

nav a {
  @include apercu-light;
  text-transform: uppercase;
  letter-spacing: 2.25;
  // font-weight: 500;
  border-bottom: 0px solid transparent;
}

nav.help {
  margin-top: 2em;
}

.short nav.help {
  margin-top: 8em;
}

nav.help ul {
  width: 100%;
}

nav.help li {
  float: left;
  text-align: center;
  width: 33%;
  border-left: 1px solid $grey-light;
  padding-bottom: .75em;
}

nav.help li:first-of-type {
  border-left: none;
}

nav.help a {
  @include apercu-regular;
  text-transform: none;
  letter-spacing: 1;
  color: inherit;
  font-size: .75em;
  width: 100%;
  display: block;
}

nav.help span {
  display: block;
  font-size: 2.5em;
  margin-bottom: .125em;
}
