@import "../imports/colors";
@import "../imports/typography";

.hide,
.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-inline-block,
.display-ib,
.ib {
  display: inline-block !important;
}

.display-block,
.block {
  display: block;
}

.invisible {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.align-center {
  text-align: center;
}

.float {
  &.right {
    float: right;
  }
}

.caps,
.text.caps {
  @include caps;
}

.border {
  &.left {
    border-left: 1px solid $color-border-main;
  }
  &.right {
    border-right: 1px solid $color-border-main;
  }
}

.center-vertical {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.push.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.ghost {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  top: 0;
  left: 0;
  background: $tint-40;
}

.scroll-y {
  overflow-y: scroll;
}
