@import "../variables/colors";

.hide,
.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block
}

.display-block {
  display: block;
}

.invisible {
  visibility: hidden;
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.align-center {
  text-align: center;
}

.float.right {
  float: right;
}

.caps,
.text.caps {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

.border-left {
  border-left: 1px solid $color-border-main;
}

.center-vertical {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.push.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
