@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/links";

.inverse {
  background-color: $color-bkgd-inverse;
  color: $color-text-inverse;
  // white text on a dark background looks weak in some browsers
  // TODO: look into this, aim for browser parity
  // -webkit-text-stroke: 0;
}

.inverse {
  h1, h2, h3, h4, h5, h6 {
    @include apercu-regular;
    color: $color-text-inverse;
  }
}

.inverse a {
  @include link("inverse");
}

.inverse select {
  background-color: $grey-darker;
  color: white;
  border-color: $grey-dark;
}

.inverse option {
  padding: .25em 1em;
  font-size: 1em;
}

.inverse option:checked {
  background-color: $red;
  color: $blue;
}

.inverse input {
  background-color: $color-bkgd-inverse !important;
  color: $color-text-inverse !important;
}
