@import "../imports/motion";
@import "../imports/sizes";

// slide in from the top for mobile
.in-add, .in-remove {
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: $easing-quick;
}

.in,
.in-add.in-add-active {
  top:0;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  display: inherit;
}

.in-remove.in-remove-active {
  top:-700px;
  opacity: 0;
  pointer-events: none;
}

// slide in from the side for desktop
@media screen and (min-width: $width-min-lrg) {

  .in,
  .in-add.in-add-active {
    top:0;
    right:0;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: inherit;
  }

  .in-remove.in-remove-active {
    top:0;
    right:-1200px;
    opacity: 0;
    pointer-events: none;
  }
}