<div class="ib status" ng-hide="prospectForm.firstName.$pristine">
  <span ng-show="prospectForm.firstName.$error.required">
    First name is required.
  </span>
  <span ng-show="prospectForm.firstName.$error.minlength">
    First name must be at least two characters.
  </span>
  <span ng-show="prospectForm.firstName.$error.pattern">asd
    First name must be alphabetical.
  </span>
</div>
<input
  type="text"
  name="firstName"
  class="full-name"
  focus="true"
  placeholder="{{hint}}"
  autocomplete="on"
  autocorrect="off"
  ng-model="form.prospect.firstName"
  ng-required="true"
  ng-minlength="2"
  ng-pattern="/^([A-Za-z]|_|-|\.|\s)+$/">
