<div class="row">
  <div class="col full center">
    <div class="field birthdate ib year" fln-input-dob-year></div>
    <div class="field birthdate ib" fln-input-dob-month></div>
    <div class="field birthdate ib" fln-input-dob-day></div>
  </div>
</div>
<div class="status center" ng-hide="prospectForm.month.$pristine">
  <span ng-show="prospectForm.month.$error.required">required</span>
  <span ng-show="prospectForm.day.$error.required">required</span>
  <span ng-show="prospectForm.year.$error.required">required</span>
  <span ng-show="prospectForm.year.$error.pattern">You must be at least 18 years old.
</div>
