<div class="row">
  <div class="col half radio-options">
    <div class="ib">
      <input type="radio" class="choice" name="hoa" id="hoa-yes" ng-model="schedule.prospect().hoa" ng-value="true">
      <label class="field-label" for="hoa-yes">Yes</label>
    </div>
    <div class="ib">
      <input type="radio" class="choice" name="hoa" id="hoa-no" ng-model="schedule.prospect().hoa" ng-value="false">
      <label class="field-label" for="hoa-no">No</label>
    </div>
  </div>
  <div class="col half">
    <h4 class="question">Do you belong to a homeowners association?</h4>
  </div>
</div>
<div class="row center hoa">
  <div class="col third two">
    <fln-input-hoa-dropdown ng-show="schedule.prospect().hoa && schedule.HOAs.length > 1"></fln-input-hoa-dropdown>
    <fln-input-hoa-freeform ng-show="schedule.prospect().hoa && schedule.selectedAhj.id === -1"></fln-input-hoa-freeform>
  </div>
</div>
