<div class="col half">
  <h4 class="question">Are you interested in <a href="//www.solarcity.com/battery-backup" target="_blank">battery backup</a> power in addition to solar?</h4>
  <p ng-show="schedule.prospect().battery">This will require a $5,000 upfront payment upon installation.</p>
</div>
<div class="col half radio-options">
  <div class="ib">
    <input type="radio" class="choice" name="battery" id="battery-yes" ng-model="schedule.prospect().battery" ng-value="true">
    <label class="field-label" for="battery-yes">Yes</label>
  </div>
  <div class="ib">
    <input type="radio" class="choice" name="battery" id="battery-no" ng-model="schedule.prospect().battery" ng-value="false">
    <label class="field-label" for="battery-no">No</label>
  </div>
</div>
