<div class="ib status" ng-hide="prospectForm.lastName.$pristine">
  <span ng-show="prospectForm.lastName.$error.required">
    Required
  </span>
  <span ng-show="prospectForm.lastName.$error.minlength">
    Last name, not last initial.
  </span>
  <span ng-show="prospectForm.lastName.$error.pattern">
    Letters only please, unless you are a robot.
  </span>
</div>
<input
  type="text"
  name="lastName"
  class="full-name"
  focus="true"
  placeholder="{{hint}}"
  autocomplete="on"
  autocorrect="off"
  ng-model="form.prospect.lastName"
  ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
  ng-required="true"
  ng-minlength="2"
  ng-pattern="/^([A-Za-z]|_|-|\.|\s)+$/">
