<div class="ib status">
  <span ng-show="prospectForm.email.$error.required && prospectForm.email.$invalid">Required</span>
  <span ng-show="prospectForm.email.$error.MailgunInProgress">Validating email address</span>
  <span ng-show="prospectForm.email.$error.MailgunEmailValid">Did you mean <a ng-click="replaceEmailWithSuggestion(did_you_mean)">{{ did_you_mean }}</a>?</span>
  <span ng-show="Mailgun.mailgunStatus">Validation error: {{ Mailgun.mailgunStatus }}</span>
</div>
<input
  type="text"
  name="email"
  id="prospect_email"
  class="email"
  placeholder="{{hint}}"
  autocapitalize="none"
  autocomplete="on"
  autocorrect="off"
  ng-model="form.prospect.email"
  ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
  mailgun-validate>
