<div class="ib status" ng-hide="prospectForm.phone.$pristine">
  <span ng-show="prospectForm.phone.$error.required">
    Phone number is required.
  </span>
  <span ng-show="prospectForm.phone.$error.pattern ||
   prospectForm.phone.$error.minlength || 
   prospectForm.phone.$error.maxlength">
    Phone number must be valid.
 </span>
</div>
<input
  type="tel"
  name="phone"
  class="phone"
  autocapitalize="none"
  autocomplete="on"
  autocorrect="off"
  placeholder="{{hint}}"
  ng-model="form.prospect.phone"
  ng-required="true"
  ng-minlength="10"
  ng-maxlength="10"
  ng-pattern="/\b\d{10}\b/">
