
        <div class="bar bar-header bar-light">
            <div class="buttons pull-left">
                <button class="button button-clear button-icon edl-icons edl-home" ui-sref="home"></button>
            </div>
            <h1 class="title">EdLiteR</h1>
            <div class="buttons pull-right">
                <button id="edl-preview-button" class="button button-clear button-icon edl-icons edl-preview button-positive" ng-class="{disabled: !plan.previewPanels}"  ng-click="plan.handlePreviewButton()">
                </button>
            </div>
        </div>
        

        <ui-view name="planContent"></ui-view>

        <ui-view name="helpMenu"></ui-view>

<div id="right_side" width="detailpanelwidth">
    <ui-view name="detailMenu"></ui-view>
</div>
