<div class="bar bar-header bar-light">
    <div class="buttons pull-left">
      <button ng-disabled="detailForm.$invalid" ng-if="focus.getGeometryName()==='mount'" class="button button-clear button-positive" ng-click="detail.fillPanel(focus)">FILL</button>
    </div>
  <div class="buttons pull-right">
    <button class="button button-clear button-assertive button-icon edl-icons edl-close"></button>
  </div>
</div>
<form class="edl-form" name="detailForm">
  <edl-radius-button ng-if="focus.getGeometryName()==='obstruction'"></edl-radius-button>
  <edl-slope-detail  ng-if="focus.getGeometryName()==='mount'"></edl-slope-detail>
  <label class="item item-radio" ng-repeat="property in plan.featureAttrs">
  <span class="input-label calm-bg">{{property.name}}</span>
    <ion-radio  type="radio"
              class="detailmenu"
              ng-checked="option.value===property.chosenValue"
              name="{{property.value}}"
              ng-repeat="option in property.options"
              ng-model="property.chosenValue"
              value="{{option.value}}"
              required="true"
      >
        <i class="icon ion-ios7-circle-outline"></i>
        <i class="icon ion-ios7-circle-filled"></i>
        {{option.text}}
    </ion-radio>
  </label>
</form>
