  <table>
      <thead>
          <tr>
              <th style="width:25%"></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><i class="icon button-large ion-ios7-search"></i></td>
              <td><i class="button-large">Select</i></td>
          </tr>
          <tr>
              <td><i class="icon button-large  ion-edit"></i></td>
              <td><i class="button-large ">Draw Plane</i></td>
          </tr>

          <tr>
              <td><i class="icon button-large ion-disc"></i></td>
              <td><i class="button-large ">Obstruction</i></td>
          </tr>
          <tr>
              <td><i class="icon button-large ion-ios7-trash"></i></td>
              <td><i class="button-large ">Delete</i></td>
          </tr>
          <tr>
              <td><i class="icon button-large ion-grid"></i></td>
              <td><i class="button-large ">Fill Selected</i></td>
          </tr>
          <tr>
              <td><i class="icon button-large ion-ios7-play"></i></td>
              <td><i class="button-large ">Preview</i></td>
          </tr>
      </tbody>
  </table>




