<section class="overlay--primary">
  <h2>We service 1,287 homes within 10 miles of you. Let’s take a closer look at your house...</h2>
  <div class="row">
    <div class="col half">
      <input type="text" class="street" placeholder="Street address"/>
    </div>
    <div class="col half">
      <div class="combo-input">
        <input type="text" class="city" placeholder="Example"/>
        <input type="text" class="state" placeholder="CA"/>
        <input type="text" class="zipcode" placeholder="ZIP"/>
      </div>
    </div>
  </div>
</section>
<aside class="overlay--secondary">
  <p>Our customers in your area save an average of <strong>20%</strong> on their utility bill and reduces an average of <strong>2.5 tons of CO<sub>2</sub></strong> every month.</p>
  <nav class="help">
    <ul class="row bottom full">
      <li class="col third">
        <a href=""><span class="edl-icons edl-draw"></span>FAQ</a>
      </li>
      <li class="col third">
        <a href=""><span class="edl-icons edl-property"></span>Call</a>
      </li>
      <li class="col third">
        <a href=""><span class="edl-icons edl-home"></span>Chat</a>
      </li>
    </ul>
  </nav>
</aside>
