<section class="overlay center short col full step-address">
  <h3 ng-show="form.prospect.neighbor_count">Wow! <span id="neighbor_count" ng-bind="form.prospect.neighbor_count">hundreds</span> of your neighbors near&nbsp;<fln-input-city></fln-input-city>&nbsp;<fln-input-state></fln-input-state>&nbsp;have gone solar with us.<br>Let’s take a closer look at your house.</h3>

  <h1 ng-hide="form.prospect.neighbor_count">Let’s take a closer look at your house.</h1>

  <div class="row">
    <div class="col full padded center sml-full">
      <span class="nest">
        <fln-input-street></fln-input-street>
        <button class="btn gold nested round" ng-click="form.checkAddress(form.prospect.street)"><span class="icon search"></span></button>
      </span>&nbsp;
      <fln-input-zip hint="Zipcode"></fln-input-zip>
    </div>
  </div>
</section>
