<section class="overlay short col full step-bill">
  <div class="row center padded">
    <div class="col half sml-center med-full lrg-right">
      <h3 class="slider-align">What's your average monthly electric&nbsp;bill?</h3>
    </div>
    <div class="col half sml-center med-full lrg-left">
      <fln-input-bill-slider class="slider-align"></fln-input-bill-slider>
      <div fln-input-bill class="bill-box"></div>
    </div>
  </div>

  <div class="row" ng-controller="ModalCtrl as modal">
    <div class="col half right baseline sml-center med-full lrg-right">
      <h3>Do you own your house?</h3>
    </div>
    <div class="col half padded baseline sml-center med-full lrg-left">
      <button class="btn answer-yes gold ib tiny" ng-click="stages.jumpToStep('intro-design')">Yes</button>
      <button class="btn answer-no gold ib tiny" ng-click="modal.showDialog({dialog: 'alternatives', data: ''}); app.notifyTrackerAboutClick('not_a_homeowner')">No</button>
    </div>
  </div>
</section>

<p class="call-sales-rep small">You must own your own home to give us permission to install solar panels on your roof. If you prefer to speak with a sales representative, call <strong><a href="tel:18887652489">(888)&nbsp;765-2489</a></strong>.</p>
