<section class="primary overlay short col full step-bill">
  <div class="row padded">
    <div class="col half right bottom padded">
      <h3>How much is your monthly electricity bill?</h3>
    </div>
    <div class="col third padded">
      <div slider ng-model="form.prospect.bill" start="0" end="750" step="5"></div>
    </div>
    <div class="col sixth padded">
      <output for="slider" class="slider-output med-full sml-full" ng-bind="form.prospect.bill" ng-cloak>100</output>
    </div>
  </div>

  <div class="row" ng-show="!form.invalid" ng-controller="ModalCtrl as modal">
    <div class="col half right padded baseline">
      <h3>Do you own your house?</h3>
    </div>
    <div class="col half padded baseline">
      <button class="btn answer-yes gold ib tiny" ng-click="form.nextStep()">Yes</button>
      <button class="btn answer-no gold ib tiny" ng-click="modal.showDialog('alternatives')">No</button>
    </div>
  </div>
</section>
