<section class="overlay primary col fourth three blur">
  <h1>It's time to check out your house</h1>
  <p>If you're the DIY type, we have you covered. Just continue.</p>
  <button class="btn std" ng-click="form.nextStep()">Continue</button>
  <p>If you're the kick-back and relax type, just skip the design phase.</p>
  <button class="btn std" ng-click="stages.jumpToStage('signup')">Skip</button>
</section>
<aside class="overlay secondary col fourth lrg-full med-full sml-full">
  <figure>
    <video src=""></video>
    <label for="vision_video"><strong>SolarCity Vision</strong>&nbsp;<em>2:42 min</em></label>
  </figure>
</aside>
