<section class="overlay primary col">
  <h1>Time to configure your system.<br><small>This tool helps you get a sense of what panels could look like on your roof and how much you could save. Don't worry, our experts will do the final system design for your rooftop.</small></h1>
  <button class="btn std gold" ng-click="form.nextStep()">Start Configurator</button>
  <p><strong class="caps">or</strong></p>
  <button class="btn std gold" ng-click="stages.jumpToStage('signup')">Skip</button>
  <p class="small">Skip this step and go straight to qualification. Our experts will handle all the configuration for you.</p>
</section>
<aside class="overlay secondary col lrg-full med-full full-height">
  <div>
    <strong>What's next?</strong>
  </div>
  <ul>
    <li>Configure your system (or skip this and have a solar consultant do it for you).</li>
    <li>Run <span title="Soft credit is like the teddy bear of credit checks: innocuous, comforting, and watching you from the corner of your room." class="tooltip top">soft credit</span> to see if you qualify for financing.</li>
    <li>Schedule your site survey.</li>
  </ul>
</aside>
<fln-help shown="false" ng-class="{shown: shown}"></fln-help>
