<section class="overlay primary col step-fork">
  <div class="row center">
    <div class="col center">
      <h1>Let’s place panels on your&nbsp;roof!<br><small>This tool helps you get a sense of what a solar power system could look like on your roof and how much you could save.</small></h1>
      <div class="row fifth four center">
        <div class="col fifth two padded">
          <button class="btn gold small" ng-click="form.nextStep() && app.notifyTrackerAboutClick('start_drawing')">Start&nbsp;Drawing</button>
          <p><strong>See your savings now by configuring your system.</strong><span class="no-mobile">&nbsp;Don't worry, our experts will do the final system design on your rooftop after your solar site&nbsp;survey.</span></p>
        </div>
        <div class="col fifth padded center no-mobile">
          <div class="set-or"><strong class="caps">or</strong></div>
        </div>
        <div class="col fifth two padded">
          <button class="btn small grey" ng-click="form.skipConfigurator() && app.notifyTrackerAboutClick('skip_drawing')">Skip&nbsp;This</button>
          <p><strong>The express lane.</strong><span class="no-mobile">&nbsp;Go straight to qualification and let our solar consultants handle the system&nbsp;design.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<aside class="overlay secondary col lrg-full med-full full-height">
  <div class="drop-top">
    <p><strong>What's next?</strong></p>
    <ul class="connect-the-dots">
      <li>Draw your panels on your rooftop and review your custom solar proposal (or skip this step and have a solar consultant do it for you).</li>
      <li>Check to see if you qualify for financing.</li>
      <li>Schedule your site survey.</li>
    </ul>
  </div>
</aside>
