<section class="overlay primary col step-fork">
  <div class="row center">
    <div class="col center">
      <h1>Let’s place panels on your roof!<br><small>This tool helps you get a sense of what a solar power system could look like on your roof and how much you could save.</small></h1>
      <div class="button-set">
        <button class="btn std gold" ng-click="form.nextStep()">Get Started</button>
        <p class="set-or"><strong class="caps">or</strong></p>
        <button class="btn std gold" ng-click="form.skipConfigurator()">Skip This</button>
      </div>
      <p class="small">Go straight to qualification and let our experts handle the system design.</p>
    </div>
  </div>
</section>

<aside class="overlay secondary col lrg-full med-full full-height">
  <div class="drop-top">
    <div class="connect-the-dots-title">
      <strong>What's next?</strong>
    </div>
    <ul class="connect-the-dots">
      <li>Draw your panels on your rooftop (or skip this step and have a solar consultant do it for you).</li>
      <li>Review your custom solar proposal.</li>
      <li>Enter your personal information to see if you qualify for financing.</li>
      <li>Schedule your site survey.</li>
    </ul>
  </div>
</aside>
