<div id="header">
  <strong>1. configure</strong> | 2. qualify | 3. schedule
  <h1>h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
  <h2>h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
  <h3>h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
  <h4>h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
  <h5>h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  <h6>h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
  <p>p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt deleniti ad voluptate expedita a voluptates debitis magni inventore earum natus? Numquam, magnam quae deleniti maxime corrupti iste error nostrum repellendus!</p>
</div>
