<section class="overlay primary col fourth three">
  <ul class="no-pips cycle">
    <li class="error">
      <h1>Sorry, we’re not in your area, yet.<br><small>Enter your email if you’d like to know when we get there.</small></h1>
    </li>
  </ul>
  <form novalidate ng-submit="">
    <label for="email">
      <!-- TODO: convert this into an auto-size-input for auto-complete glory -->
      <input
        auto-size-input
        auto-size-width="10"
        ng-model="form.user.email"
        type="email"
        id="email"
        placeholder="email@domain.com"
        class="email"
        name="email"
        required="true"
        ng-required="true"
        ng-change="">
      </input>
    </label>
    <button class="ib aqua" ng-click="stages.next()">Notify me</button>
  </form>
  <div class="row">
    <div class="col third padded"><a href="" class="btn text">&larr; Try another ZIP</a></div>
    <div class="col third padded"><a href="" class="btn text">Other ways to get involved</a></div>
    <div class="col third padded"><a href="" class="btn text">Continue anyway &rarr;</a></div>
  </div>
</section>
<aside class="overlay secondary col fourth sml-full lrg-full med-full">
  <p class="">We are opening new offices across the country every month. We are in 15 states today, and we hope to be in yours tomorrow! We'll let you know as soon as we arrive.</p>
  <figure>
    <img src="" alt="">
  </figure>
</aside>
