<section class="overlay primary col step-outside">
  <h1>Sorry, we’re not in your area yet.<br><small>Enter your email and we'll let you know when we get there.</small></h1>
  <form novalidate ng-submit="">
    <div class="row center">
      <div class="col half padded">
        <label for="email">
          <!-- TODO: convert this into an auto-size-input for auto-complete glory -->
          <input
            auto-size-input
            auto-size-width="10"
            ng-model="form.prospect.email"
            ng-model-on-blur
            type="email"
            id="email"
            placeholder="email@domain.com"
            class="email"
            name="email"
            required="true"
            ng-required="true"
            ng-change="">
          </input>
        </label>
      </div>
    </div>
    <div class="button-set">
      <button class="ib gold" ng-click="stages.next()">Notify me</button>
    </div>
  </form>
  <div class="row center">
    <div class="col fifth three">
      <div class="row">
        <div class="col half padded center">
          <button class="std white display-inline-block tiny" ng-click="stages.prev()">Try another ZIP</button>
        </div>
        <div class="col half padded center" ng-controller="ModalCtrl as modal">
          <button class="std white display-inline-block tiny" ng-click="modal.showDialog('alternatives')">Ways to get involved</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p>If you prefer to speak with a sales representative, call <strong><a href="tel:18887652489">(888) 765-2489</a></strong> or <a>ask us to call you</a>.</p>
</section>
<aside class="overlay secondary col sml-full med-full lrg-full full-height">
  <p class="">We have offices in 17 states today, and we are expanding to new territories every month. We hope to be in your neighborhood soon!</p>
  <figure>
    <img src="" alt="">
  </figure>
</aside>
