@import "../imports/colors";
@import "../imports/motion";

.dev-controls {
  position: fixed;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 12;
  padding: 1em 4em 2em;
  transform: translate3d(100%, 0, 0);
  transition: transform 250ms $easing-quick;
  &.shown {
    transform: translate3d(0, 0, 0);
  }
}

a.dev-trigger.dev-trigger {
  position: absolute;
  margin: auto;
  overflow: auto;
  bottom: 6em;
  right: 100%;
  border-radius: 12px 0 0 12px;
  font-size: .875em;
  padding: .75em;
  text-align: center;
  color: $black;
  background: $gold;
  border: 3px solid;
  border-right: none;
  &:hover {
    border-color: $gold;
    background: saturate($gold, 5%);
  }
  &.triggered {
    color: $gold;
    border-color: $black;
    background-color: $black;
  }
  &:hover.triggered {
    border-color: $gold;
  }
}

.dev {
  color: $red;
  background: $gold;
}
