@import "../imports/colors";
@import "../imports/motion";

.dev-drawer {
  position: fixed;
  top: 0; right: 0; bottom: 0;
  width: auto;
  z-index: 12;
  background-color: $glass-smoked;
  transform: translate3d(100%, 0, 0);
  transition: transform 250ms $easing-quick;
  &.shown {
    transform: translate3d(0, 0, 0);
  }
}

.dev-controls {
  padding: 1em 4em 2em;
  height: 100%;
  overflow: scroll;
}

a.dev-trigger.dev-trigger {
  position: absolute;
  margin: auto;
  overflow: auto;
  bottom: 6em;
  right: 100%;
  border-radius: 12px 0 0 12px;
  font-size: .875em;
  padding: .75em;
  text-align: center;
  color: $glass-smoked;
  background: $glass-amber;
  border: 3px solid;
  border-right: none;
  &:hover {
    border-color: $glass-amber;
    background: saturate($glass-amber, 5%);
  }
  &.triggered {
    color: $glass-amber;
    border-color: $glass-smoked;
    background-color: $glass-smoked;
  }
  &:hover.triggered {
    border-color: $glass-amber;
  }
}

.dev-drawer input {
  font-size: 1rem !important;
}
