@import "../imports/colors";
@import "../imports/motion";

.dev-drawer {
  position: fixed;
  top: 0; right: 0; bottom: 0;
  width: auto;
  z-index: 12;
  background-color: $glass-smoked;
  transform: translate3d(100%, 0, 0);
  transition: transform 250ms $easing-quick;
  box-shadow: -4px 0 8px -8px $shade-40;
  &.shown {
    transform: translate3d(0, 0, 0);
  }
}

.dev-controls {
  padding: 1em 4em 2em;
  height: 100%;
  overflow: scroll;
}

a.dev-trigger.dev-trigger {
  position: absolute;
  margin: auto;
  overflow: auto;
  top: 6em;
  right: 100%;
  border-radius: 8px 0 0 8px;
  font-size: .875em;
  padding: .75em;
  text-align: center;
  color: $glass-smoked;
  background: $glass-amber;
  box-shadow: 0px 0 8px -2px $shade-60;
  &:hover {
    background: saturate($glass-amber, 10%);
    border: 0;
  }
  &.triggered {
    color: $glass-amber;
    background-color: $glass-smoked;
  }
  &:hover.triggered {
    background: lighten($glass-smoked, 10%);
  }
}

.dev-drawer input {
  font-size: 1rem !important;
}
