@import "../imports/colors";

.footer {
  position: fixed;
  z-index: 2;
  background: $color-bkgd-footer;
  bottom: 0;
  width: 100%;
}

.footer .boilerplate {
  font-size: .55em;
  padding: 1.375em 0 1em 1em;
  margin-bottom: 0;
  text-align: left;
  color: $grey-mid;

  span {
    padding: 0 1em;
    border-right: 1px solid $shade-10;
    white-space: nowrap;
    &:last-child {
      border-right: none;
    }
  }
}

.footer a,
.footer a:hover {
  color: inherit;
}

.footer .fourth {
  border-left: 1px solid $shade-10;
}
