@import "../imports/colors";

.footer {
  z-index: 2;
  background: $color-bkgd-footer;
  width: 100%;
}

.footer-fixed {
  bottom: 0;
  position: fixed;
  /* border-top: 1px solid $grey-medium; */
  // box-shadow: 0 0 4px $color-header-shadow;
}

.footer .boilerplate {
  font-size: .55em;
  padding: 1em;
  margin-bottom: 0;
  text-align: left;
  color: $grey-meh;

  span {
    padding: 0 1em;
    border-right: 1px solid $shade-10;
    white-space: nowrap;
    &:last-child {
      border-right: none;
    }
  }
}

.footer a,
.footer a:hover {
  color: inherit;
}

.footer .fourth {
  border-left: 1px solid $shade-10;
}
