// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  HEADER
//
//  applies to the topbar in the app and nothing else
//  logo, nav, universal shizzle
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/colors";
@import "../imports/fonts";
@import "../imports/icons";
@import "../imports/sizes";
@import "../imports/chevron";
@import "../imports/typography";

.header {
  @include apercu-medium;
  background: $color-header-bkgd;
  background-image: url('../img/fractalSubhead-900x100.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 900px 100px;
  color: $color-header-text;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 2.9rem;
  box-shadow: 0 1px 2px $color-header-shadow;

  a, span, ul, li {
    display: inline-block;
  }

  nav {
    overflow: hidden;
  }

  a {
    line-height: 2.9rem;
    height: 2.9rem;
    color: $color-header-text;
    border: none;
    &:hover {
      border: none;
      color: $color-header-text;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    opacity: 1;
    text-shadow: none;
    cursor: default;
    &.active {
      opacity: 1;
      font-weight: 800;
    }

    a.disabled {
      cursor: default;
    }
  }

  .stage-nav {
    width: 100%;
    margin-right: 2rem;
    text-align: left;
  }

  .logo {
    background-image: url('../img/logo-white-new.svg');
    background-position: -20px -10px;
    background-repeat: no-repeat;
    background-size: auto 150%;
    width: 8.8rem;
    opacity: 1;
    a {
      text-indent: -9999px;
      width: 100%;
      height: 100%;
    }
  }

  .chevron.right {
    font-size: 0.7rem;
    padding: 0;
    line-height: 3rem;
    display: none;
    opacity: 0.85;
  }

  .top-five {
    @include apercu-bold;
    opacity: 1;
    border-left: 0px solid tint(.2);
  }

  a.questions {
    font-size: 0.85rem;
    padding: 0 1.5em;
    &:hover {
      font-weight: 800;
      background-color: shade(.10);
    }
  }

  .questions-extended {
    display: none;
    cursor: inherit;
  }

  .icon.question {
    margin-right: -0.3em;
    margin-bottom: -0.46em;
    border: 1px solid;
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    cursor: inherit;
  }

  .header-detail {
    @include apercu-medium;
    display: none;
  }
}

@media screen and (min-width: $width-min-sml) {
  .header {
    /* z-index: 12; */
  }
  .logo {
    background-position: -15px -12px !important;
    -ms-background-position-x: -25px !important;
  }
}

@media screen and (min-width: $width-min-med) {
  .header {
    .chevron.right.active {
      display: inline-block;
    }
    .questions-extended {
      display: inline;
    }
    .logo {
      -ms-background-position-x: -38px !important;
    }
  }
}

@media screen and (min-width: $width-min-lrg) {
  .header {
    .chevron.right {
      display: inline-block;
    }
  }
}

@media screen and (min-width: $width-min-xlg) {
  .header {
    .logo {
      -ms-background-position-x: -38px !important;
      background-position: -13px -14px !important;
    }
    .header-detail {
      @include apercu-medium;
      display: inline;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: $width-min-xxl) {
}

@media screen and (min-width: $width-min-uhd) {
  .header .logo {
    background-size: auto 140%;
  }
}
