@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/motion";
@import "../imports/fonts";

.modal {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shade-80;
  overflow-y: scroll;
}

.modal .dialog {
  background: $tint-90;
  background: $white;
  padding: 4em;
  overflow: scroll;
  width: 90%;
  max-height: 50%;

  h2 {
    /* font-size: 2em; */
    /* margin-bottom: 2em; */
    text-align: center;
  }
}

.modal .dialog.small {
  padding: 2.5em 4em;
  margin: 10em auto auto;
  margin: 25vh auto auto;
  border-radius: 4px;
  bottom: auto;
  height: auto;
  width: 90%;
}

.dialog figure > img {
  min-height: 10em;
}

@media screen and (min-width: $width-min-med) {
  .modal .dialog {
    margin: 0em 2em;
    width: 35em;
    height: 15em;
  }
  .modal .dialog.small {
    margin: 12em auto auto;
  }
}

@media screen and (min-width: $width-min-lrg) {
  .modal .dialog {
    margin: 3em 10%;
    max-height: 100%;
    width: 100%;
    max-width: 80%;
    height: auto;
  }

  .modal .dialog.small {
    width: $width-min-med;
  }

  .modal .dialog.center {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .dialog.center-vertical {
    bottom: auto;
  }
}
