@import "../imports/colors";
@import "../imports/fonts";
@import "../imports/icons";
@import "../imports/sizes";
@import "../imports/typography";

header {
  background: $color-header-bkgd;
  color: $white;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  -webkit-box-shadow: 0 1px 5px $color-header-shadow;
     -moz-box-shadow: 0 1px 5px $color-header-shadow;
          box-shadow: 0 1px 5px $color-header-shadow;
}

header .logo {
  text-indent: -9999px;
  background: url('../img/logo-white.svg') no-repeat center center;
  background-size: auto 100%;
  width: 8em;
  height: 3em;
  padding: 0;
}

header nav {
  overflow: hidden;
}

header nav ul {
  float: right;
}

header nav ul,
header nav li {
  margin: 0;
  padding: 0;
}

header nav li span {
  border-radius: 100%;
  background: $shade-20;
  text-align: left;
  padding: .375em .75em;
  margin: 0 .5em 0 1em;
  font-style: italic;
}

header a {
  display: inline-block;
  padding: 2.5em 2em 2em 0;
  color: white;
  border: 0;
  &:hover {
    border: 0;
  }
}

header a:hover {
  color: $white;
}

header nav li {
  @include apercu-light;
  position: relative;
  opacity: 0.7;
  display: inline-block;
  padding: 1.5em 0.2em;
  color: white;
  font-size: .75em;
  text-shadow: none;
}

header nav li.active {
  @include apercu-bold;
  opacity: 1;
}

header nav li:last-child {
  padding-right: 1.7em;
}

nav.short a {
  position: relative;
}

nav.short a:not(.logo) {
  padding: .875em;
  font-size: .875em;
  text-align: right;
  white-space: nowrap;
  &:hover {
    background-color: $tint-20;
  }
}

nav.short a span {
  margin-bottom: -.25em;
}

nav.short .logo {
  padding: 1.25em 1.5em 1.5em;
}

.alternav {
  // margin: 2em 4em;
}

.stage-nav {
  display: none;
}

@media screen and (min-width: $width-min-lrg) {
  .stage-nav {
    display: block;
  }
  header .logo {
    background-size: cover;
  }
}
