// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  
//  SLIDER
//  
//  the slider is a number input whereby the user can 
//  slide a handle within a horizontal or vertical range
//  to reach a number within that range
//  
//  it is built atop the jQuery NoUISlider
//  
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.bill-slider {
  display: inline-block;
  width: 75%;
  max-width: 18em;
  margin-left: 1em;
  margin-bottom: .25em;
}

.noUi-target {
  border-radius: 1em;
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: none;
}

.noUi-background {
  background: hsl(0, 0%, 0%);
  box-shadow: none;
}

.noUi-horizontal {
  height: .25em;
  margin-top: .75em;
}

.noUi-base {
  padding: 1em 0;
  margin-top: -1em;
}

.noUi-horizontal .noUi-handle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  top: 3px;
  position: relative;
}

.noUi-handle {
  border: 2px solid hsl(0, 0%, 0%);
  background: hsl(0, 100%, 100%);
  cursor: pointer;
  box-shadow: none;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-handle:before, .noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background: hsl(0, 0%, 0%);
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  border-radius: 50%;
}
