// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  
//  SLIDER
//  
//  the slider is a number input whereby the user can 
//  slide a handle within a horizontal or vertical range
//  to reach a number within that range
//  
//  it is built atop the jQuery NoUISlider
//  
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";

.slider-output {
  @include apercu-bold;
  font-size: 1.5em;
  line-height: 1;
}

.slider-output:before,
.slider-output:after {
  font-size: .625em;
}

.slider-output:before {
  content: "\0024";
  line-height: 1em;
}

.slider-output:before,
.slider-output:after {
  font-size: .5em;
}

.slider-output:after {
  content: "/mo.";
}

.noUi-target {
  border-radius: 1em;
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: none;
}

.noUi-background {
  background: hsl(0, 0%, 0%);
  box-shadow: none;
}

.noUi-horizontal {
  height: .25em;
  margin-top: .75em;
}

.noUi-horizontal .noUi-handle {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  top: -.625em;
}

.noUi-handle {
  border: 2px solid hsl(0, 0%, 0%);
  /* border-radius: 3px; */
  background: hsl(0, 100%, 100%);
  cursor: pointer;
  box-shadow: none;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-handle:before, .noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 0.625em;
  width: .625em;
  background: hsl(0, 0%, 0%);
  left: .35em;
  top: .325em;
  border-radius: 50%;
}
