@import "../imports/tooltip";

.tooltip {
  &.bottom {
    @include tooltip();
  }
  &.top {
    @include tooltip($position: "top");
  }
  &.right {
    @include tooltip($position: "right");
  }
  &.left {
    @include tooltip($position: "left");
  }
}

.testy {
  height: 100vh;
  background: pink;
}

.followtip {
  display: block;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  color: white;
  background: $shade-80;
  border-radius: .5em;
  border: 1px solid $tint-60;
  font-size: .875em;
  padding: .25em .75em;
}

.followtipped {
  position: relative;
}
