@import "../imports/tooltip";

.tooltip {
  &.bottom {
    @include tooltip();
  }
  &.top {
    @include tooltip($position: "top");
  }
  &.right {
    @include tooltip($position: "right");
  }
  &.left {
    @include tooltip($position: "left");
  }
}

.followtip {
  display: block;
  position: absolute;
  z-index: 16;
  top: 0px;
  left: 0px;
  color: white;
  background: shade(.6);
  border-radius: 3px;
  border: 0px solid tint(.3);
  font-size: .7em;
  padding: .35em .75em .4em .75em;
  @include apercu-regular;
}

.followtipped {
  position: relative;
}
