@import "../imports/colors";

.footer-chat {
  position: absolute;
  bottom: 100%;
  right: 0;
}

.chat-trigger {
  display: block;
  font-size: 2em;
}

.chat-buttons {
  position: fixed;
  z-index: 20;
  bottom: 2em;
  right: 3em;
}

#chat_div {
  // position: fixed;
  // bottom: 0;
  height: 100%;
  border: 0;
  // right: 2em;
}

#liveAgentChat {
  border: 0;
  background: $tint-90;
}

.liveagent-online {}

.liveagent-offline {}

.ui-chatbox {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.chat-tray {
  // height: 330px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
