@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/fonts";

h1 small, h2 small {
  @include apercu-light;
  font-size: 65%;
  display: block;
  margin-top: .5em;
  line-height: 1.4;
  margin-bottom: 2em;
}

h3.social-proof-count {
  @include apercu-light;

  & span.bold {
    @include apercu-bold;
  }
}

.step-zip h1 {
  margin-top: 0;
  margin-bottom: .75em;
}

.step-bill.overlay.short {
  //padding-top: 1.5em;
}

@media screen and (min-width: $width-min-med) {
  .get-involved {
    width: 85%;
  }
}
.get-involved .col {
  margin-bottom: 2.6em;
}
.get-involved h4 {
  margin: 0 0 .25em 0;
}
.get-involved p {
  margin-bottom: 0.75em;
}

.call-sales-rep {
  background: $white;
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: .75em;
}

.step-credit {
  .field-label {
    font-size: .75em;
    bottom: 0;
  }
  .uil-sunny-css {
    margin-top: 8%;
  }
}

.territory-map {
  figure {
  background-image: url('../img/map_regions_2-01.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 180px;
  }
  p.center {
    letter-spacing: 0.1em;
  }
}

.video-vision .video-tray {
  border: none;
}
.video-vision p {
  font-size: 0.75em;
}
.video-mysc {
  width: 70%;
  margin: 3em auto 0 auto;
}
.video-mysc .video-tray {
  //border: 1px solid $white;
  margin-bottom: 1.5em;
}

.step-address h2,
.step-address h3 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.step-bill h3 {
  margin-bottom: 0;
}
.fine-print {
  font-size: 0.7em;
  text-align: left;
  margin-top: 8em;
  padding-top: 2em;
  border-top: 1px solid $grey-lighter;
  color: transparentize($grey-darker, 0.5);
  & p {
    margin-bottom: 1em;
  }
}

.step-fork p {
  text-align: center;
}

@media screen and (min-width: $width-min-sml) {
}


@media screen and (min-width: $width-min-med) {
  .step-address h3 {
    width: 80%;
  }
  .step-fork h1 {
    max-width: 34rem;
  }
}

@media screen and (min-width: $width-min-lrg) {
  .drop-top {
    padding-top: 6em;
    font-size: 0.85em;
    line-height: 130%;
  }
  .drop-top p {
    margin-bottom: 0.85em;
  }
  .step-address h3 {
    width: 85%;
  }
  .step-fork p {
    text-align: left;
  }
  .step-bill h3 {
    margin-bottom: 0em
  }
}

@media screen and (min-width: $width-min-xlg) {
  .step-address h3 {
    width: 80%;
  }
  .step-fork h1 {
    max-width: 40rem;
  }
}

@media screen and (min-width: $width-min-xxl){
}
