// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  FORMS (app-specific)
//
//  styles for forms, form fields, labels, inputs, and
//  other user interface controls
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/functions";

form {
  margin-bottom: 0;
}

label + button {
  margin-top: 2em !important;
}

input.street,
input.city,
input.state,
input.zipcode,
input.name,
input.email,
input.bill,
input.birthdate,
input.full-name,
input.phone {
  font-size: 1em;
  text-align: left;
  display: inline-block;
  background-color: $white-dark;
  color: $color-input-text;
}

input.birthdate {
  font-size: 2em;
  padding: .25em .5em;
  width: auto;
  max-width: 3em;
  text-align: center;
  &.year {
    max-width: 3.5em;
  }
}

// Address fields
input.zipcode {
  color: $color-input-text;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  background-color: $white-dark;
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.step-zip {
  input.zipcode {
    text-align: center;
    font-size: 2.25em;
    width: 6.75em;
    padding: .6em .75em;
    margin: 0em auto 1.5em;
  }
  p {
      font-size: .75em;
  }
}

input.street {
  max-width: 100%;
}

.step-zip input.email {
  max-width: 14em;
  text-align: center;
  margin-top: 0.5em;
}

input.city {
  width: 9em;
}

.step-address .city:after {
  content: ",";
}

input.state {
  width: 4em;
}

input.date {
  padding: .18em .5em;
}

label input.full-name,
label input.email,
label input.birthdate,
label input.phone {
  font-size: 2em;
  margin-top: .325em;
}

label .ib.status {
  margin-left: 2em;
  float: right;
  color: $shade-40;
}

.status {
  font-size: .75em;
  float: right;
  margin-top: -.75em;
  &.center {
    float: none;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: .5em;
  }
}

button.nested {
  position: absolute;
  right: .5rem;
  top: .5em;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.nest {
  position: relative;
  display: block;
  input {
    padding-right: 3rem !important;
  }
}

span.autolocate-icon {
  display: inline-block;
  opacity: 1;
  background: url('../img/autolocate-icon.svg') no-repeat center center;
  background-size: 20px 20px;
  background-color: none;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: $width-min-med) {
  input.street,
  input.city,
  input.state,
  input.zipcode,
  input.name,
  input.email,
  input.bill,
  input.birthdate,
  input.full-name,
  input.phone {
    font-size: 1.5em;
  }
  input.street {
    max-width: 14em;
  }
  input.zipcode {
    max-width: 4em;
  }
  .nest {
    display: inline-block;
    margin-right: 1rem;
    input {
      padding-right: 3.5rem !important;
    }
  }
  button.nested {
    position: absolute;
    right: .5em;
    top: .5em;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: $width-min-lrg) {
  input.street {
    max-width: 20em;
    width: 20em;
  }
}
