@import "../imports/colors";
@import "../imports/typography";
@import "../imports/fonts";

.proposal-page {
  background: $white-dark;
  strong + p {
    margin-top: .25em;
  }
  dt {
    font-family: 'Apercu Medium';
  }
  strong + dl {
    margin-top: 0;
  }
  ul {
    margin: 0.5em 0;
  }
  ul li, p {
    line-height: 160%;
  }
}

.proposal.proposal {
  background-color: $white;
  color: $green-neue;
  border-radius: 2px;
  margin-bottom: 1rem;
  .row:not(:last-child) {
    border-bottom: 2px solid $grey-lightest;
  }
  .col {
    min-height: 10.5em;
  }
  .col:not(.fifth) {
    border-right: 2px solid $grey-lightest;
    // TODO: figure out how to avoid this important shit
    padding: 1em !important;
    // margin: 1em 0;
  }
  .col:last-child {
    border-right: 0;
  }
  .utes {
    color: $grey-mid;
  }
  label:first-child {
    @include apercu-light;
    font-size: .9em;
    line-height: 120%;
    margin: 1em 0 0 0;
    color: $grey-darker;
  }
  label:last-child {
    @include apercu-light;
    @include caps;
    font-size: .6em;
    margin: 0 0 .2em 0;
    letter-spacing: 0.5px;
    color: $grey-dark;
  }
  figure {
    margin: 0;
    letter-spacing: -0.5px;
  }
  figure span.cents,
  figure span.dollars {
    @include apercu-bold;
    font-size: 2.8em;
    &:before,
    &:after {
      @include apercu-light;
    }
  }

}

.aerial {
  background: $black url('../img/aerial.png') no-repeat center center;
  background-size: cover;
  height: 18.5em;
}

.chart-tray {
  padding: .5em 0;
}

.cents:after {
  content: "¢";
  position: relative;
  font-size: .5em;
  vertical-align: 0em;
}

.dollars:before {
  content: "$";
  position: relative;
  font-size: .5em;
  vertical-align: .75em;
}

.proposal-page .financing-options {
  width: 80%;
  font-size: .95em;
  line-height: 1.4;
  margin: -.25em 0 0 0;
}

.pie {
  border-radius: 50%;
  border: 1px solid;
  padding: 1px;
}

.financing-option {
  padding: 1em 1.5em 2em 1.5em;
  border: 2px solid $gold;
  border-radius: .5em;

  em {
    font-size: .75em;
    text-align: right;
  }
  h3 {
    font-family:'Apercu Light';
    font-size: 1.4em;
    letter-spacing: 0.05em;
  }
  p {
    line-height: 160%;
  }
}

.faq-item {
  figure {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: pink;
    height: 200px;
  }
  p {
    line-height: 160%;
  }
  dt {
    font-family: 'Apercu Medium';
  }
  ul {
    margin: 0.5em 0;
  }
  li {
    line-height: 160%;
  }

  &.faq-sell figure {
    background-image: url('../img/top5-SellMyHome.jpg');
  }
  &.faq-cost figure {
    background-image: url('../img/top5-WhatItCosts.jpg');
  }
  &.faq-look figure {
    background-image: url('../img/top5-HowItLooks.jpg');
  }
  &.faq-environment figure {
    background-image: url('../img/top5-EnvironmentalImpact.jpg');
  }
  &.faq-work figure {
    background-image: url('../img/top5-HowItWorks.jpg');
  }
}
