@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/fonts";

.calendar {
  $box-width: 100px;
  $box-border: 1px;

  width: 7 * $box-width;
  margin: 0 auto;

  .day-header {
    border-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    color: $grey-dark;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    padding: 1.2em 0 0.9em 0;
  }

  .date {
    height: $box-width - (2 * $box-border);
    border: $box-border solid $white;
    color: $white;
    position: relative;
    cursor: pointer;
  }

  /* if a td is in the second tr, and it is the first or second td in the tr, give it diagonal lines */

  .available {
    background: $gold;
    &:hover {
      background: darken($gold, 10%);
    }
  }

  tr:nth-child(2) {
    .available,
    .available ~ .available {
      background: repeating-linear-gradient(-45deg, $gold, $gold 8px, $gold-bright 8px, $gold-bright 12px);
      cursor: default;
    }
    .available ~ .available ~ .available {
      background: $gold;
      cursor: pointer;
      &:hover {
        background: darken($gold, 10%);
      }
    }
  }

  .unavailable {
    background: $grey-lighter;
    cursor: default;
  }

  .month {
    @include apercu-bold;
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }

  .day {
    position: absolute;
    right: 5px;
    bottom: 5px;
    @include apercu-regular;
    line-height: 1;
  }

  .label {
    @include apercu-light;
    margin: 10px 0 0 20px;
    display: inline-block;
  }

  .key {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: text-bottom;
    border-radius: 15px;
  }

  .legend {
    margin: 1em 0 0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.7em;
    color: $grey-dark;

    .label:first-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1094px) {
    width: 100%;

    .date {
      width: 100% / 7;
    }
  }

  @media screen and (max-width: $width-min-sml) {
    .day-header, .month {
      /* font-size: 0.85em; */
    }

    .date {
      height: ($box-width / 2) - (2 * $box-border);
    }

    .label {
      display: block;
      margin-left: 0;
    }
  }
}

.selection-wrapper {
  max-width: 300px;
  margin: 0 auto 2em auto;
  text-align: left;
}


.time-selection {
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  margin: 5px;
  text-transform: uppercase;
  background: $grey-lightest;
  cursor: pointer;
  border: 4px solid transparent;
  width: 130px;
  border-radius: 2px;

  &.selected {
    border: 4px solid $green;
  }
}

.appointment-card {
  @include apercu-medium;
  border: 1px solid $grey-medium;
  border-radius: 3px;
  background-color: lighten($gold, 40%);
  margin-bottom: 4em;
  padding: 2em 0;
  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
  }
  .calendar-links {
    @include apercu-regular;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    margin-top: 2em;
    a {
      margin-left: 15px;
    }
  }
}

.survey-question {
  padding: 1em 1em;
  margin: 0;
  border-bottom: 1px solid $grey-lighter;
  h4 {
    font-size: 0.9em;
  }
  &.selected {
    // background: $white-dark;
  }
  .ib:first-child {
    margin-right: 1em;
  }

  h4, p {
    padding-bottom: 0.3em;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .choice {
    display: inline-block;
  }
  input[type="radio"] {
    margin-right: .5em;
  }
  input[type="radio"] + label {
    position: relative;
    bottom: 0px;
    font-size: 0.9em;
    margin-right: .5em;
  }
  .radio-options {
    margin-bottom: 0.3em;
    padding-right: 1.3em;
  }
}

.hoa {
  margin-top: .5rem;
  width: 100%;
}

.hoa-dropdown {
  @include apercu-light;
  width: 100%;
  font-weight: normal;
  text-transform: initial;
  padding: 0 2.25em 0 .75em;
  height: 2.25em;
  line-height: 2.25em;
  border-radius: 2px;
}

input.hoa-input,
select.hoa-dropdown {
  font-size: 1em;
}

@media screen and (min-width: $width-min-sml){
}
@media screen and (min-width: $width-min-med){
  .survey-question {
    width: 80%;
    h4, p {
      text-align: left;
    }
    .radio-options {
      text-align: right;
    }
  }
}
@media screen and (min-width: $width-min-lrg){
  .survey-question {
    max-width: 40rem;
    p {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $width-min-xlg){
}
@media screen and (min-width: $width-min-xxl){
  p.note-time {
    width: 80%;
    max-width: 800px;
  }
}
