@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/motion";
@import "../imports/functions";
@import "../imports/typography";

.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
  transform: translateY(-1.25em);
  opacity: 0;
}

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(-.5em);
  opacity: 1;
}

.field {
  position: relative;
  & > label {
    transition: all $easing-quick .2s;
    position: absolute;
    bottom: 0;
    transform: translateY(-.5em);
    color: $grey-mid;
    font-size: 0.75em;
  }
}

@media screen and (min-width: $width-min-med) {
  .show-hide.ng-hide-add,
  .show-hide.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(-.75em);
  }

  .field > label {
    transform: translateY(-.75em);
  }
}
