.step-fork .button-set {
  padding: 1em;
}
.step-fork .button-set .set-or {
  padding: 0.5em;
}


.step-outside .button-set {
  padding-bottom: 3em;
}
.step-outside .button-set button {
  margin: 0;
}
