/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  SLIDER

  the slider is a number input whereby the user can
  slide a handle within a horizontal or vertical range
  to reach a number within that range

  it is built atop the jQuery NoUISlider

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";

.bill-slider {
  display: inline-block;
  width: 75%;
  max-width: 18em;
  margin-left: 0em;
  margin-bottom: 0.5em;
}

.noUi-target {
  border-radius: 1em;
  border: none;
  box-shadow: none;
}

.noUi-background {
  // TODO: color changing slider
    // have color of background start as a gradient
    // when user touches the handle
    // color the slider to its position on the gradient
    // while the user moves the slider
    // change the colors as the number changes of
    // the slider, the handle, and the bill figure
    // on blur, revert to the gradient background
  /* background-image: linear-gradient(to right, $green, $green-bright, $gold, $orange, $ginger, $red, $red-dark); */
  /* height: 2em; */
  box-shadow: none;
  background-color: $black;
}

.noUi-horizontal {
  height: 0.3em;
  margin-top: 1em;
}

.noUi-base {
  padding: 0;
  padding-top: 0.1em;
  margin-top: 0em;
  position: relative;
}

.noUi-origin,
.noUi-stacking {
  position: absolute;
}

.noUi-horizontal .noUi-handle {
  position: relative;
  z-index: 1;
  top: -12px;
  width: 28px;
  height: 28px;
  // background: $tint-90;
  background-color: $white;
  // TODO: make border-color respond to horiz position of slider
  border: 2px solid $grey-darker;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
}

.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background: hsl(0, 0%, 0%);
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  border-radius: 50%;
}

.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  background: transparent;
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -24px;
  border-radius: 50%;
}

/* .noUi-handle:after {
  @include apercu-bold;
  background: transparent;
  content: "$";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  line-height: 1;
  font-size: 2em;
  color: $green;
  box-shadow: 0 0 1em -.5em $white;
} */

.bill {
  margin-bottom: 0;
}

input.bill {
  font-family: "Apercu Bold";
  width: 2em;
  padding: 0;
  margin: 0 0 0 .125em;
  text-align: right;
  color: $green;
  border: 0px solid $white;
  background-color: $white;
  &:hover,
  &:focus {
    box-shadow: none;
    color: $gold;
  }
}

.bill-box {
  display: inline-block;
  vertical-align: bottom;
  color: $green;
  border: 2px solid inherit;
  margin: 0 0 0 .75em;
  font-size: 1.25em;
  &:before {
    content: "\0024";
    position: relative;
    top: -.3em;
    left: .5em;
  }
  &:after {
    content: "/month";
  }
}

.slider-align {
  line-height: 2em;
}

@media screen and (min-width: $width-min-sml) {
  .bill-box {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: $width-min-med) {
  .bill-slider {
    max-width: 16em;
  }
  .bill-box {
    margin-bottom: 0;
  }
}
@media screen and (min-width: $width-min-lrg) {
  .bill-slider {
    max-width: 12em;
  }
}
@media screen and (min-width: $width-min-xlg) {
  .bill-slider {
    max-width: 14em;
  }
}

@media screen and (min-width: $width-min-xxl) {
}
