@import "../imports/colors";
@import "../imports/typography";
@import "../imports/fonts";

.step-proposal {
  background: $grey-lightest;
  h1 small {
    margin-bottom: 0em;
  }
  strong + p {
    margin-top: .25em;
  }
  dt {
    @include apercu-medium;
  }
  strong + dl {
    margin-top: 0;
  }
  ul {
    margin: 0.5em 0;
  }
  ul li, p {
    line-height: 160%;
  }
  h5 {
    text-align: center;
    font-size: 0.75em;
    @include apercu-regular;
  }
  button.gold,
  button.white {
    margin: 0.35em;
  }
  .financing-options-bar {
    font-size: 0.85rem;
    line-height: 1.4;
    padding: 1em;
    margin: 0 auto;
  }
  .proposal-button-tray {
    margin-top: 1rem;
  }
}

/* HACK: giving button in share proposal dialog some room with a solitary class */
.cushion.cushion {
  margin: 1em auto;
}

.pit-wrapper {
  border: 1px dashed grey(30%);
  //background-color: lighten($grey-lightest, 10%);
}
.pit {
  padding: 2em 2em 0.75em 2em;
  margin: 0 auto;
  border: 0px solid $grey-lighter;
  max-width: 500px;
  & p {
    //font-size: 1em;
    line-height: 1.3;
    margin-bottom: 1em;
    @include apercu-medium;
  }
  & .field {
    margin: 0;
    width: 72%;
    float: left;
    & input {
      font-size: 1.25em
    }
  }
  & button {
    width: 26%;
    font-size: 0.85em;
    min-width: 0;
    padding: 1.15em 0;
    margin: 0.35em 0 !important;
    float: right;
  }
}

.panelfill {
  min-height: 20rem;
  width: 100%;
}

.actionbar + .proposal {
  // margin-top: 1rem;
}

.proposal.proposal {
  background-color: $white;
  color: $green;
  border-radius: 2px;
  .col.third.padded.padded {
    overflow: hidden;
    padding: 1em 0 1em 0;
    // border-bottom: 2px solid grey(3%);
  }
  .utes {
    color: $grey-mid;
  }
  label {
    @include apercu-regular;
    @include caps;
    font-size: .7em;
    line-height: 140%;
    letter-spacing: 0.1px;
    color: $grey-medium;
    margin: 0 auto;
    & span {
      @include apercu-bold;
      color: $grey-mid;
    }
  }
  figure {
    /* margin: 1em 0 0 0; */
    letter-spacing: -2px;
    height: 3.6em;
    margin: 0;
  }
  figure span.cents,
  figure span.dollars {
    @include apercu-bold;
    font-size: 2.7em;
    &:before,
    &:after {
      @include apercu-light;
    }
  }
}

.aerial {
  background: $black url('../img/aerial.png') no-repeat center center;
  background-size: cover;
  height: 18.5em;
}

.chart-tray {
  padding: 0.3em 0 0 0;
}

.cents:after {
  content: "¢";
  position: relative;
  font-size: .5em;
  vertical-align: 0em;
}

.dollars:before {
  content: "$";
  position: relative;
  font-size: .5em;
  vertical-align: .75em;
}

.down-blk {
  background: url('../img/arrow-down-blk-01.svg') no-repeat center;
  background-size: 14px;
  width: 14px;
  height: 14px;
  margin: 2em auto 2em auto;
}

.faq-item {
  figure {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: transparent;
    height: 200px;
  }
  p {
    line-height: 130%;
    font-size: 0.8em;
  }
  dt {
    @include apercu-medium;
  }
  ul {
    margin: 0.5em 0;
  }
  li {
    line-height: 160%;
  }

  &.faq-sell figure {
    background-image: url('../img/top5-SellMyHome.jpg');
  }
  &.faq-cost figure {
    background-image: url('../img/top5-WhatItCosts.jpg');
  }
  &.faq-look figure {
    background-image: url('../img/top5-HowItLooks.jpg');
  }
  &.faq-environment figure {
    background-image: url('../img/top5-EnvironmentalImpact.jpg');
  }
  &.faq-work figure {
    background-image: url('../img/top5-HowItWorks.jpg');
  }
}

.benefits {
  .icon {
    display: block;
    width: 4em;
    height: 4em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 800%;
    background-color: #fff;
    border-radius: 50%;
    margin: 1em auto;
  }
  strong {
    display: block;
    text-align: center;
    font-size: 1.125em;
  }
}

@media screen and (min-width: $width-min-xsm) {
  .proposal {
    label {
      max-width: 70%;
    }
    .col {
      border-bottom: 1px solid grey(5%);
    }
    .col:last-child {
      border-bottom: none;
    }
  }
}

@media screen and (min-width: $width-min-sml) {
  .proposal {
    label {
      max-width: 80%;
    }
  }
}

@media screen and (min-width: $width-min-med) {
  .financing-options-bar {
    max-width: 40rem;;
  }
  .proposal {
    .panelfill {
      min-height: 15rem;
    }
    label {
      max-width: 85%;
    }
    .row:not(:last-child) {
      // border-bottom: 2px solid red;
    }
    .col {
      // min-height: 9.5em;
      &.padded.padded.third {
        border-left: 1px solid grey(3%);
        border-right: 1px solid grey(3%);
        &:nth-of-type(2n) {
          border-right: none;
        }
        & + .third.padded + .third.padded {
          border-top: 2px solid grey(3%);
        }
      border-bottom: 0px solid;
      }
    }
  }
}

@media screen and (min-width: $width-min-lrg) {
  .step-proposal h1 small {
    margin-bottom: 1.9em;
  }
  .faq-item figure {
    height: 180px;
  }
  .benefits {
    .icon {
      width: 4em;
      height: 4em;
      background-color: #fff;
      background-size: 700%;
      border-radius: 50%;
      float: right;
      margin: 0 1em 0 0;
    }
    strong {
      font-size: 1em;
      display: inline;
      text-align: left;
    }
  }
  .panelfill {
    //min-height: 20rem;
    width: 100%;
  }

  .proposal {
    .chart-tray {
      padding: 0.4em 0 0 0;
    }
    .panelfill {
      min-height: 18.7rem;
    }
    .col.fifth.three > .row {
      //margin-right: -2px;
    }
    .row:not(:last-child) {
      border-bottom: 2px solid grey(3%);
    }
    .col {
      min-height: 8.5em;
      &.padded.padded.third {
        // border-left: 1px solid red;
        // border-right: 1px solid blue;
        &:nth-of-type(3n-2) {
          // border-right: 1px solid red;
          border-left: none;
        }
        &:nth-of-type(3n-1) {
          border-left: 2px solid grey(3%);
          border-right: 2px solid grey(3%);
        }
        &:nth-of-type(3n) {
          border-right: none;
        }
        & + .third.padded + .third.padded {
          border-top: none;
        }
        & + .third.padded + .third.padded + .third.padded {
          border-top: 2px solid grey(3%);
        }
      }
    }
  }
}
