@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";
@import "../imports/sizes";
@import "../imports/button";

.map {
  width: 100%;
  height: 100%;
  // HACK: might gotta revert this
  position: absolute;
  overflow: hidden;
  transition: opacity 150ms $easing-quick;

  // Fixes weird styling issues with infowindow icons
  img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
      max-width: 99999px;
  }
}

[fln-configurator] {
  height: 100%;
}

.omap {
  position: relative !important;
  height: 100% !important;
  z-index: 1;
}

.ogmap {
  // i got it for the lowlow
  height: 100%;
  z-index: 1;
}

.roofpeak {
  background: $tint-40;
}

.instructions {
  background: $white;
  // box-shadow: 0 .5em .25em -.25em $shade-20;
  box-shadow: 0 0 .75em -.25em $shade-60;
  margin-left: -2em;
  padding: 3em 2em 2em 2.5em;
  line-height: 120%;
}
.instructions button.gold {
  min-width: 10em;
  margin-top: 2em;
}
.instructions figure img {
  border: none;
  width: 286px;
  height: 143px;
}
.instructions button.tiny.white {
  min-width: 8em;
  margin: 0 auto;
}

.area-detail {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  background: $tint-60;
}

.ol-viewport {
  position: relative;
  // background: $grey-mid;

  .ol-overlaycontainer-stopevent {
    position: absolute;
    top: 4em;
    left: 1.5em;
    background-color: $tint-40;
    border-radius: .35em;
    // background: rgba(255,255,255,0.3);
    // padding: .125em;
    // width: 2.25em;
    // height: 7em;
  }

  .ol-control {
    // padding: .25em;
    position: static;
    border-radius: .5em;
  }

  .fln-zoom,
  .fln-zoom:hover {
    background: none;
  }

  .fln-zoom {

    .fln-zoom-in,
    .fln-zoom-out {
      // position: relative;
      color: transparent;
      height: 2.3em;
      width: 2.3em;
      padding: 0;
      border-radius: .2em;
      background: $white no-repeat center center;
      background-size: 90% auto;
      border: 0;
      display: block;
      // @include apercu-bold;
      // font-size: 1.25em;
      // padding: .375em .75em;
      // box-shadow: 0px 2px 4px -2px $shade-40;
      // border: 3px solid;
      // line-height: inherit;
      // min-width: 0;
      margin: .35em;

      &:hover {
        // color: $grey-mid;
        // background: $white;
      }

      & + .fln-zoom-out {
        margin-top: .3025em;
      }

      span {
        // position: absolute;
        // right: 100%;
        display: none;
      }
    }

    .fln-zoom-in {
      background-image: url('../img/zoom-in.svg');
    }

    .fln-zoom-out {
      background-image: url('../img/zoom-out.svg');
    }
  }
}

.inset-right {
  box-shadow: inset 0 0 8px -2px $shade-40;
  position: relative;
  z-index: 0;
}


.fln-control-pan {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  // background: $shade;
  text-align: center;
  height: 100%;

  button {
    @include btn($white, .75em);
    pointer-events: auto;
    position: absolute;
    margin: auto;
    width: 3em;
    height: 3em;
    overflow: auto;
    // opacity: .5;
    padding: 0;
    min-width: 0;
    border-radius: 50%;
    background-color: none;

    &.pan-up {
      top: 1em;
      right: 0;
      left: 0;
      background: url('../img/arrow-up-blk.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-80;
    }
    &.pan-down {
      right: 0;
      bottom: 1em;
      left: 0;
      background: url('../img/arrow-down-blk.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-80;
    }
    &.pan-right {
      top: 0;
      bottom: 0;
      right: 3.5em;
      background: url('../img/arrow-right-blk.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-80;
    }
    &.pan-left {
      top: 0;
      left: 1em;
      bottom: 0;
      background: url('../img/arrow-left-blk.svg') no-repeat center;
      background-size: 70% auto;
      background-color: $tint-80;
    }
    &:hover,
    &:active {
      // opacity: 1;
      background-color: $tint-40;
    }
  }
}

.panelfill {
  height: 18em;
  width: 100%;
}
