@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/motion";
@import "../imports/functions";
@import "../imports/typography";

.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
  transform: translateY(-.5em);
  opacity: 0;
}

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0em);
  opacity: 1;
}

.field {
  position: relative;
  border: 0;
  & > label {
    transition: all $easing-quick .2s;
    position: absolute;
    bottom: -1.1rem;
    transform: translateY(0em);
    color: $grey-mid;
    font-size: 0.75em;
  }
}

@media screen and (min-width: $width-min-sml) {
}

@media screen and (min-width: $width-min-med) {
}

@media screen and (min-width: $width-min-lrg) {
}
