@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/fonts";

.calendar {
  $box-width: 100px;
  $box-border: 2px;

  width: 7 * $box-width;
  margin: 0 auto;

  .day-header {
    border-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    color: $grey-mid;
  }

  .date {
    height: $box-width - (2 * $box-border);
    border: $box-border solid $white;
    color: $white;
    position: relative;
    cursor: pointer;

    &.tooltip {
      &:before {
        border-color: $shade-80 transparent;
      }

      &:after {
        left: -50%;
        width: 200%;
        background: $shade-80;
        color: $white;
        font-weight: 600;
      }
    }
  }

  .available {
    background: $gold;
  }

  .unavailable {
    background: $grey-lighter;
  }

  .month {
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: bold;
    text-transform: uppercase;
  }

  .day {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  .label {
    margin: 10px 0 0 20px;
    display: inline-block;
  }

  .key {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  .legend {
    margin: 1em 0 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;

    .label:first-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1094px) {
    width: 100%;

    .date {
      width: 100% / 7;
    }
  }

  @media screen and (max-width: $width-min-sml) {
    .day-header, .month {
      font-size: 0.85em;
    }

    .date {
      height: ($box-width / 2) - (2 * $box-border);
    }

    .label {
      display: block;
      margin-left: 0;
    }
  }
}

.selection-wrapper {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

.time-selection {
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  margin: 5px;
  text-transform: uppercase;
  background: $grey-lightest;
  cursor: pointer;
  border: 4px solid transparent;
  width: 130px;

  &.selected {
    border: 4px solid $green-bright;
  }
}

.calendar-links {
  font-size: 0.8em;
  letter-spacing: initial;
  margin: 0 0 20px;

  a {
    font-weight: bold;
    margin-left: 15px;
  }
}

.survey-question {
  margin: 15px 0;

  .choice {
    display: inline-block;
  }

  label {
    font-size: 1rem;
    padding-left: 10px;
  }
}

.hoa-dropdown {
  @include apercu-light;
  width: 100%;
  font-weight: normal;
  text-transform: initial;
}

input[type="text"].hoa-input {
  font-size: 1rem;
}
