@import "../imports/colors";
@import "../imports/sizes";

.step-bill button.tiny.gold {
  margin: 1em 0 0 0;
  padding: 1em;
  min-width: 8em;
  border-radius: 1.5em/50%;
}

.set-or {
  font-size: 0.83em;
  padding: 1.5em 0 1em;
}

.step-fork button {
  width: 100%;
  max-width: 16em;
  padding: 1.25em 0em;
}
.step-fork .col.fifth.two p {
  margin: 0.75em 0 1.5em 0.5em;
}

.button-set {
  padding: 0;
  margin-top: -1.5em;
  margin-bottom: 0;
  text-align: center;
  button.ib {
    margin-bottom: 0;
  }
}

.credit-check button.gold {
  min-width: 13em;
}

@media screen and (min-width: $width-min-med) {
  .button-set {
    button:not(:first-child) {
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: $width-min-lrg) {
  .button-set {
    margin-top: -2em;
    margin-bottom: 1em;
  }
  .step-bill button.tiny.gold {
    margin: 0;
  }
  .set-or {
    line-height: 5.5em;
    padding: 0;
  }
}
