/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  SLIDER

  the slider is a number input whereby the user can
  slide a handle within a horizontal or vertical range
  to reach a number within that range

  it is built atop the jQuery NoUISlider

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";

.bill-slider {
  display: inline-block;
  width: 75%;
  max-width: 18em;
  margin-left: 0em;
  margin-bottom: 0.5em;
}

.noUi-target {
  border-radius: 1em;
  border: none;
  box-shadow: none;
}

.noUi-background {
  // TODO: color changing slider
    // have color of background start as a gradient
    // when user touches the handle
    // color the slider to its position on the gradient
    // while the user moves the slider
    // change the colors as the number changes of
    // the slider, the handle, and the bill figure
    // on blur, revert to the gradient background
  background-image: linear-gradient(to right, $green, $green-bright, $gold, $orange, $ginger, $red, $red-dark);
  box-shadow: none;
}

.noUi-horizontal {
  height: 0.3em;
  margin-top: 1em;
  &:before,
  &:after {
    cursor: pointer;
    position: absolute;
    background: transparent;
    height: 28px;
    width: 100%;
    display: block;
  }
}

.noUi-base {
  padding: 0;
  padding-top: 0.1em;
  margin-top: 0em;
  position: relative;
}

.noUi-origin,
.noUi-stacking {
  position: absolute;
}

.noUi-horizontal .noUi-handle {
  position: relative;
  z-index: 1;
  top: -12px;
  width: 28px;
  height: 28px;
  // background: $tint-90;
  background-color: $white;
  // TODO: make border-color respond to horiz position of slider
  border: 2px solid $grey-darker;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
}

.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background: hsl(0, 0%, 0%);
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  border-radius: 50%;
}

.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  background: transparent;
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -24px;
  border-radius: 50%;
}

.bill {
  margin-bottom: 0;
}

input.bill {
  @include apercu-bold;
  width: 2em;
  padding: 0;
  margin: 0 0 0 .125em;
  color: $green-neue;
  border: 0px solid $white;
  background-color: transparent;
  &:hover,
  &:focus {
    box-shadow: none;
    color: $green-neue;
  }
}

.bill-box {
  display: inline-block;
  vertical-align: bottom;
  color: $green-neue;
  margin: 0 0 0 .5em;
  font-size: 1.25em;
  &:before {
    content: "\0024";
    font-size: .75em;
    position: relative;
    top: -.3em;
    left: .2em;
  }
}

.slider-align {
  padding-top: 0.5em;
  margin-bottom: 0;
}

@media screen and (min-width: $width-min-sml) {
  .bill-box {
    /* margin-bottom: 1em; */
  }
}
@media screen and (min-width: $width-min-med) {
  .bill-slider {
    max-width: 16em;
  }
  .bill-box {
    margin-bottom: 0;
    &:before {
      font-size: 1em;
    }
  }
}
@media screen and (min-width: $width-min-lrg) {
  .bill-slider {
    max-width: 12em;
  }
}
@media screen and (min-width: $width-min-xlg) {
  .bill-slider {
    max-width: 14em;
  }
  .slider-align {
    padding-top: 0.4em;
  }
}

.proposal {
  .bill-slider {
    display: block;
    width: 80%;
    max-width: 12em;
    margin: 1em auto .5em;
  }

  .noUi-target {
    border-radius: 1em;
    border: none;
    box-shadow: none;
  }

  .noUi-background {
    background: $grey-darker;
  }

  .noUi-horizontal {
    height: 0.2em;
    &:before,
    &:after {
      cursor: pointer;
      position: absolute;
      background: transparent;
      height: 1em;
      width: 100%;
      display: block;
    }
  }

  .noUi-base {
    padding: 0;
    padding-top: 0.1em;
    margin-top: 0em;
    position: relative;
  }

  .noUi-origin,
  .noUi-stacking {
    position: absolute;
  }

  .noUi-horizontal .noUi-handle {
    position: relative;
    z-index: 1;
    top: -6px;
    width: 1em;
    height: 1em;
    // background: $tint-90;
    background-color: $white;
    // TODO: make border-color respond to horiz position of slider
    border: 1px solid $grey-darker;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
  }

  .noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    background: hsl(0, 0%, 0%);
    left: 50%;
    top: 50%;
    margin: -3px 0 0 -3px;
    border-radius: 50%;
  }

  .noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    background: transparent;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -12px;
    border-radius: 50%;
  }
}
