// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  fln-help
//  widget
//
//  applies to the directive of the same name
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/colors";
@import "../imports/fonts";
@import "../imports/motion";

fln-help {
  position: fixed;
  display: none;
  z-index: 11;
  bottom: 0;
  right: 15%;
  width: 15rem;
  height: 17.5rem;
  background: hsl(0, 100%, 100%);
  box-shadow: 0 0 12px -4px hsla(0, 0%, 0%, 0.8);
  border-style: none;
  border-radius: 8px 8px 0 0;
  border: 1px solid #a8b2c1;
  transform: translate3d(0, 15rem, 0);
  transition: transform 250ms $easing-quick;

  &.shown {
    transform: translate3d(0,0,0);
  }

  .trigger-bar {
    @include apercu-bold;
    font-size: .85rem;
    color: $white;
    height: 2.5rem;
    background-color: $color-chat-trigger;
    border: 0;
    border-radius: 6px 6px 0 0;
    display: block !important;
    width: 100%;
    padding: .25em 1em;
    text-align: left;
    .icon.up,
    .icon.down {
      float: right;
    }
    .icon.inactive,
    .icon.active {
      float: left;
      margin-right: .5em;
    }
  }
}

button.trigger-bar span.icon {
  float: right;
}

.help {
  margin: auto;
  padding-top: 2em;

  ul {
    width: 100%;
    margin: auto;
  }

  li {
    text-align: left;
    padding: 0 0 0 0;
    transition: background-color .15s $easing-quick;
  }

  a {
    @include apercu-regular;
    width: 100%;
    display: block;
    color: inherit;
    font-size: .75em;
    line-height: 2.5;
    text-transform: none;
    letter-spacing: 1;
    margin: 0;
    border: 0;
    border-radius: .25em;
    background-position: 1em center;
    background-repeat: no-repeat;
    background-size: auto 70%;

    &:hover {
      background-color: shade(.05);
      // color: $white;
      border: 0;
    }
  }
}

.short .help {
  margin-top: 8em;
}

.chat-trigger {
  display: block;
  font-size: 2em;
}

iframe.chatframe {
  border: 0;
  background: tint(.9);
  height: 15em;
  width: 100%;
}

.liveagent-online {}

.liveagent-offline {}

.ui-chatbox {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 11;
}

@media screen and (min-width: $width-min-med) {
  fln-help {
    display: block;
  }
}
