@import '../imports/icons';

.icon {
  &.up {
    @include icon('arrow-up');
    width: 1em;
    height: 1em;
    margin-left: .75em;
    margin-top: .125em;
  }
  &.down {
    @include icon('arrow-down');
    width: 1em;
    height: 1em;
    margin-left: .75em;
    /* margin-bottom: -.125em; */
  }
  &.question {
    @include icon("question-mark-white");
  }
  &.call {
    @include icon('help-call');
    &.medium {
      background-position: center -.75em;
      width: 2em;
      height: 2em;
    }
    &.large {
      background-position: center -.75em;
      width: 4em;
      height: 4em;
    }
  }
  &.benefit-icons {
    display: block;
    width: 4em;
    height: 4em;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 700%;
    border-radius: 50%;
    float: right;
    margin-right: 1em;
    &.icon-house {
      background-image: url('../img/icon-proposal-house.svg');
    }
    &.icon-coin {
      background-image: url('../img/icon-proposal-coins.svg');
    }
    &.icon-document {
      background-image: url('../img/icon-proposal-document.svg');
    }
    &.icon-bulb {
      background-image: url('../img/icon-proposal-bulb.svg');
    }
    &.icon-graph {
      background-image: url('../img/icon-proposal-graph.svg');
    }
    &.icon-palm {
      background-image: url('../img/icon-proposal-palm.svg');
    }
  }
  &.search {
    @include icon('address-search');
    background-color: transparent;
    border: none;
    width: 2em;
    height: 2em;
    background-position: center center;
  }
  &.chat {
    @include icon('help-chat');
    &.large {
      background-position: center -.75em;
      width: 4em;
      height: 4em;
    }
  }
  &.facebook {
    @include icon("facebook", $type: "png");
  }
  &.twitter {
    @include icon("twitter", $type: "png");
  }
  &.googleplus {
    @include icon("googleplus", $type: "png");
  }
  &.pinterest {
    @include icon("pinterest", $type: "png");
  }
}
