@import "../imports/colors";
@import "../imports/typography";
@import "../imports/fonts";

.greyback {
  background-color: $grey-lightest;
}

.proposal {
  background-color: $white;
  color: $green;
  border-radius: 2px;
  .row:not(:last-child) {
    border-bottom: 2px solid $grey-lightest;
  }
  .col:not(.fifth) {
    border-right: 2px solid $grey-lightest;
    // TODO: figure out how to avoid this important shit
    padding: 1em !important;
    // margin: 1em 0;
  }
  .col:last-child {
    border-right: 0;
  }
  .utes {
    color: $grey-dark;
  }
  label:first-child {
    @include apercu-light;
    font-size: .875em;
    margin: .25em 0 -.25em;
    color: $grey-dark;
  }
  label:last-child {
    @include apercu-light;
    @include caps;
    font-size: .6em;
    margin: .25em 0;
    letter-spacing: 0.5px;
    color: $grey-dark;
  }
  figure {
    margin: 0;
  }
  figure span.cents,
  figure span.dollars {
    @include apercu-bold;
    font-size: 3em;
  }

}
.proposal-page {
  strong + p {
    margin-top: .25em;
  }
  strong + dl {
    margin-top: 0;
  }
}

.padded.less {
  margin-bottom: .75rem;
}

.aerial {
  background: $black url('../img/aerial.png') no-repeat center center;
  background-size: contain;
  height: 17em;
}

.block {
  background: $grey-lighter;
  color: $grey-darker;
  padding: 1em;
  // border-bottom: 1px solid $grey-light;
}

.block hr {
  width: 90%;
  margin: auto;
  color: $grey-light;
}

.block.top {
  border-radius: 8px;
  background: $grey-darker;
  color: white;
  margin-bottom: 8px;
}

.block:nth-of-type(2) {
  border-radius: 8px 8px 0 0;
}

.block:last-of-type {
  border-radius: 0 0 8px 8px;
  // border-bottom: none;
}

.block .left {
  text-align: center;
  padding: 1em;
}

.block .right {
  text-align: left;
  padding: 1em;
}

.block.center {
  padding: 3rem;
}

.block .number {
  color: $aqua-dark;
  font-size: 4em;
}

.block .unit {
  @include apercu-bold;
  color: $grey-dark;
  font-size: 1em;
}

.cents:after {
  content: "¢";
  font-size: .33em;
  position: relative;
  bottom: 0;
}

.dollars:before {
  content: "$";
  position: relative;
  vertical-align: 1.5em;
  font-size: .33em;
}
