.overlay {
	position: absolute;
	z-index: 100;
}

.underlay {
	position: absolute;
	z-index: 0
}

.configure.overlay {
	top: 10%;
	width: 50%;
	height: 50%;
	background-color: white;
}

.configure.underlay {
	top: 0px;
	width: 100%;
	height: 100%;
}