.popover {
	position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  /*background-color: white;*/
  opacity: 0.5;
}

.popover__content {
  min-width: 180px;
  /*color: white;*/
  background-color: white;
}