<button ng-click="modal.close()" class="close white"></button>
<div class="row padded">
  <div class="col full center">
    <h1>You can still get involved with the solar movement, today.<br><small>Here are some other ways to join the SolarCity family.</small></h1>
  </div>
</div>
<div class="row padded">
  <div class="col half padded">
    <figure>
      <iframe ng-src="https://player.vimeo.com/video/92755265" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </figure>
  </div>
  <div class="col half padded">
    <h3><a>Become a Solar Ambassador</a></h3>
    <p>Build a successful business that makes a difference by sharing the benefits of clean, affordable energy with family and friends.</p>
  </div>
</div>
<div class="row padded">
  <div class="col half padded">
    <figure>
      <iframe width="545" height="307" src="https://www.youtube.com/embed/remJeBMSptE?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
  <div class="col half padded">
    <h3><a>Invest in Solar Bonds</a></h3>
    <p>Help support the growth of solar energy and earn attractive returns. Solar Bonds are open to everyone.</p>
  </div>
</div>
<div fln-social></div>
<div fln-alternav alternatives="false"></div>
</div>
