<button ng-click="modal.close()" class="close"></button>
<div class="row padded-more">
  <div class="col full center">
    <div ng-show="modal.dialogData">
      <h1>You can still get involved with the solar movement today.<small>Here are some other ways to join the SolarCity family.</small></h1>
      <!-- <h1>We haven't made it to {{modal.dialogData}} yet.</h1> -->
    </div>
    <div ng-show="!modal.dialogData">
      <h1>Not a homeowner? No worries.<small>You can still get involved with the solar movement.</small></h1>
    </div>
  </div>
</div>
<div class="row padded-more">
  <div class="col half padded">
    <figure class="video-tray">
      <iframe src="https://player.vimeo.com/video/92755265" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
  <div class="col half padded">
    <h4 class="padding-less"><a href="https://mysolarcity.com/Ambassador/register">Become a Solar Ambassador</a></h4>
    <p>Spread the word about clean more affordable energy from SolarCity and you could earn up to $250 for every referral that installs.</p>
  </div>
</div>
<div class="row padded-more">
  <div class="col half padded">
    <figure class="video-tray framed">
      <iframe frameborder="0" allowfullscreen src="http://www.youtube.com/embed/remJeBMSptE?controls=0&amp;showinfo=0"></iframe>
    </figure>
  </div>
  <div class="col half padded">
    <h4 class="padding-less"><a href="https://solarbonds.solarcity.com">Invest in Solar Bonds</a></h4>
    <p>Help support the growth of solar energy and earn attractive returns. Solar Bonds are open to everyone.</p>
  </div>
</div>
<div fln-social></div>
