<h5>Unable to Schedule</h5>
<p>Since you are purchasing a <a href="//www.solarcity.com/battery-backup" target="_blank">battery backup</a> we can't schedule a site survey you at this time. Instead, one of our energy advisors will be in touch soon to schedule a consultation to size a solar and battery backup system for your home.</p>
<div class="row fourth three">
  <div class="col half">
    <button ng-click="modal.close(); app.notifyTrackerAboutClick('rejected_battery_lead')" class="btn small grey">Go back</button>
  </div>
  <div class="col half">
    <button class="btn small gold" ng-click="confirm(); app.notifyTrackerAboutClick('confirmed_battery_lead')">Ok got it</button>
  </div>
</div>
