<button ng-click="modal.close()" class="close tiny grey">x</button>
<div class="row">
  <div class="col full">
    <h2>Credit Check Authorization</h2>
  </div>
</div>
<div class="row padded">
  <div class="col full">
    <p>I authorize any person, or consumer or credit reporting agency to provide SolarCity with any information it has on me or the entity on whose behalf I make this application.</p>
    <p>I authorize SolarCity to use my credit report and other credit information from any source in connection with SolarCity's offering of services.</p>
  </div>
</div>
