<button ng-click="modal.close()" class="close"></button>
<h5>Ooops... we can't put panels there</h5>
<p>Looks like you may have highlighed an area too small for us to place any panels. Would you like to redo your design?</p>
<div class="row fifth four center">
  <div class="col third two">
    <button class="btn std gold" ng-click="restartDesign()">Try&nbsp;Again</button>
    <p class="small"><strong>Reset your design.</strong><br>Select an area of your roof that has more space.</p>
  </div>
  <div class="col third two">
    <button class="btn std skip" ng-click="skipDesign()">Skip&nbsp;This</button>
    <p class="small"><strong>Go straight to qualification.</strong><br>Just two easy steps to see if you qualify, then our solar consultants will handle the system design.</p>
  </div>
</div>
