<button ng-click="modal.close()" class="close"></button>
<h2>Our Financing Options</h2>
<div class="row padded"></div>
<div class="row padded">
  <div class="col full financing-option">
    <div class="row">
      <div class="col third">
        <h3 class="caps">Solar PPA</h3>
      </div>
      <div class="col third two right">
        <em>For the traditionalist who wants a straightforward, no-hassle way to go solar.</em>
      </div>
      <div class="col full">
        <h4>Pay for power, not panels</h4>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta.</p>
  </div>
</div>
<div class="row padded">
  <div class="col full financing-option">
    <div class="row">
      <div class="col third">
        <h3 class="caps">MyPower</h3>
      </div>
      <div class="col third two right">
        <em>For the trailblazer who cares where their cash is going.</em>
      </div>
      <div class="col full">
        <h4>The solar loan of the future</h4>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta.</p>
  </div>
</div>
<div class="row padded">
  <div class="col full financing-option">
    <div class="row">
      <div class="col third">
        <h3 class="caps">Solar Lease</h3>
      </div>
      <div class="col third two right">
        <em>For the budgeter who wants predictability, savings, and flexibility.</em>
      </div>
      <div class="col full">
        <h4>Save with a low, fixed payment</h4>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta.</p>
  </div>
</div>
<div class="row padded">
  <div class="col full financing-option">
    <div class="row">
      <div class="col third">
        <h3 class="caps">Purchase</h3>
      </div>
      <div class="col third two right">
        <em>For the investment guru who wants a fast return and lots of perks.</em>
      </div>
      <div class="col full">
        <h4>SolarCity's "Buy Now" Button</h4>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae quam tempora qui animi sint quo laborum neque dolore eius placeat iure sequi molestiae quos consequatur minima nesciunt, ducimus soluta.</p>
  </div>
</div>
<footer>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quisquam pariatur iste! Alias laboriosam minus voluptatem reprehenderit labore ex eius, corporis, aperiam nam non nemo animi quibusdam, ad placeat iste.</p>
</footer>
