<div fln-faq ng-class="{ 'dialog-shown': modal.dialogShown('faq')}" class="dialog" ng-show="modal.dialogShown('faq')"></div>

<div fln-alternatives ng-class="{ 'dialog-shown': modal.dialogShown('alternatives')}" class="dialog" ng-show="modal.dialogShown('alternatives')"></div>

<div fln-continue-design ng-class="{ 'dialog-shown': modal.dialogShown('continue')}" class="dialog small center-vertical no-close" ng-show="modal.dialogShown('continue')"></div>

<div fln-battery ng-class="{ 'dialog-shown': modal.dialogShown('battery')}" class="dialog small center-vertical no-close" ng-show="modal.dialogShown('battery')"></div>

<div fln-credit-check-terms ng-class="{ 'dialog-shown': modal.dialogShown('credit-check-terms')}" class="dialog small center-vertical" ng-show="modal.dialogShown('credit-check-terms')"></div>

<div fln-financing ng-class="{ 'dialog-shown': modal.dialogShown('financing')}" class="dialog financing" ng-show="modal.dialogShown('financing')"></div>

<div fln-share-proposal ng-class="{ 'dialog-shown': modal.dialogShown('share-proposal')}" class="dialog small center-vertical" ng-show="modal.dialogShown('share-proposal')"></div>

<div fln-empty-panelfill ng-class="{ 'dialog-shown': modal.dialogShown('empty-panelfill')}" class="dialog small center-vertical" ng-show="modal.dialogShown('empty-panelfill')"></div>

<div fln-utility ng-class="{ 'dialog-shown': modal.dialogShown('utility')}" class="dialog small center-vertical" ng-show="modal.dialogShown('utility')"></div>

<div fln-salesforce-login ng-class="{ 'dialog-shown': modal.dialogShown('salesforce-login')}" class="dialog small center-vertical" ng-show="modal.dialogShown('salesforce-login')"></div>
