<div fln-faq class="dialog" ng-show="modal.dialogShown('faq')"></div>
<div fln-alternatives class="dialog" ng-show="modal.dialogShown('alternatives')"></div>
<div fln-continue-design class="dialog small center-vertical" ng-show="modal.dialogShown('continue')"></div>
<div fln-credit-check-terms class="dialog small center-vertical" ng-show="modal.dialogShown('credit-check-terms')"></div>
<div fln-financing class="dialog financing" ng-show="modal.dialogShown('financing')"></div>
<div fln-share-proposal class="dialog small center-vertical" ng-show="modal.dialogShown('share-proposal')"></div>
