<button ng-click="modal.close()" class="close"></button>
<h5>Save For Later</h5>
<p>Enter your email address and we'll send you a link to this custom&nbsp;proposal.</p>
<div class="row fourth three">
  <div class="col full">
    <div fln-input-email form="emailForm"></div>
    <button id="submit_email" class="gold square" ng-disabled="!proposal.prospect().email" ng-click="proposal.sendEmail(); modal.close()">OK</button>
  </div>
</div>
<footer>Read our <a href="http://www.solarcity.com/company/privacy-policy" target="_blank">privacy policy</a>.</footer>
