<button ng-click="modal.close()" class="close"></button>
<div class="row">
  <div class="col full">
    <h2>Who is your current energy proivder?</h2>
  </div>
</div>
<div class="padded utility">
  <ul class="list">
    <li class="choice"  
        ng-repeat="utility in modal.dialogData" 
        ng-click="selectUtility(utility)"
        ng-init="selectUtility(modal.dialogData[0])"       
        ng-class="{ selected: isSelected(utility) }">
      {{ utility.UtilityName }}
    </li>
  </ul>
</div>
<button class="btn gold" ng-click="continue()">Submit</button>