// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  CORE
//
//  after normalize.css has had its way, the core resets
//  some odditities and establishes default styles for
//  raw HTML elements
//
//  no classes should be used as selectors in the core
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/fonts";
@import "../imports/colors";
@import "../imports/motion";

html {
  font-family: $font-body;
  overflow-x: hidden;
}

html, body {
  color: $color-text-main;
  background-color: $color-bkgd-main;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// set base font
html {
  font-size: 16px;
  @include apercu-light;
}

// basic page frame and styles
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  font-size: 100%;
  line-height: $line-height-body;
}

main {
  position: relative;
}

//  margin, padding, and border resets except for form elements
// html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  // margin: 0;
  // padding: 0;
  // border: 0;
// }

// reset header text spacing and weight
h1,
h2,
h3,
h4,
h5,
h6 {
  @include apercu-bold;
  text-rendering: optimizeLegibility;
}

// horizontal dividers
hr {
  display: block;
  border-bottom: 1px solid;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: $color-text-main;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
}

abbr, acronym {
  border-bottom: 1px dotted $grey-lighter;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 0.5em;
}

hgroup {
  margin-bottom: 0.5em;
}

del {
  color: $grey-dark;
}

pre, code {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}

label abbr {
  display: none;
}
