// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  
//  GRID
//  
//  defines a responsive, proportional grid of columns
//  within rows
//  
//  this grid uses justified inline-blocks divided into
//  proportions of the full width
//  
//  cozy gutters are created by leaving some percentage
//  points laying around when deciding the column widths
//  
//  layouts are responsive by default: when the proportional
//  columns are too wide for the viewport width, they size
//  up. halves become wholes, thirds become halves, fourths
//  becomes halves, and so
//  
//  e.g.,
//  
//  <div class="row">
//    <div class="col half"></div>
//    <div class="col half"></div>
//  </div>
//  
//  <div class="row">
//    <div class="col third two"></div>
//    <div class="col third"></div>
//  </div>
//  
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../variables/sizes.css";

/* justified inline-blocks: to make even columns, grid, etc., add this class to the parent */
.row {
  font-size: 0.1px;
  text-align: justify;
}

.row:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
}

.row.bottom:after {
  width: 0;
}

/* add this class to columns, grid blocks, child items */
.col {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 1rem;
}

.col.padded {
  padding: 0 2em;
}

.col.padded:first-of-type {
  padding-left: 0;
}

.col.padded:last-of-type {
  padding-right: 0;
}

.row.half {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.row.third.two {
  width: 66.6%;
  margin-left: auto;
  margin-right: auto;
}

.row.left {
  text-align: left;
}

.row.center {
  text-align: center;
}

.row.right {
  text-align: right;
}

.col.left {
  text-align: left;
}

.col.center {
  text-align: center;
}

.col.right {
  text-align: right;
}

.row.center .col {
  display: block;
  margin: 0 auto;
}

/* on mobile, stretch the partial blocks to full width */
.col.half, .col.full, .col.third.two, .col.fourth.three, .col.third {
  width: 100%;
}

.col.fifth, .col.fourth {
  width: 49.9%;
}

.col.sixth {
  width: 33.3%;
}

.col.sixth.five {
  width: 66.6%;
}

.col.seventh {
  width: 14.25%;
  text-align: center;
}

/* > 536px --- bigger than iPhone portrait */
@media screen and (min-width: 33.5em) {
  /* let .half .third etc. express themselves */
  .col.half {
    width: 49.9%;
  }
}

/* > 700px --- phablets */
@media screen and (min-width: 44em) {
  ul.row {
    margin: 0;
    padding: 0;
  }
}

/* > 831px */
@media screen and (min-width: 52em) {
  .col.third, .third {
    width: 33.3%;
  }

  .col.third.two, .third.two {
    width: 66.6%;
  }
/*}*/

/* > 1007px */
/*@media screen and (min-width: 63em) {*/
  .col.fourth, .fourth {
    width: 24.9%
  }

  .col.fourth.three, .fourth.three {
    width: 74.9%;
  }
/*}*/

/* > 1199px */
/*@media screen and (min-width: 75em) {*/
  .col.fifth, .fifth {
    width: 19.9%;
  }

  .col.fifth.two, .fifth.two {
    width: 39.9%;
  }

  .col.fifth.three, .fifth.three {
    width: 59.9%;
  }

  .col.fifth.four, .fifth.four {
    width: 79.9%;
  }

  .col.sixth, .sixth {
    width: 16.6%;
  }

  .col.sixth.five {
    width: 83.3%;
  }
}
