// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  INTERACTION
//
//  links, buttons, inputs, forms, selects
//  styles for anything the user interacts with
//  besides media, figures, or map controls
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/links";
@import "../imports/functions";
@import "../imports/button";


// reset anchors and links
a {
  @include link;
}

:target {
  animation: highlight 1.5s $easing-quick;
  outline: 0;
}

:focus {
  outline: 0;
}

::selection {
  background-color: $color-highlight;
  color: white;
}

// button + button {
//   margin-left: .5em !important;
// }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 1em;
  line-height: normal;
  font-family: inherit;
  vertical-align: baseline;
}

button,
input[type='submit'],
input[type='button'],
a.btn {
  &.std {
    @include btn();
  }
  &.gold {
    @include btn($gold);
  }
  &.aqua {
    @include btn($aqua-dark);
  }
  &.red {
    @include btn($red);
  }
  &.white {
    @include btn($white);
  }
  &.aqua {
    @include btn($aqua-dark);
  }
  &.huge {
    &.gold {
      @include btn($gold, $size: 1.5em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: 1.5em);
    }
    &.red {
      @include btn($red, $size: 1.5em);
    }
    &.white {
      @include btn($white, $size: 1.5em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: 1.5em);
    }
  }

  &.large {
    &.gold {
      @include btn($gold, $size: 1.25em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: 1.25em);
    }
    &.red {
      @include btn($red, $size: 1.25em);
    }
    &.white {
      @include btn($white, $size: 1.25em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: 1.25em);
    }
  }

  &.small {
    &.gold {
      @include btn($gold, $size: .875em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: .875em);
    }
    &.red {
      @include btn($red, $size: .875em);
    }
    &.white {
      @include btn($white, $size: .875em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: .875em);
    }
  }

  &.tiny {
    &.gold {
      @include btn($gold, $size: .75em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: .75em);
    }
    &.red {
      @include btn($red, $size: .75em);
    }
    &.white {
      @include btn($white, $size: .75em);
    }
    &.aqua {
      @include btn($aqua-dark, $size: .75em);
    }

  &.clear {
    @include btn($tint-80);
    padding: .5em 1em;
  }

  &.aqua.large {
    @include btn($aqua-dark, $size: 1.25em);
  }

  &.white.square.small.padded {
    @include btn($color: $white, $size: .875em, $corners: .25em, $pad: #{1.5em 3em});
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.btn + .btn {
  margin-left: .5em;
}

.baseline button {
  margin-bottom: 0;
}

button.text {
  //@include apercu-light;
  background: none;
  border: none;
  color: $grey-mid;
  font-size: .8em;
  text-transform: none;
  // letter-spacing: .5px;
  padding: 1em .75em;
  margin: 0 auto;

  &:active {
    background: none;
    color: $aqua-dark;
  }
}

button.close {
  float: right;
}


// form fields, inputs, labels
fieldset {
  border: 1px solid $grey-lighter;
  outline: none;
  background: $white-off;
  margin: 0 0 0.5em 0;
  padding: 1em;
}

// form elements resets
input,
label,
select {
  display: block;
  font-family: inherit;
  font-size: 100%;
}

select {
  @include btn($color: $white, $size: .75em, $corners: .25em);
  position: relative;
  color: $grey-darker;
  text-align: left;
  background: $white url('../img/down-arrow.svg') no-repeat 92% center;
  background-size: auto 80%;
  // &:after {
  //   content: "\25BC";
  //   position: absolute;
  //   right: .5em;
  // }
}

label {
  font-size: .75em;
  display: block;
  text-indent: 0;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.625em;
}

label span {
  // color: $red;
  // font-size: 1.5em;
  // line-height: 50%;
}

label abbr {
  display: none;
}

select {
  border: 1px solid;
}

textarea {
  margin: 0 0 1em;
  width: 100%;
  color: $grey-mid;
  resize: vertical;
  overflow: scroll;
  padding: .5em 1em;
  font-family: $font-interface;
}

input[type=radio] + label,
input[type=checkbox] + label {
  text-indent: .5em;
}

// either use the indent method above or this one from Google's CSS to place checkbox and radio labels
// input[type=radio],
// input[type=checkbox] {
//   margin-right: .5em;
// }

input[type=radio],
input[type=checkbox],
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline;
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
  @include apercu-light;
  box-sizing: border-box;
  transition: border-color;
  background-color: $color-input-bkgd;
  color: inherit;
  // border: none;
  // border-bottom: 1px solid $grey-lighter;
  // border-radius: 0;
  // padding: .33333em;
  padding: .5em .75em;
  border-radius: 4px;
  border: 1px solid $grey-medium;
  margin-bottom: .5em;
  width: 100%;
  font-size: 1.75em;
  font-weight: 700;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: $grey-mid;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: $grey-mid;
  background-color: $white;
  // -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
  //    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
  //         box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

// input placeholders
::placeholder {
  opacity: .6;
  color: inherit;
  transition: opacity .2s;
}

:focus::placeholder {
  opacity: .4;
}

input::placeholder {
  color: $grey-mid;
}

