// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
//  INTERACTION
//
//  links, buttons, inputs, forms, selects
//  styles for anything the user interacts with
//  besides media, figures, or map controls
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/links";
@import "../imports/functions";
@import "../imports/typography";
@import "../imports/button";
@import "../imports/fonts";


// reset anchors and links
a {
  @include link;
}

:target {
  animation: highlight 1.5s $easing-quick;
  outline: 0;
}

:focus {
  outline: 0;
}

* {
  user-select: auto;
  cursor: default;
}

input, p, a, h1, h2, h3, h4, h5 {
  user-select: auto;
}

button, a {
  cursor: pointer;
}

::selection {
  //background-color: $color-selection-bkgd;
  //color: white;
}

button,
input,
select,
textarea {
  margin: 0;
  /* font-size: 1rem; */
  line-height: normal;
  font-family: inherit;
  vertical-align: baseline;
}

input + button {
  display: block;
}

button,
input[type='submit'],
input[type='button'],
a.btn {
  &.grey, &.std {
    @include btn($grey);
  }
  &.red {
    @include btn($red);
  }
  &.gold {
    @include btn($gold);
  }
  &.green {
    @include btn($green);
  }
  &.teal {
    @include btn($teal);
  }
  &.blue {
    @include btn($blue);
  }
  &.violet {
    @include btn($violet);
  }
  &.white {
    @include btn($white);
  }
  &.std {
    font-size: 1em;
  }
  &.tiny {
    font-size: .75em;
    padding: 0.76em 2em;
    border-radius: 1.4em/50%;
    /* margin: 0.5em; */
    line-height: 100%;
  }
  &.small {
    font-size: .875em;
  }
  &.large {
    font-size: 1.25em;
  }
  &.huge {
    font-size: 1.5em;
  }
  &.wide {
    min-width: 12em;
  }
  &.square {
    border-radius: 3px;
  }
  &.round {
    border-radius: 50%;
    padding: 0;
    width: 2.5rem;
    min-width: 0;
    height: 2.5rem;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &.close {
    margin: 0;
    border: 0;
    background-color: transparent;
    background-image: url('../img/modal-close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    outline: none;
    z-index: 10;
    width: 1.4em;
    height: 1.4em;
  }
  &.text {
    background: none;
    border: none;
    color: $grey-mid;
    font-size: .8em;
    text-transform: none;
    padding: 1em .75em;
    margin: 0 auto;
    &:hover {
      background: none;
      color: $grey-dark;
    }
    &:active {
      background: none;
      color: $green;
    }
  }
  &.center.white.tiny {
    margin: 3em auto 0;
  }
}

.baseline button {
  margin-bottom: 0;
}

// form fields, inputs, labels
fieldset {
  border: 1px solid $grey-lighter;
  outline: none;
  background: $white-off;
  margin: 0 0 0.5em 0;
  padding: 1em;
}

// form elements resets
input,
label,
select {
  display: block;
  font-family: inherit;
  font-size: 100%;
}

label {
  font-size: .70em;
  display: block;
  text-indent: 0;
  font-weight: 600;
}

label.field-label {
  @include apercu-light;
  text-transform: uppercase;
  color: $grey-dark;
  letter-spacing: 0.5px;
  & + input[type="text"],
  & + input[type="email"],
  & + input[type="tel"],
  & + select {
    margin-top: 0.2em;
  }
}

.field {
  position: relative;
  padding-bottom: 1em;
}
.step-bill .field {
  padding-bottom: 0.75em;
}
.step-address .field {
  margin-bottom: 0;
  padding-bottom: 0;
}

label abbr {
  display: none;
}

select {
  border: 1px solid;
}

select option[default] {
  color: $red;
}

textarea {
  margin: 0 0 1em;
  width: 100%;
  color: $grey-mid;
  resize: vertical;
  overflow: scroll;
  padding: .5em 1em;
  font-family: $font-interface;
}

input[type=radio] + label,
input[type=checkbox] + label {
  font-size: 1em;
  padding-left: .5em;
  text-indent: .5em;
  position: relative;
  bottom: -2px;
}

// either use the indent method above or this one from Google's CSS to place checkbox and radio labels
// input[type=radio],
// input[type=checkbox] {
//   margin-right: .5em;
// }

input[type=radio],
input[type=checkbox],
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline;
  cursor: pointer;
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
  @include apercu-light;
  box-sizing: border-box;
  transition: border-color;
  background-color: $color-input-bkgd;
  color: inherit;
  padding: .5em 0 .5em .65em;
  border-radius: 4px;
  border: 1px solid $grey-light;
  margin-bottom: 1em;
  width: 100%;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 250ms $easing-quick;
  -webkit-appearance: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: $grey-mid;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus {
  border-color: $gold !important;
  background-color: $color-input-bkgd-focus;
  box-shadow: $shadow-input;
}

select {
  @include btn($color: $white);
  position: relative;
  padding: 1em;
  padding-right: 2em;
  color: grey(80%);
  text-align: left;
  background: $white url('../img/dropdown-arrow.svg') no-repeat 97% 43%;
  background-size: auto 50%;
  border: 1px solid $grey-mid;
  letter-spacing: inherit;
  min-width: 3em;
  border-radius: 4px;
  &[multiple] {
    @include apercu-bold;
    font-size: .875em;
    letter-spacing: 2px;
    background-image: none;
    option:hover {
      background: tint(.2);
    }
    &:active:not(:disabled) {
      background: inherit;
      color: inherit;
    }
  }
}

select:focus {
  border-color: $gold !important;
  background-color: $color-input-bkgd-focus;
  box-shadow: $shadow-input;
}

select, option {
  text-overflow: ellipsis;
}



// input placeholders
::placeholder {
  opacity: .6;
  color: inherit;
  transition: opacity .2s;
}

:focus::placeholder {
  opacity: 0;
}

input::placeholder {
  color: $grey-mid;
}

@media screen and (min-width: $width-min-med) {
  .field {
    margin-bottom: 1em;
  }
}
