@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/functions";

body {
  background-color: $grey-lightest;
}

main.main {
  width: 100%;
  z-index: 1;
  height: 100%;
}

main.main.main-fixed {
  padding-top: 0;
  overflow: hidden;
  .overlayer {
    box-shadow: 0 1px 3px $color-header-shadow;
  }
}

.underlayer {
  position: relative;
}

.main-fixed .underlayer {
  position: fixed;
  display: block;
}

.overlayer {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: $grey-lightest;
}

.full-height,
.overlay.secondary {
  height: 100%;
}

.overlay {
  position: relative;
  width: 100%;
  background-color: $color-bkgd-primary;
}

.overlay.short {
  padding: 0em 1em 0.5em 1em;
}

.overlay.primary,
.overlay.only {
  padding: 2em;
  text-align: center;
}

.overlay.secondary {
  padding: 2em;
  background: $grey-lightest;
}

.scroll-y {
  overflow-y: scroll;
}

.underlayer {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.underlay {
  top: 0;
  width: 100%;
  height: 100%;
}

.contain {
  max-width: 75rem;
  display: block !important;
  margin: auto;
}
.actionbar {
  margin-top: 1em;
}
.alternav {
  margin: 3em auto 2em auto;
}


@media screen and (max-width: $width-min-lrg) {
  .no-mobile {
    display: none;
  }
}

@media screen and (min-width: $width-min-sml){
  .step-fork .fifth.four {
    width: 100%;
  }
  .step-fork .col.padded {
    padding: 0;
  }
}


@media screen and (max-height: $width-min-med) {
  .no-mobile {
    display: none;
  }
}

@media screen and (min-width: $width-min-med) {
  .step-fork .fifth.four {
    width: 60%;
  }
  .step-fork .col.padded {
    padding: 0;
  }
  .overlay.short {
    padding: 0em 2em 0.5em 2em;
  }
}

@media screen and (min-width: $width-min-lrg) {
  .only-mobile {
    display: none;
  }
  .primary.primary {
    width: 75%;
    width: calc(100% - 20em);
  }
  .only.only {
    width: auto;
    height: 100%;
  }
  .overlay.primary,
  .overlay.only {
    padding: 2em;
  }
  .secondary.secondary {
    width: 25%;
    width: calc(20em - 1px);
  }
  .primary.primary,
  .secondary.secondary {
    display: inline-block;
    height: 100%;

    &.bleed-right {
      padding-right: 0;
    }
  }

  .overlay.primary,
  .overlay.only {
    padding-top: 4em;
    padding-bottom: 7em;
  }

  .step-address.primary,
  .step-bill.primary {
    width: 100%;
  }

  .step-bill .row.padded {
    margin-bottom: 0;
  }

  .step-fork .fifth.four {
    width: 100%;
  }
  .step-fork .col.padded {
    padding: 0;
  }
}

@media screen and (min-width: $width-min-xlg){
  .primary.primary {
    width: calc(100% - 18em);
  }
  .only.only {
    width: auto;
  }
  .secondary.secondary {
    width: calc(18em - 1px);
  }
  .overlay.short {
    padding: 0em 2em 0.5em 2em;
    height: auto;
    box-shadow: 0 0 8px 0 shade(.4);
    &.step-bill {
      padding: 1em 2em .5em;
    }
  }

  .step-fork .fifth.four {
    width: 80%;
  }
  .step-fork .col.padded {
    padding: 0;
  }
}


@media screen and (min-width: $width-min-xxl){
  .step-fork .fifth.four {
    width: 65%;
  }
  .step-fork .col.padded {
    padding: 0;
  }
}
