@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/functions";

body {
  background-color: $grey-lightest;
}

main.main {
  width: 100%;
  z-index: 1;
  /* padding-top: 2.9rem; */
  height: 100%;
}

main.main.main-fixed {
  /* position: fixed; */
  /* top: 2.9rem; */
  /* bottom: 2rem; */
  padding-top: 0;
  overflow: hidden;
  .overlayer {
    box-shadow: 0 1px 3px $color-header-shadow;
  }
}

.overlayer {
  position: relative;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  z-index: 1;
  /* margin-top: 2.9rem; */
  background-color: $grey-lightest;
}

.prospect-form {
  padding-top: 2.9rem;
}

.prospect-form.form-fixed,
.full-height,
.overlay.secondary {
  height: 100%;
}

.overlay {
  position: relative;
  width: 100%;
  background-color: $color-bkgd-primary;
}

.overlay.short {
  padding: 0em 2em 0.5em 2em;
}

.step-bill.overlay.short {
  padding-top: 1em;
}

.overlay.primary,
.overlay.only {
  padding: 2em;
  text-align: center;
}

.overlay.proposal-page {
  background-color: $white-dark;
}

.overlay.secondary {
  padding: 2em;
  background: $grey-lightest;
}

.scroll-y {
  overflow-y: scroll;
}

.underlayer {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-fixed .underlayer {
  position: relative;
  display: block;
}

.underlay {
  top: 0;
  width: 100%;
  height: 100%;
}
.call-sales-rep {
  background: $white;
  width: 100%;
  padding: 1.5em;
}

.contain {
  max-width: 75em;
  display: block !important;
  margin: auto;
}

.drop-top {
  padding-top: 5.1rem;
  font-size: 0.85em;
  line-height: 120%;
}
.drop-top p {
  margin-bottom: 0.75em;
}

.territory-map {
  figure {
  background-image: url('../img/map_regions_2-01.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 180px;
  }
  p.center {
    letter-spacing: 0.1em;
  }
}

.video-vision .video-tray {
  border: none;
}
.video-vision p {
  font-size: 0.75em;
}
.video-mysc {
  width: 70%;
  margin: 3em auto 0 auto;
}
.video-mysc .video-tray {
  border: 1px solid $white;
  margin-bottom: 1.5em;
}

.step-bill h3 {
  margin-bottom: 0;
}

.step-bill button.tiny.gold {
  margin: 1em 0 0 0;
}

.fine-print {
  font-size: 0.7em;
  text-align: left;
  margin-top: 10em;
  color: transparentize($grey-darker, 0.5);
  & p {
    margin-bottom: 1em;
  }
}

.credit-check button.gold {
  min-width: 15em;
}




@media screen and (min-width: $width-min-med){
  .step-bill button.tiny.gold {
    margin: 0;
  }
}


@media screen and (min-width: $width-min-lrg){
  .primary.primary {
    width: 75%;
    width: calc(100% - 20em);
  }
  .only.only {
    width: auto;
    height: 100%;
  }
  .secondary.secondary {
    width: 25%;
    width: calc(20em - 1px);
  }
  .primary.primary,
  .secondary.secondary {
    display: inline-block;
    height: 100%;

    &.bleed-right {
      padding-right: 0;
    }
  }

  .overlay.primary,
  .overlay.only {
    padding-top: 4em;
    padding-bottom: 7em;
  }

  .step-address.primary,
  .step-bill.primary {
    width: 100%;
  }

  .overlay-left.overlay-left {
    overflow: visible;
  }

  .step-address h3 {
    width: 85%;
  }

}

@media screen and (min-width: $width-min-xlg){
  .primary.primary {
    width: calc(100% - 18em);
  }
  .only.only {
    width: auto;
  }
  .secondary.secondary {
    width: calc(18em - 1px);
  }
  .overlay.short {
    padding: 0em 2em 0.5em 2em;
    height: auto;
    box-shadow: 0 0 8px 0 $shade-40;
    &.step-bill {
      padding: 1em 2em .5em;
    }
  }
  .step-address h3 {
    width: 75%;
  }
}

/* prevents the CTA in the tallest right rail from falling out of reach on short screens */
@media screen and (max-height: 778px) {
  .overlay-left.overlay-left {
    overflow-y: scroll;
    .instructions {
      margin-left: 0;
      padding: 2em;
    }
  }
}
