@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/functions";

main.main {
  // height: 100%;
  width: 100%;
  position: relative;
  // HACK: to pull the footer up into view
  // margin-bottom: -10em;
}

.blur {
  
}

.overlayer {
  position: relative;
  top: 0; left: 0;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: hidden;
  background-color: $color-bkgd-primary;
  max-height: 33.3em; // the number of the beast in ems
}

.overlay.primary {
  padding: 3em 2em;
  text-align: center;
  // width: golden-ratio(100);
  // width: 71%;
  // background: $color-bkgd-primary;
}

.overlay.secondary {
  padding: 4em 2em;
  // padding-bottom: 0;
  // padding: 9em 1.5em;
  // width: 100% - golden-ratio(100);
  // width: 29%;
  min-height: 16em;
  position: relative;
  background: $grey-lightest;
}

.overlay.short {
  padding: 2em 2em .5em;
}

.overlay.secondary.short {
  padding-bottom: 0;
}

.underlayer {
  position: fixed;
  z-index: 0;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

.underlay {
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: $width-min-sml){
  .overlay.secondary {
    min-height: 16em;
  }
}

@media screen and (min-width: $width-min-med){
  .overlay.secondary {
    // min-height: 18em;
  }
}

@media screen and (min-width: $width-min-lrg){
  .overlay.secondary {
    min-height: 20em;
  }
}

@media screen and (min-width: $width-min-xlg){
  .overlay.secondary {
    min-height: 30em;
  }
}

@media screen and (min-width: $width-min-xxl){
  // .tray {
  //  width: $width-min-xxl;
  // }
}
