@import "../imports/colors";
@import "../imports/sizes";
@import "../imports/typography";

// image, video, multimedia content size limitations
img, embed, object, video {
  max-width: 100%;
}

// simple fluid media
figure {
  position: relative;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

figure img,
figure object,
figure iframe,
figure embed,
figure video {
  width: 100%;
  display: block;
  height: auto;
  background-color: transparent;
}

.video-tray {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  width: 100%;

  iframe {
    position: absolute;
    width: 101%;
    height: 101%;
  }

  &.framed {
    border: 1px solid #ddd;
    border-radius: 3px;
  }
}

div > div {}
div div {}
div + div {}
.class.name {

}

img {
  -ms-interpolation-mode: bicubic;
}

.video-container {
  width: 100%;
  height: 150px;
  background: transparent;
}

.states {
  text-align: center;
  margin: 1em 0;
  list-style-type: none;

  li {
    display: inline;
    padding-right: 0.5em;
    @include caps();
    font-size: 0.75em;
  }
}

@media screen and (min-width: $width-min-lrg) {
  .video-tray.zip-vid {
    margin-top: 5.3rem;
  }
}
