/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

   LOBOTOMIZED OWL

   informed and inspired by Heydon Pickering's cry for
   non-prescriptive, cascading stylesheets

   wrap flow areas in `.flow` to auto-add vertical rhythm

   http://alistapart.com/article/axiomatic-css-and-lobotomized-owls

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@import "../imports/sizes";

.flow {
  * + * {
    margin-top: $line-height-body;
  }

  .compact * + * {
    margin-top: $line-height-body/2;
  }

  .nowlet > *,
  .margins-off > * {
    margin-top: 0;
  }

  .nowl * {
    margin-top: 0;
  }

  * > a {
    font-family: inherit;
    color: inherit;
  }
}


*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-rendering: optimizeLegibility; */
}
