@media print {
  .step-proposal {
    #bill-slider {
      display: none;
    }
    .actionbar {
      display:none;
    }
    .proposal-redo {
      display:none !important;
    }
    .col.third {
      width: 49.9%;
    }
    label {
      padding: 0 40px 0;
    }
    .down-blk {
      display:none;
    }
    .overlay.only {
      padding-bottom: 0px;
    }
    .fine-print {
      margin-top: -30px;
    }
    span{
      &.icon {
        display:none;
      }
    }
  }
}
