// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

//  TYPOGRAPHY

//  myth uses the current-future spec syntax to set
//  variables for colors, fonts, easing functions, etc.
//
//  to consume these variables in another stylesheet,
//  import this file into it using relative paths:
//
//  @import url("../vars.css")

// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import "../imports/fonts";
@import "../imports/sizes";
@import "../imports/colors";
@import "../imports/functions";
@import "../imports/typography";

// mobile width type styles first
body {
  font-size: em($font-size*.875);
}

h1, h2, h3, h4, h5, h6 {
  color: $color-headline-text;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.col > h1:first-child,
.col > h2:first-child,
.col > h3:first-child,
.col > h4:first-child,
.col > h5:first-child,
.col > h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 1.4em;
  line-height: 1.2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
  margin: .5em auto .5em auto;
  line-height: 120%;
}

h5 {
  @include apercu-medium;
  font-size: 1em;
}

h6 {
  @include apercu-bold;
  font-size: .875em;
}

h4.light-weight {
  @include apercu-light;
}

h4.padding-less {
  margin-bottom: 0.25em;
}

h5, .caps {
  @include caps;
}

h6, .small-caps {
  @include caps("small");
  font-size: 1em;
}

p {
  font-size: .85em;
  margin: 0 auto .75em;
  &.small {
    font-size: .8em;
  }
  &.tiny {
    font-size: .6em;
    line-height: 2;
  }
  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
}

blockquote {
  @include apercu-medium-italic;
  font-size: 1.25em;
  border-left: 2px solid $grey-lighter;
  color: $grey-dark;
  line-height: 1.25em;
  margin: 1em 0;
  padding-left: .5em;
}

cite {
  @include apercu-medium-italic;
  color: $grey-mid;
  font-size: .75em;
  text-align: right;
  display: block;
}

cite:before {
  content: "\2014\00A0";
}

code, kbd, pre, samp {
  font-family: $font-monospace;
}

.center > h1,
.center > h2,
.center > h3,
.center > h4,
.center > h5,
.center > h6,
.center > p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: $width-min-xsm) {
  html {
    font-size: em($font-size*.875);
  }
}
@media screen and (min-width: $width-min-sml) {
  html {
    font-size: $font-size;
  }
}
@media screen and (min-width: $width-min-med) {
  html {
    /* font-size: $font-size; */
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.05em;
    margin: .5em auto .5em auto;
    line-height: 120%;
  }

  h5 {
    @include apercu-medium;
    font-size: 1em;
  }

  h6 {
    @include apercu-bold;
    font-size: .875em;
  }
}

@media screen and (min-width: $width-min-lrg) {
  html {
    /* font-size: $font-size; */
  }
  h1 {
    font-size: 1.75em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.05em;
    margin: .5em auto .5em auto;
    line-height: 120%;
  }

  h5 {
    @include apercu-medium;
    font-size: 1em;
  }

  h6 {
    @include apercu-bold;
    font-size: .875em;
  }
}

@media screen and (min-width: $width-min-xlg) {
  html {
    font-size: em($font-size*1.115);
  }
  h1 {
    font-size: 1.75em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.05em;
    margin: .5em auto .5em auto;
    line-height: 120%;
  }

  h5 {
    @include apercu-medium;
    font-size: 1em;
  }

  h6 {
    @include apercu-bold;
    font-size: .875em;
  }
}

@media screen and (min-width: $width-min-xxl) {
  html {
    font-size: em($font-size*1.15);
  }
  h1 {
    font-size: 1.75em;
    line-height: 1.2em;
    width: 90%;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.05em;
    margin: .5em auto .5em auto;
    line-height: 120%;
  }

  h5 {
    @include apercu-medium;
    font-size: 1em;
  }

  h6 {
    @include apercu-bold;
    font-size: .875em;
  }
}

@media screen and (min-width: $width-min-uhd) {
  html {
    font-size: em($font-size*1.375);
  }
  h1 {
    font-size: 1.75em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.05em;
    margin: .5em auto .5em auto;
    line-height: 120%;
  }

  h5 {
    @include apercu-medium;
    font-size: 1em;
  }

  h6 {
    @include apercu-bold;
    font-size: .875em;
  }
}
