<div fln-overview class="step-proposal">
  <div class="proposal row">
    <div  class="col third">
      <div id="gmap1" class="panelfill"></div>
    </div>
    <div  class="col third">
      <div id="gmap2" class="panelfill"></div>
    </div>
    <div  class="col third">
      <div id="gmap3" class="panelfill"></div>
    </div>
  </div>
  <div class="proposal row">
    <div  class="col third">
      <div id="gmap4" class="panelfill"></div>
    </div>
    <div  class="col third">
      <div id="gmap5" class="panelfill"></div>
    </div>
    <div  class="col third">
      <div id="gmap6" class="panelfill"></div>
    </div>
   </div>
</div>
